<template>
	
	<div>

		<div class="container">

			<div class="ui-block">
				<div class="ui-block-content">
					<ul class="widget w-personal-info">
						<li>
							<span class="title">Name:</span>
							<span class="text">{{eventData.name}}</span>
						</li>
						<li>
							<span class="title">Description:</span>
							<span class="text">{{eventData.description}}</span>
						</li>
						<li>
							<span class="title">Event type:</span>
							<span class="text">{{eventData.event_type == 'participation' ? 'Participation' : 'Competition'}}</span>
						</li>
						<li>
							<span class="title">Number of images:</span>
							<span class="text">{{eventData.number_of_images}}</span>
						</li>
						<li>
							<span class="title">Event status :</span>
							<span class="text">{{eventData.status == 'active' ? 'Active' : 'Closed'}}</span>
						</li>
						<li>
							<span class="title">Entry status:</span>
							<span class="text">{{eventData.entry_status == 'active' ? 'Active' : 'Closed'}}</span>
						</li>					
					</ul>
				</div>
			</div>

		</div>	

	</div>


</template>

<script>
	export default{
		props : [
		'eventData'
		],
	}
</script>


