<template>
	

	<div class="main-header">
		<div class="content-bg-wrap event-detail-bg">		
			<div class="content-bg bg-music"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
					<div class="main-header-content">
						<h1>Upload Images and Start Event!</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="banner-slide">
			<img src="/img/front/illustration/event-detail.png" alt="friends" class="img-bottom for-desktop-only">
			<img src="/img/front/illustration/event-detail-mobile.png" alt="friends" class="img-bottom for-mobile-only">
		</div>
	</div>


	
</template>