<template>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-6 col-lg-3">
				<div class="ui-block">
					<div class="ui-block-title">
						<h6 class="title">Event Creation:</h6>
						<a href="#" class="more">
							<svg class="olymp-three-dots-icon">
								<use
								xlink:href="icons/icons.svg#olymp-three-dots-icon"
								></use>
							</svg>
						</a>
					</div>

					<ol class="widget w-playlist tabs-list-block without-blts">
						<li
						:class="[
						'js-open-popup',
						$route.name == 'event.upload-image'
						? ''
						: 'active'
						]"
						data-popup-target=".playlist-popup"
						>
						<div class="composition">
							<a
							@click.prevent=""
							href="#"
							class="composition-name"
							>Basic Details</a
							>
						</div>
					</li>

					<li
					:class="[
					'js-open-popup',
					$route.name == 'event.upload-image'
					? 'active'
					: ''
					]"
					data-popup-target=".playlist-popup"
					>
					<div class="composition">
						<a
						@click.prevent=""
						href="#"
						class="composition-name"
						>Upload Image</a
						>
					</div>
				</li>
			</ol>
		</div>
	</div>

	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
		<div v-if="$route.name == 'event.create'" class="ui-block">
			<div class="ui-block-title">
				<h6 class="title">Create Event Form</h6>
			</div>
			<div class="ui-block-content">
				<form>
					<div class="row">
						<div
						class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
						>
						<div class="form-group">
							<label class="control-label"
							>Event Name</label
							>
							<input
							v-validate="'required|max:200'"
							name="event name"
							v-model="formData.name"
							class="form-control"
							placeholder="Enter event name"
							type="text"
							/>
						</div>
					</div>

					<div
					class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
					>
					<div class="">
						<label class="control-label"
						>Privacy Type</label
						>
					</div>
					<div class="form-group">
						<multiselect
						v-model="formData.privacy_type"
						:class="{ select: true }"
						name="privacy type"
						v-validate="'required'"
						:placeholder="'Privacy type'"
						:multiple="false"
						track-by="id"
						:allow-empty="false"
						label="name"
						:max="10"
						:options="options"
						>
					</multiselect>
				</div>
			</div>

			<div
			class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
			>
			<div class="form-group">
				<label class="control-label"
				>Event Type</label
				>
				<multiselect
				v-model="formData.event_type"
				:class="{ select: true }"
				name="event type"
				v-validate="'required'"
				:placeholder="'Event type'"
				:multiple="false"
				track-by="id"
				:allow-empty="false"
				label="name"
				:max="10"
				:options="eventTypeOptions"
				>
			</multiselect>
		</div>
	</div>

	<div
	class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
	>
	<div class="form-group">
		<label class="control-label"
		>No of Images</label
		>
		<multiselect
		v-model="formData.number_of_images"
		:class="{ select: true }"
		v-validate="'required'"
		name="number of images"
		:placeholder="'Number of images'"
		:multiple="false"
		track-by="id"
		:allow-empty="false"
		label="name"
		:max="10"
		:options="numberOfImagesOptions"
		>
	</multiselect>
</div>
</div>

<div
class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
>
<div class="form-group">
	<label class="control-label"
	>Write a little description about
	the event</label
	>
	<textarea
	name="description"
	v-validate="'max:500'"
	v-model="formData.description"
	class="form-control"
	placeholder=""
	></textarea>
</div>
</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<button
		@click.prevent="validateBeforeSubmit()"
		:class="[
		'btn',
		'btn-secondary',
		loading ? 'show-spinner' : ''
		]"
		>
		<span>Create</span>
		<loader></loader>
	</button>
</div>

<div
class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
>
<alert-messages
:errorMessages="errorMessages"
:successMessage="successMessage"
></alert-messages>
</div>
</div>
</form>
</div>
</div>

<div
v-if="$route.name == 'event.upload-image'"
class="ui-block vue-dropzone dropzone customize-dropzone"
>
<upload-image-component
:folderKey="'event'"
:formData="formData"
@get-response="getResponse"
:hideHeader="true"
></upload-image-component>
<router-link
:to="{
	name: 'event.home',
	params: {
		id: $route.params.id
	}
}"
:class="[
'btn',
'btn-green upload-skip-btn',
loading ? 'show-spinner' : ''
]"
><span>Skip</span>
</router-link>
</div>
</div>
</div>

<common-methods
@form-submitted="formSubmitted"
@form-error="formError"
:submit="submit"
:formData="submitFormData"
:submitUrl="submitUrl"
:submitType="submitType"
>
</common-methods>
</div>
</template>

<script>
	export default {
		data() {
			return {
				options: [
				{
					id: "private",
					name: "Private"
				},
				{
					id: "public",
					name: "Public"
				}
				],
				eventTypeOptions: [
				{
					id: "competition",
					name: "Competition"
				},
				{
					id: "participation",
					name: "Participation"
				}
				],
				numberOfImagesOptions: [],
				successMessage: "",
				errorMessages: "",
				loading: false,
				formData: {
					name: "",
					type: "private",
					description: ""
				},
				submitUrl: "event",
				submit: false,
				submitType: "post",
				submitFormData: {}
			};
		},
		mounted() {
			for (var i = 1; i <= 20; i++) {
				this.numberOfImagesOptions.push({
					id: i,
					name: i
				});
			}

			if (this.$route.name == "event.upload-image") {
				this.formData.id = this.$route.params.id;
				this.submitFormData.id = this.$route.params.id;
			}
		},
		methods: {
			getResponse(response) {
				this.submitFormData.image = response.name;
				this.submitFormData.id = this.$route.params.id;
				this.formData.id = this.$route.params.id;

				let submitUrl = this.submitUrl + "/" + this.formData.id;
				this.submitUrl = submitUrl;
				this.submitType = "update";
				this.submit = true;
			},
			formSubmitted(response) {
				this.submit = false;
				this.force = false;
				this.loading = false;
				this.submitFormData.id = response.data.id;
				if (this.submitFormData.image) {
					this.$router.push({
						name: "event.home",
						params: { id: this.submitFormData.id }
					});
					return false;
				}
				this.formData.id = response.data.id;
				this.$router.push({
					name: "event.upload-image",
					params: { id: response.data.id }
				});
			},
			formError(response) {
				this.submit = false;
				this.force = false;
			},
			validateBeforeSubmit() {
				this.errorMessages = "";
				this.$validator.validateAll().then(result => {
					if (result) {
						this.submitFormData = JSON.parse(
							JSON.stringify(this.formData)
							);
						this.submitFormData.privacy_type = JSON.parse(
							JSON.stringify(this.formData.privacy_type.id)
							);
						this.submitFormData.event_type = JSON.parse(
							JSON.stringify(this.formData.event_type.id)
							);
						this.submitFormData.number_of_images = JSON.parse(
							JSON.stringify(this.formData.number_of_images.id)
							);

						this.submit = true;
						this.loading = true;
						this.errorMessages = "";
						return;
					}
					this.errorMessages = this.errorBag.all();
				});
			}
		}
	};
</script>
