<template>




	<div class="ui-block" data-mh="friend-groups-item" style="height: 300px;">
		<div class="friend-item friend-groups">

			<div class="friend-item-content">


				<div v-show="showDropDown" class="more">
					<svg class="olymp-three-dots-icon"><use xlink:href="/icons/icons.svg#olymp-three-dots-icon"></use></svg>
					<ul class="more-dropdown">
						<li>
							<a href="#">Report Profile</a>
						</li>
						<li>
							<a href="#">Block Profile</a>
						</li>
						<li>
							<a href="#">Turn Off Notifications</a>
						</li>
					</ul>
				</div>


				<div class="friend-avatar">
					<div class="author-thumb">
						<img class="event-thumb-image" :src="record.displayImage | eventProfileImage" :alt="record.name">
					</div>
					<div class="author-content">
						<router-link :to="{ name : 'event.home' , params : { id : record.id}}" class="h5 author-name">{{record.name}}</router-link>
						<div class="country">{{record.number_of_images}} Image(s) in this Event</div>
					</div>
				</div>

				<ul class="friends-harmonic">
					<li v-for="follower in record.followers">
						<a href="#">
							<img style="height:15px;" :src="follower.follower | userProfileImage" alt="friend">
						</a>
					</li>
				</ul>


				<div v-show="showDropDown" class="control-block-button">
					<a href="#" class="  btn btn-control bg-blue" data-toggle="modal" data-target="#create-friend-group-add-friends">
						<svg class="olymp-happy-faces-icon"><use xlink:href="#olymp-happy-faces-icon"></use></svg>
					</a>

					<a href="#" class="btn btn-control btn-grey-lighter">
						<svg class="olymp-settings-icon"><use xlink:href="#olymp-settings-icon"></use></svg>
					</a>

				</div>


			</div>
		</div>
	</div>



</template>


<script>
	import { directive as onClickaway } from 'vue-clickaway';

	export default{
		directives: {
			onClickaway: onClickaway,
		},
		props : [
		'record',
		'userDetails'
		],
		data(){
			return {
				profileUser : '',
				showDropdown : false,
				
			}
		},
		methods : {
			clickedAway(){
				this.showDropdown = false;
			},

		},
		computed : {
			authUser(){
				return this.$store.getters.getAuthUser;
			},
		},
		watch : { 
			userDetails(value){
				this.profileUser = value;
			}
		},
		
	}
</script>