<template>
	<li class="list-value inline-items">
		<router-link :to="{ name : 'event.home' , params : { id : event.id}}" class="">	
			<div class="author-thumb">
					<img class="event-image" :src="event.displayImage | eventProfileImage" alt="author">
			</div>
            <div class="list-details">
                <h6>{{event.name}}</h6>
                <p>{{event.description}}</p>
                <span class="chat-message-item">{{event.type}}</span>
            </div>			
		</router-link>	
	</li>
</template>

<script>
	export default{
		props : [
		'event'
		]
	}
</script>