<template>

  <b-modal size="lg" id="add-new-user" centered @hidden="onHidden" title-tag="h4" ok-variant="primary" ref="myModalRef" title="Event Image">

    <upload-image-component @get-response="getResponse" :folderKey="'event'" :formData="submitFormData" :hideHeader="true"></upload-image-component>


    <div slot="modal-footer" class="">
      <b-col class="float-left" cols="6">

      </b-col>
    </div>

    <common-methods 

    @form-submitted="formSubmitted"

    :submit="submit"
    :submitUrl="submitUrl"
    :submitType="submitType"
    :formData="submitFormData"

    >

  </common-methods>
  

</b-modal>

</template>

<script>
  export default{
    props : ['showModalValue'],
    data(){
      return {
        imageUploaded : false,
        submitFormData : {

        },
        submit : false,
        loading : false,
        submitUrl : 'event-entry/individual',
        submitType : 'post'
      }
    },
    methods : {
      formSubmitted(response){
        
        this.$refs.myModalRef.hide()
        this.$emit('form-submitted');
        
      },
      showModal() {
        this.$refs.myModalRef.show()
      },
      hideModal() {
        this.$refs.myModalRef.hide()
      },
      onHidden(){
        this.submitFormData = {};
        this.$emit('hide-modal');
      },
      getResponse(response){
        
        this.submitFormData = {
          event_id : this.$route.params.id,
          entry : response
        };

        this.submit = true;
      }
    }, 
    watch : {
      showModalValue(value){
        
        this.submitFormData = {
          id : this.$route.params.id
        };


        if(value){
          this.showModal();
        }
        if(!value){
          this.hideModal();
        }

      },

    }
  }
</script>

<style scoped>
</style>