<template>
	
	<div>

			<event-top-header @event-data="getResponse"></event-top-header>
			<router-view :eventData="eventData"></router-view>

	</div>


</template>

<script>

export default{
	data(){
		return {
			eventData : ''
		}
	},
	methods : {
		getResponse(data){
			this.eventData = data;
		}
	}
}

</script>