<template>
    <div class="account-protected">
        <div class="verticle-align">
            <div class="inner text-center">
                <span class="account-protected-icon"></span>
                <p>Limit already reached</p>

                <center>        
                    <img  src="/images/account-protected.png" alt="">
                </center>


            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            none: true
        }
    }
}

</script>


<style scoped>

.account-protected{
    background: white;
    border-radius: 5px;
}

</style>