<template>
	
	<div class="entry-post-single col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12 user-post feed-post">
		<article class="ui-block hentry post has-post-thumbnail">

			<div class="post__author author vcard inline-items">

				<div class="author-date">

					<div class="post__date">
						<time class="published" datetime="2004-07-24T18:18">
							<center><strong>{{title}}</strong></center>
						</time>
					</div>

				</div>
			</div>

			<div class="post-thumb">
				<img class="entry-image" v-if="post.entry" v-lazy="post.entry.thumbnail_url"  alt="photo">
			</div>

			<div class="post-additional-info inline-items">

				<img v-if="loadingLike" class="loading-image-spinner" src="/images/image-loading-spinner.svg" alt="">
				
				<a v-if="!loadingLike && canLike && post.status" @click.prevent="likePost" href="#" :class="['post-add-icon', 'inline-items' , post.liked ? 'active' : '', eventClosed ? 'disabled' : '']">
					<svg class="olymp-heart-icon"><use xlink:href="/icons/icons.svg#olymp-heart-icon"></use></svg>
					<span>{{ post.userLikes ? post.userLikes.length : 0 }}</span>
				</a>

				<ul class="friends-harmonic">
					<li v-for="user in post.userLikesData">
						<router-link  :to="{ name : 'user.profile.timeline' , params : { id : post.userLikesData[0].id}}">
							<img :src="user | userProfileImage" alt="friend">
						</router-link>
					</li>
				</ul>


				<div class="names-people-likes" v-if="post.userLikesData">
					<router-link :to="{ name : 'user.profile.timeline' , params : { id : 12}}">{{post.userLikesData[0].first_name}}</router-link>
					<span v-if="post.userLikesData.length > 1"> and
						<br>{{post.userLikes.length-1}} more
					</span> 
					liked this
				</div>

			</div>
			
			<button v-if="isAdmin && !post.status" class="btn btn-primary" @click.prevent="showModalValue = true; currentRecord = post">Approve</button>

			<div class="control-block-button post-control-button">


				<img class="loading-image-spinner" src="images/image-loading-spinner.svg" alt="">
				<a v-if="!loadingLike && canLike && post.status" @click.prevent="likePost" href="#" :class="['post-add-icon', 'inline-items' , post.liked ? 'active' : '', eventClosed ? 'disabled' : '']">
					<span>{{ post.userLikes ? post.userLikes.length : 0 }}</span>

					<svg class="olymp-like-post-icon"><use xlink:href="/icons/icons.svg#olymp-like-post-icon"></use></svg>

				</a>

			</div>

		</article>


		<confirm-popup @form-updated="formUpdated" :submitType="'update'" :submitFormData="submitFormData" :submitUrl="submitUrl" @hide-modal="showModalValue = false; currentRecord = ''" :showModalValue="showModalValue"></confirm-popup>

	</div>




</template>

<script>
	export default{
		props : [
		'eventEntry',
		'eventData',
		'title'
		],
		data(){
			return {
				post : '',
				loadingLike : false,
				url : 'event-entry',
				eventDetails : '',
				showModalValue : false,
				currentRecord : '',
				submitFormData : {}
			}
		},
		mounted (){
			if(this.eventData){
				this.eventDetails = this.eventData;
				this.submitFormData.event_id = this.eventData.id;
				this.submitFormData.status = 1;
			}
			this.post = this.eventEntry;
		},
		methods : {
			formUpdated(){

				this.$emit('entry-approved' , this.currentRecord);

			},
			likePost(){
				let self = this;

				this.loadingLike = true;

				let formData = {
					event_id : this.$route.params.id,
					liked : self.post.liked
				};

				let url = 'event-entry/update-like/'+self.post._id;
				
				self.$http.put(url, formData).then(response=>{
					response = response.body.response;
					self.post = response.data;
					if(response.data.likedPreviouslyData){
						self.$emit('update-entries' , response.data.likedPreviouslyData);
					}


					self.loadingLike = false;
				});

			},
		},
		computed : {
			authUserId(){
				return this.$store.getters.getAuthUser.id;
			},
			submitUrl(){
				if(this.currentRecord){ 
					return 'event-entry/individual/approve/'+this.currentRecord._id;
				}
			},
			isAdmin(){
				return this.$store.getters.getAuthUser.id == this.eventDetails.user_id
			},
			canLike(){
				return (this.authUserId == this.eventDetails.user_id || this.eventDetails.isFollowing);
			},
			eventClosed(){
				return  this.eventDetails.status == 'closed';
			}
		},
		watch : {
			eventEntry(value){
				this.post = value;

			},
			eventData(value){
				this.eventDetails = value;
				this.submitFormData.event_id = value.id;
				this.submitFormData.status = 1;

			}
		}
	}
</script>