<template>
    <div>
        <div class="container-fullwidth">
            <div class="site-max-wrapper">
                <div class="row">
                    <!-- Left Sidebar -->
                    <div class="col-xs-12 col-md-3">
                        <aside class="">
                            <event-search-sidebar :searchDone="searchDone" @search="searchValue"></event-search-sidebar>
                        </aside>                    
                    </div>
                    <!-- ... end Left Sidebar -->

                    <!--center block -->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                        <div class="ui-block">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                                    <div id="newsfeed-items-grid">
                                        <div class="ui-block-title">
                                            <h6 class="title">Events</h6>
                                            <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                                        </div>
                                        <!-- W-Friend-Pages-Added -->
                                        <ul class="customize-listing lg-top-btm-pad">
                                            <div class="scrollbar events-scroll">
                                                <div class="force-overflow">
                                                    <event-list-thumbnail :event="event" :key="index" v-for="(event, index) in events"></event-list-thumbnail>                                                        
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <no-records-found v-if="noRecordFound"></no-records-found>

                        </div>

                        <common-methods 
                        @get-response="getResponse"
                        :url="requestUrl"
                        >
                    </common-methods>
                    
                </div>
                <!-- end center block -->

                <!-- right block -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <aside class="right-dare-panel right-home-panel ">
                        <div class="ui-block">
                            <div class="ui-block-title">
                                <h6 class="title">Dare
                                    <button  @click.prevent="showDareModal = true;" :class="['create-btn']"><span><i class="icon-add"></i></span>
                                    </button>
                                </h6>
                            </div>
                            <div class="scrollbar events-dare-scroll">
                                <div class="force-overflow">
                                    <div class="g-padding create-dare-block">
                                        <photo-cards :currentRecord="currentRecord" @form-updated="formUpdated" @get-response="getDareRecord" :url="dareUrl"></photo-cards>                                           
                                    </div>
                                </div>
                            </div>                              
                        </div>
                    </aside>  
                </div>                
                <!-- end right block end-->     
            </div>
        </div>
    </div>

    <dare-images @form-updated="formUpdated" @hide-modal="showModal = false;" :showModalValue="showModal" :record="currentRecord"></dare-images>
    <upload-dare-image @form-updated="formUpdated" @hide-modal="showDareModal = false;" :showModalValue="showDareModal"></upload-dare-image> 


</div>
</template>

<script>
    export default{
        data(){
            return{
                currentRecord : '',
                newPost : '',
                records : [],
                dareUrl : 'dare?status=accepted&pagination=true&show_all=true',
                eventUrl : 'event?pagination=true',
                showNoRecordFound : false,
                search : '',
                showModal : false,
                showDareModal : false,
                formData : [],
                submit : false,
                searchDone : false,
                events : [],
                noRecordFound : false
            }
        },
        mounted(){
        },
        computed : { 
            routeName(){
                return this.$route.name;
            },
            requestUrl(){
                return this.eventUrl;
            }
        },
        methods: {
            searchValue(formData){
                this.loading = true;
                this.noRecordFound = false;
                
                var newDate = new Date().getMilliseconds();

                this.eventUrl = 'event?pagination=true&name='+this.formData.name+'&time='+newDate;

            },
            getResponse(response){
                let self = this;
                if(Object.keys(response.data).length || response.noRecordFound){
                    this.searchDone = !this.searchDone;

                    _.forEach(response.data , function(item){
                        self.events.push(item);
                    })

                    if(response.noRecordFound){
                        self.events = [];
                    }

                    this.noRecordFound = response.noRecordFound;

                    this.loading = false;

                }

            },
            getDareRecord(response){
                this.showModal = true;
                this.currentRecord = response;
            },
            postCreated(data){
                this.newPost = data;
            },
            formUpdated(response){
                this.currentRecord = response;
            },
        }
    }
</script>
