<template>
	<div class="container">
		<div class="row">
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="ui-block responsive-flex">
					<div>
						<div v-if="eventDetails && Object.keys(eventDetails).length && Object.keys(authUser).length" class="ui-block-title">
							<div class="row">
								<div class="col-lg-12 col-md-12">
									<div class="">
										<ul class="float-left profile-menu profile-menu-links text-left">
											<li>
												<router-link tag="a" :to="{ name : 'event.home' , params : { id : $route.params.id }}">Timeline</router-link>	
											</li>
											<li>
												<router-link v-if="isAdmin && isCompetition" tag="a" :to="{ name : 'event.upload-images' , params : { id : $route.params.id }}">Upload Images</router-link>						
											</li>
											<li>
												<router-link v-if="isAdmin && !isCompetition" tag="a" :to="{ name : 'event.submitted-images' , params : { id : $route.params.id }}">Submitted Images</router-link>								
											</li>
											<li>
												<router-link tag="a" :to="{ name : 'event.about' , params : { id : $route.params.id }}">About</router-link>												
											</li>
											<li>
												<router-link tag="a" :to="{ name : 'event.followers' , params : { id : $route.params.id }}" class="active">Followers</router-link>
											</li>						
											
											<li v-if="!isAdmin" class="pull-right">
												<button @click.prevent="followUser();" :class="['btn' ,  'btn-primary' ,  loading ? 'show-spinner' : '']"><span>{{eventDetails.isFollowing ? 'Following' : 'Follow'}}</span>
													<loader></loader>
												</button>
											</li>


											<li v-if="isAdmin" class="pull-right">
												<font-awesome-icon @click.prevent="showDropdown = true; ; submit = true;" icon="cog" size="lg"/>
											</li>

											
											<li v-if="maxFilesLimit && eventDetails.isFollowing && !isCompetition && !eventDetails.userEntry" class="pull-right">
												<button class="btn btn-success" @click.prevent="showDareModal = true">Upload Image</button>

											</li>
										</ul>
									</div>	
									<!-- action items  -->
									<ul class="mb-0 float-right nav nav-tabs photo-gallery ul-event-actions ">
										
										<li v-show="isAdmin && !eventClosed" class="nav-item  float-right">
											<a class="nav-link" href="javascript:;">
												<button title="invite user" @click.prevent="showInvite = true;" :class="['create-btn invite']"><span><i class="icon-group_add"></i></span>
												</button>
											</a>
										</li>

										<li v-show="isAdmin && !isCompetition && !entryClosed && !eventClosed" class="nav-item pull-right">
												<a class="nav-link" href="javascript:;">
													<button @click.prevent="showModalValue = true; closeParticipation()" :class="['btn' ,  'btn-info']"><span>Close Participations</span>
													</button>													
												</a>
										</li>

										<li v-show="isAdmin && !eventClosed" class=" nav-item float-right">
											<a class="nav-link" href="javascript:;">
												<button @click.prevent="showModalValue = true; closeEvent()" :class="['create-btn remove']"><span><i class="icon-close"></i></span>
												</button>
											</a>	
										</li>
										
										<li class="nav-item  float-right">
											<a class="nav-link pointer-events-none" href="javascript:;" title="Status">
												<span :class="['event-status  success' , eventDetails.status == 'closed' ? 'btn-danger' : 'btn-success']">
													{{eventDetails.status ? eventDetails.status.toUpperCase() : '' }}
												</span>										
											</a>
										</li>

									</ul>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<event-invite-user 
	@hide-modal="hideModal()"
	:url="'user/search/follower'"
	:showModalValue="showInvite"
	>

	</event-invite-user>

	<event-submit-image 
	@form-submitted="formSubmitted"
	@hide-modal="showDareModal = false;"
	:showModalValue="showDareModal"
	>
		
	</event-submit-image>

	<confirm-popup
	:title="popupTitle"
	:showModalValue="showModalValue"
	@form-updated="formUpdated"
	:submitType="'update'"
	:submitFormData="submitFormData"
	:submitUrl="submitUrl"
	@hide-modal="hideModal()">
	</confirm-popup>


</div>


</template>

<script>
	export default{
		props : [
		'eventData'
		],
		components : {
			'event-invite-user' : require('../common/EventUserInvite')
		},
		mounted (){
		},
		data(){
			return {
				loading : false,
				url : 'follower',
				eventDetails : '',
				showDareModal : false,
				submitFormData : {
					status : ''
				},
				showModalValue : false,
				showInvite : false,
				popupTitle : ''
			}
		},
		methods : {
			sendInvites(users){
				this.$store.dispatch('sendEventInvites' , users);
			},
			hideModal(){
				this.showInvite = false;
				this.showModalValue = false;
				this.submitFormData.status = '';
				this.submitFormData.entry_status = '';
			},
			closeParticipation(){

				this.popupTitle = 'Are you sure you want to close participation for this event?';

				this.submitFormData = {
					entry_status : 'closed'
				}
			},
			closeEvent(){

				this.popupTitle = 'Are you sure you want to close this event?';

				this.submitFormData = {
					status : 'closed'
				}
			},
			formUpdated(){
				console.log('fomr updated');
				window.location.reload();

			},
			formSubmitted(){

				this.$router.push({ name : 'event.home' , params : { id : this.$route.params.id}});
				
			},	
			followUser(){
				let self = this;

				let data = { 
					type : 'event',
					follow_id : this.$route.params.id,
					follow : !this.eventDetails.isFollowing
				};

				self.loading = true;
				self.$http.post(self.url , data).then(response=>{
					response = response.body.response;
					this.eventDetails.isFollowing = response.data.isFollowing;
					response = {
						data : this.eventDetails
					}
					this.$emit('get-response' , response);
					self.loading = false;

				}).catch(error=>{

					self.loading = false;

				});

			},
		},
		computed : {
			eventClosed(){
				return this.eventDetails ? this.eventDetails.status == 'closed' : false;
			},
			entryClosed(){
				return this.eventDetails ? this.eventDetails.entry_status == 'closed' : false;
			},
			maxFilesLimit(){
				return (this.eventDetails.number_of_images - this.eventDetails.uploadedImagesCount) > 0 ? this.eventDetails.number_of_images - this.eventDetails.uploadedImagesCount : 0;
			},
			authUser(){
				return this.$store.getters.getAuthUser;
			},
			isAdmin(){
				return this.$store.getters.getAuthUser.id == this.eventDetails.user_id;
			},
			isCompetition(){
				return this.eventDetails.event_type != 'participation';
			},
			submitUrl(){
				return 'event/'+this.eventDetails.id;
			}
		},
		watch : {
			eventData(value){
				if(value){
					this.eventDetails = value;
					
				}
			}

		}
	}

</script>