<template>
	<div class="container">
		<div class="row">
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="ui-block responsive-flex">
					<div>
						<div class="ui-block-title">
							<div class="row">
								<center>	
									<h4>
										{{title}}
									</h4>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default{
		props : ['title']
	}
</script>