<template>
	<div class="left-sidebar">
		<div class="ui-block">
		<div class="ui-block-title border-btm-none"><h6 class="title">Search</h6></div>
			<div class="ui-block-title">
				<input @keyup.enter="search" v-model="formData.name" type="text" class="form-control" />
				<button @click.prevent="search" :class="['btn btn-block search-btn' ,  'btn-primary' ,  loading ? 'show-spinner' : '']"><span>Search</span>
					<loader></loader>
				</button>
			</div>
		</div>
	</div>
</template>

<script>
	export default{
		props : [
		'searchDone'
		],
		data(){
			return{
				formData : {
					name : ''
				},
				loading : false
			}
		},
		mounted(){
		},
		methods: {
			search(){
				if(!this.formData.name){
					return false;
				}


				this.loading = true;
				this.$emit('search', this.formData);
			}
		},
		watch : {
			searchDone(value){
				this.loading = false
			}
		}
	}
</script>
