<template>
	
	<div class="event-home">
		
		<div class="container">

			<no-records-found v-if="!eventEntries.length"></no-records-found>

			<div class="row col-md-12 col-sm-12 col-xs-12">

				<event-entry :eventData="eventData" @update-entries="updateEntries" :key="eventEntry._id" v-for="eventEntry in eventEntries" :eventEntry="eventEntry"></event-entry>

			</div>
		</div>

		<common-methods 

		@get-response="getResponse"

		:url="requestUrl"
		>
	</common-methods>


</div>


</template>

<script>
	export default{
		props : [
		'eventData'
		],
		data(){
			return{
				url : 'event-entry',
				formData : {
					entries : [

					]
				},
				submit : false,
				submitType : 'update',
				loading : false,
				eventEntries  : [],
				urlValue : ''
			}
		},
		mounted (){

			this.urlValue = this.url + '?status=0&pagination=true&event_id='+this.$route.params.id;

		},
		methods : {
			getResponse(response){
				if(response.data){
					this.eventEntries = response.data;
				}
			},
			updateEntries(updatedEntries){
				let self = this;
				for (var i = updatedEntries.length - 1; i >= 0; i--) {

					let indexValue = _.find(self.eventEntries, function (entry, index) {
						if(updatedEntries[i]._id == entry._id){
							self.eventEntries[index] = updatedEntries[i];
							self.$forceUpdate();
						}
					});


				}
			}
		},
		computed : {
			requestUrl(){
				return this.urlValue;
			}
		},
		watch : {
			$route(to, from){
				
				var newDate = new Date();
				this.urlValue = this.url + '?pagination=true&event_id='+this.$route.params.id+'&time='+newDate;

			},
			eventData(value){
				console.log(value,1)
			}
		}
	}
</script>