<template>	
	<div>
		<event-banner-area></event-banner-area>
		<event-menu-bar @get-response="getResponse" :eventData="eventData" v-if="routeName != 'event.create' && routeName !== 'event.upload-image'"></event-menu-bar>	
		<event-main-title :title="eventData.name" v-if="routeName == 'event.home'"></event-main-title>		
		<common-methods 
		@get-response="getResponse"
		:url="requestUrl" 
		:hideLoader="true"
		>
	</common-methods>
</div>
</template>
<script>
	export default{
		props : [

		],
		data(){
			return{
				url : 'event',
				submit : false,
				loading : false,
				eventData : false,
				urlValue : ''
			}
		},
		mounted (){

			var newDate = new Date();
			this.urlValue = this.url + '/' + this.$route.params.id + '?time='+newDate;

		},
		methods : {
			getResponse(response){
				if(response.data){
					this.eventData = response.data;
					this.$emit('event-data' , this.eventData);				
				}
			},
		},
		computed : {
			routeName (){
				return this.$route.name;
			},
			requestUrl(){
				return this.urlValue;
			},
		},
		watch : {
			'$route.params.id'(){
				var newDate = new Date();
				this.urlValue = this.url + '/' + this.$route.params.id + '?time='+newDate;
			}

		}
	}
</script>