<template>
	<div>
		<div class="container">
			<div v-if="maxFilesLimit">
				<dropzone-component
					:maxFilesLimit="maxFilesLimit"
					@file-uploaded="fileUploaded"
				></dropzone-component>

				<center class="margin-top-20">
					<button
						@click.prevent="validateBeforeSubmit()"
						:class="[
							'btn',
							'btn-secondary',
							'btn-lg',
							'',
							loading ? 'show-spinner' : ''
						]"
					>
						<span>Save and Continue</span>
						<loader></loader>
					</button>
				</center>
			</div>

			<event-images-limit
				v-if="!maxFilesLimit && eventDetails.length"
			></event-images-limit>
		</div>

		<common-methods
			@get-response="getResponse"
			@form-submitted="formSubmitted"
			:url="requestUrl"
			:submit="submit"
			:submitUrl="submitUrl"
			:submitType="submitType"
			:formData="formData"
		>
		</common-methods>
	</div>
</template>

<script>
export default {
	props: [],
	data() {
		return {
			url: "event",
			formData: {
				entries: []
			},
			submit: false,
			submitType: "store",
			loading: false,
			submitUrl: "event-entry",
			eventDetails: [],
			maxFilesLimit: null
		};
	},
	mounted() {},
	methods: {
		getResponse(response) {
			if (Object.keys(response.data).length) {
				if (response.data.event_type != "competition") {
					this.$router.push({
						name: "event.home",
						params: { id: this.$route.params.id }
					});
				}
				this.eventDetails = response.data;
				this.maxFilesLimit =
					this.eventDetails.number_of_images -
						this.eventDetails.uploadedImagesCount >
					0
						? this.eventDetails.number_of_images -
						  this.eventDetails.uploadedImagesCount
						: 0;
			}
		},
		fileUploaded(response) {
			this.formData.entries.push({ image: response });
		},
		validateBeforeSubmit() {
			this.formData.event_id = this.$route.params.id;

			if (this.formData.entries.length) {
				this.submit = true;
				this.loading = true;
			}
		},
		formSubmitted() {
			this.submit = false;
			this.loading = false;

			this.$router.push({
				name: "event.home",
				params: { id: this.$route.params.id }
			});
		}
	},
	computed: {
		requestUrl() {
			return this.url + "/" + this.$route.params.id;
		}
	},
	watch: {}
};
</script>
