<template>

    <div>
        <post @confirm-delete="currentRecord = record; showModalValue = true;" :key="record._id" v-for="record in records" :record="record.post"></post>
        
        <common-methods :infiniteLoad="true"  :url="requestUrl" @get-response="getResponse"></common-methods>

        <confirm-popup @form-deleted="formDeleted" :submitType="'delete'" :submitUrl="submitUrl" @hide-modal="showModalValue = false;" :showModalValue="showModalValue"></confirm-popup>


        <no-records-found v-if="showNoRecordFound"></no-records-found> 

    </div>

</template>	


<script>
    export default{
        props : ['newPost'],
        data(){
            return{
                records : [],
                url : 'feed?pagination=true',
                showNoRecordFound : false,
                search : '',
                pagination : '',
                showModalValue : false,
                currentRecord : ''

            }
        },
        mounted () {
            let self = this;
            setTimeout(function () {
                self.subscribeChannel();
            } , 2000);

        },

        computed : {
            requestUrl(){
                return this.url;
            },
            submitUrl(){
                if(this.currentRecord){ 
                    return 'post/'+this.currentRecord.post._id;
                }
            }
        },
        methods: {
            async formDeleted(){
                let self = this;
                this.records.splice(this.records.indexOf(_.find(this.records, function(record, index){
                    return record.post._id == self.currentRecord.post._id;
                })) , 1);

                // console.log(index, this.records , this.records.length , 123132);
                if(!this.records.length){
                    this.showNoRecordFound = true;
                }
            },
            subscribeChannel(){
                self = this
                let channelName = 'App.Data.Models.Feed.'+this.$store.getters.getAuthUser.id;
                window.Echo.private(channelName) .notification((notification) => {
                    self.records.unshift({  post : notification.notifying_object.post });                
                });
            },

            getResponse(response){
                if(response.data){
                    for (var i = 0 ; i <  response.data.length; i++) {

                        this.records.push(response.data[i]);
                    }
                }
                if(response.noRecordFound){
                    this.showNoRecordFound = response.noRecordFound; 
                }
            }

        },
        watch :{
            newPost(value){
                let data =  {
                    post : value
                };
                this.showNoRecordFound = false;
                this.records.unshift(data);
            }
        }
    }
</script>
