<template>


    <div class="ui-block friend-card-btm-space">
        <div class="friend-item">
            <div class="friend-header-thumb">
                <img src="/images/banner-orange.jpg" alt="friend">
            </div>

            <div class="friend-item-content">
                <div v-show="showDropDown" class="more">
                    <svg class="olymp-three-dots-icon"><use xlink:href="/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                    <ul class="more-dropdown">
                        <li>
                            <a href="#">Report Profile</a>
                        </li>
                        <li>
                            <a href="#">Block Profile</a>
                        </li>
                        <li>
                            <a href="#">Turn Off Notifications</a>
                        </li>
                    </ul>
                </div>

                <div class="friend-avatar">
                    <div class="author-thumb">
                        <img :src="user | userProfileImage" alt="author">
                    </div>
                    <div class="author-content">
                        <router-link :to="{ name : 'user.profile.main' , params : { id : user.id }}" class="h5 author-name">{{user | fullName}}</router-link>
                    </div>
                </div>

                     <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div style="display: flex;" class="friend-count" data-swiper-parallax="-500">

                                <router-link tag="a" :to="{ name : 'user.profile.follower' , params : { id : user.id }}" class="h5 author-name">

                                    <div class="h6">{{record.followers_count}}</div>
                                    <div class="title">Followers</div>

                                </router-link>

                                <router-link tag="a" :to="{ name : 'user.profile.timeline' , params : { id : user.id }}" class="h5 author-name">

                                    <div class="h6">{{record.posts_count}}</div>
                                    <div class="title">Photos</div>

                                </router-link>



                                <router-link tag="a" :to="{ name : 'user.profile.dare' , params : { id : user.id }}" class="h5 author-name">

                                    <div class="h6">{{record.dares_count}}</div>
                                    <div class="title">Dares</div>

                                </router-link>

                            </div>
<!--                             <div class="control-block-button" data-swiper-parallax="-100">

                                <a href="#" class="btn btn-control bg-purple">
                                    <svg class="olymp-chat-messages-icon"><use xlink:href="icons/icons.svg#olymp-messages-icon"></use></svg>
                                </a>

                            </div>
                        -->                        </div>

                        <div class="swiper-slide">
                            <div class="friend-since" data-swiper-parallax="-100">
                                <span>Friends Since:</span>
                                <div class="h6">{{record.formatted_friends_since}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- If we need pagination -->
                </div>
            </div>
        </div>
    </div>

</template>


<script>
    export default{
        props : [
        'user',
        'record'
        ],
        data(){
            return {
                showDropDown : false
            }
        },
        computed : {
        },
        methods: {
        },
        watch : {
            record(){

            }
        }

    }

</script>

