<template>
    <div class="ui-block left-sidebar">

        <div class="ui-block border-none mb-0">
            <div class="ui-block-title">
                <h6 class="title">Events
                    <router-link data-intro="Create your first event and get started with your first competition." class="create-btn"  tag="a" :to="{ name : 'event.create'}">
                        <span><i class="icon-add"></i></span>
                    </router-link>
                </h6>
            </div>
            <!-- W-Friend-Pages-Added -->
            <no-records-found v-if="noRecordFound"></no-records-found>
            <ul class="customize-listing event-listing-home">
                <router-link tag="a" :to="{ name : 'event.home' , params : {id : event.id}}" :key="event.id" v-for="event in events" class="list-value inline-items">
                    <div class="author-thumb">
                        <img class="event-image" :src="event.displayImage | eventProfileImage" alt="author">
                    </div>
                    <div class="list-details">
                        <h6>{{event.name}}</h6>
                        <span class="chat-message-item">{{event.status}}</span>
                        <span class="chat-message-item">{{event.type}}</span>
                    </div>
                </router-link>
            </ul>
            <!-- .. end W-Friend-Pages-Added -->
        </div>
        <div class="ui-block-title">
            <router-link v-if="!loading" :to="{name : 'events.main'}" class="btn btn-primary btn-sm">View All</router-link >
            <common-methods 
            @form-submitted="formSubmitted"
            @get-response="getResponse" 
            @form-error="formError" 
            :url="url"
            :force="force"
            :submit="submit"
            :formData="formData" 
            :submitUrl="submitUrl" 
            :hideLoader="hideLoader"
            :submitType="submitType" 
            :infiniteLoad="infiniteLoad"
            >
        </common-methods>
        </div>
    </div>


</template>

<script>
    export default{
        data(){
            return{
                image:'fdafa',
                url : 'event?per_page=3&pagination=true',
                submitUrl : 'submitUrl',
                submitType : 'post',
                infiniteLoad : false,
                submit : false,
                force : false,
                hideLoader : false,
                successMessage : '',
                errorMessages : '',
                loading : true,
                formData : {
                },
                events : [],
                noRecordFound : false,
            }
        },
        mounted(){
        },
        methods: {
            formSubmitted(response){
                this.submit = false;
                this.force = false;
            },
            formError(response){
                this.submit = false;
                this.force = false;
            },
            getResponse(response){
                if(Object.keys(response.data).length || response.noRecordFound){
                    this.events = response.data;
                    this.loading = false;
                    this.noRecordFound = response.noRecordFound;
                }
                this.submit = false;
                this.force = false;
            }
        },
    }
</script>
