<!DOCTYPE html>
<html lang="{{ app()->getLocale() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{{ config('app.name', 'Laravel') }}</title>

    <!-- Scripts -->
    <script src="{{ asset('js/app.js') }}" defer></script>
    <script src="{{ asset('front/app.js') }}" defer></script>

    @include('initializers.facebook-initializer')

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">



    <!-- Styles -->
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body class="landing-page login-page">
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                        
                    </ul>
                </div>
            </div>
        </nav>

        <main class="py-4">
            

            <div class="content-bg-wrap">
                <div class="content-bg login-content-bg"></div>
            </div>


            <!-- Login-Registration Form  -->

            <div class="container">
                <div class="row display-flex">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="landing-content">
                            <h1>Welcome to the Biggest Social Network in the World</h1>
                            <p>We are the best and biggest social network with 5 billion active users all around the world. Share you
                                thoughts, write blog posts, show your favourite music via Stopify, earn badges and much more!
                            </p>
                        </div>
                    </div>

                    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="registration-login-form">
                            
                            <div class="tab-content">
                                
                                <div class="tab-pane active" id="profile" role="tabpanel" data-mh="log-tab">
                                    <div class="title h6"><center>Login to your Account</center></div>
                                    <form class="content">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12">

                                                <a  href="#" class="fb-connect-btn btn btn-lg bg-facebook full-width btn-icon-left"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</a>

                                                <center>
                                                    <h5>Pictait</h5>
                                                </center>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>
</body>
</html>
