<template>
    <div>
<!--         
        <i class="icon-assignment_ind top-header-icons" @click="myDares"></i> -->
        <i class="icon-event_available top-header-icons" @click="myEvents"></i>
        <div class="ui-block-title" style="display: none;">
            <h6 class="title">Pages You May Like</h6>
            <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>
        <div class="container-fullwidth">
            <div class="site-max-wrapper">
                <ul class="btn-double-mobile">
                    <li @click="isEventActive = true"> <span class=""><i class="icon-event_available" ></i> Events</span></li>
                    <li @click="myDares"><span class=""><i class="icon-event_available" ></i> Dare</span></li>
                </ul>
                <div class="row">
                    <div class="col-xs-12 col-md-3 events-left-panel" :class="{active: isEventActive}">
                        <i class="icon-close" @click="isEventActive = false"></i>
                        <!-- Left Sidebar -->
                        <aside class="">
                            <home-profile-block></home-profile-block>
                        </aside>
                        <!-- ... end Left Sidebar -->                        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                        <main v-if="$route.name != 'post.show'" class="">
                            <div class="ui-block">
                                <div class="news-feed-form">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                                            <create-post @post-created="postCreated"></create-post> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="newsfeed-items-grid">
                                <feeds :newPost="newPost"></feeds>
                            </div>
                        </main>
                        <single-post v-if="$route.name == 'post.show'"></single-post>
                    </div>

                    <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-4 my-dares-right" :class="{active: isDareActive}">
                    <i class="icon-close" @click="isDareActive = false"></i>
                        <!--right dare panel -->
                        <aside class="right-dare-panel right-home-panel ">
                            <div class="ui-block">
                                <div class="ui-block-title">
                                    <h6 class="title">Dare
                                        <button data-intro="Create your first dare and challenge your friends for your first image challenge."  @click.prevent="showDareModal = true;" :class="['create-btn']"><span><i class="icon-add"></i></span>
                                        </button>
                                    </h6>
                                    <!--<h6 data-intro="Check out these awesome links" class="title">Dare
                                        <button  @click.prevent="showDareModal = true;" :class="['create-btn']"><span><i class="icon-add"></i></span>
                                        </button>
                                    </h6>-->
                                </div>
                                <div class="scrollbar">
                                    <div class="force-overflow">
                                        <div class="g-padding create-dare-block">
                                            <photo-cards :currentRecord="currentRecord" @form-updated="formUpdated" @get-response="getDareRecord" :url="dareUrl"></photo-cards>                                           
                                        </div>
                                    </div>
                                </div>                              
                            </div>
                        </aside>  
                        <!--right dare panel -->                      
                    </div>
                </div>
                <div class="row">
                    <!-- Main Content -->

                    <!-- ... end Main Content -->



                    <!-- Right Sidebar -->

                    <!-- ... end Right Sidebar -->
                </div>
                <dare-images @form-updated="formUpdated" @hide-modal="showModal = false;" :showModalValue="showModal" :record="currentRecord"></dare-images>
                <upload-dare-image @form-updated="formUpdated" @hide-modal="showDareModal = false;" :showModalValue="showDareModal"></upload-dare-image> 
            </div>
        </div> 
        <guidance-popup></guidance-popup>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                currentRecord : '',
                newPost : '',
                records : [],
                dareUrl : 'dare?status=accepted&pagination=true&show_all=true',
                showNoRecordFound : false,
                search : '',
                showModal : false,
                showDareModal : false,
                isEventActive: false,
                isDareActive: false
            }
        },
        mounted(){
            console.log(this.$route.query);
            if(this.$route.query.first_time_user){
             const introJS = require("intro.js");
             introJS.introJs().start();
         }

     },
     methods: {
        formUpdated(response){
            this.currentRecord = response;
        },
        getDareRecord(response){
            this.showModal = true;
            this.currentRecord = response;
        },
        postCreated(data){
            this.newPost = data;
        },
        myEvents: function(){
            this.isEventActive = !this.isEventActive;
        },
        myDares: function(){
            this.isDareActive = !this.isDareActive;
        }
    }
}
</script>
