<template>
	<div
		:class="[
			'photo-album-item-wrap style-1',
			photoWidth ? photoWidth : 'half-width'
		]"
	>
		<div class="photo-album-item" data-mh="album-item">
			<center class="posted-by-name">
				<router-link
					v-if="user"
					:to="{
						name: 'user.profile.timeline',
						params: { id: user.id }
					}"
					><strong>{{ user | fullName }}</strong></router-link
				>
			</center>

			<div class="">
				<div v-if="dareImageUrlValue">
					<div class="photo-item">
						<a v-if="dareModal" @click.prevent="addLike" href="#">
							<img
								:src="dareImageUrlValue"
								class="dare-image"
								alt="photo"
							/>
						</a>

						<img
							v-if="!dareModal"
							:src="dareImageUrlValue"
							class="dare-image"
							alt="photo"
						/>

						<div
							v-if="!dareModal"
							class="overlay overlay-dark"
						></div>

						<a
							@click.prevent="
								$emit('show-dare-modal', currentRecord);
							"
							href="#"
							:class="[
								'post-add-icon',
								'inline-items',
								dareLiked ? 'active' : ''
							]"
						>
							<svg v-if="!loadingLike" class="olymp-heart-icon">
								<use
									xlink:href="/icons/icons.svg#olymp-heart-icon"
								></use>
							</svg>
							<span>{{ dareLikes ? dareLikes : 0 }}</span>
						</a>

						<a
							v-if="!dareModal"
							@click.prevent="
								$emit('show-dare-modal', currentRecord);
							"
							href="#"
							data-toggle="modal"
							data-target="#date-images-modal"
							class="  full-block"
						></a>
					</div>

					<div class="content">
						<span class="sub-title"
							>Added :
							{{ currentRecord.formatted_created_at }}</span
						>

						<div class="swiper-container" data-slide="fade">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img
										v-if="loadingLike"
										class="loading-image-spinner"
										src="/images/image-loading-spinner.svg"
										alt=""
									/>
									<a
										v-if="!loadingLike"
										@click.prevent="addLike"
										href="#"
										:class="[
											'post-add-icon',
											'inline-items',
											dareLiked ? 'active' : ''
										]"
									>
										<svg class="olymp-heart-icon">
											<use
												xlink:href="/icons/icons.svg#olymp-heart-icon"
											></use>
										</svg>
										<span>{{
											dareLikes ? dareLikes : 0
										}}</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div v-if="!dareImageUrlValue && authUser && user">
					<div class="photo-item">
						<img
							v-if="!dareModal"
							:src="dareImageUrlValue | dareImagePlaceHolder"
							class="dare-image"
							alt="photo"
						/>

						<img
							v-if="
								record.status != 'accepted' &&
									dareModal &&
									authUser.id != user.id
							"
							:src="dareImageUrlValue | dareImagePlaceHolder"
							class="dare-image"
							alt="photo"
						/>

						<div
							v-if="!dareModal"
							class="overlay overlay-dark"
						></div>

						<a
							v-if="!dareModal"
							@click.prevent="
								$emit('show-dare-modal', currentRecord);
							"
							href="#"
							:class="[
								'post-add-icon',
								'inline-items',
								dareLiked ? 'active' : ''
							]"
						>
							<svg class="olymp-heart-icon">
								<use
									xlink:href="icons/icons.svg#olymp-heart-icon"
								></use>
							</svg>
							<span>{{ dareLikes ? dareLikes : 0 }}</span>
						</a>

						<a
							v-if="!dareModal"
							@click.prevent="
								$emit('show-dare-modal', currentRecord);
							"
							href="#"
							data-toggle="modal"
							data-target="#date-images-modal"
							class="full-block"
						></a>

						<upload-image-component
							:folderKey="'dare'"
							@get-response="getResponse"
							:hideHeader="true"
							v-if="
								record.status == 'accepted' &&
									dareModal &&
									authUser.id == user.id
							"
						></upload-image-component>
					</div>

					<div
						class="content"
						v-if="!dareModal && authUser.id == user.id"
					>
						<span class="sub-title"
							>Please click on the image to get started
						</span>
					</div>
				</div>
			</div>
		</div>

		<common-methods
			@form-submitted="formSubmitted"
			:submitUrl="submitUrl"
			:submitType="'update'"
			:formData="submitFormData"
			:submit="submit"
		></common-methods>
	</div>
</template>

<script>
export default {
	props: [
		"photoWidth",
		"imageUrl",
		"record",
		"totalLikes",
		"user",
		"userType",
		"liked",
		"dareModal"
	],
	data() {
		return {
			loadingLike: false,
			submit: false,
			submitFormData: {
				type: "",
				user_id: ""
			},
			currentRecord: "",
			dareLikes: 0,
			dareLiked: "",
			url: "",
			dareUpdateUrl: "",
			dareImageUrl: ""
		};
	},
	mounted() {
		if (this.record) {
			this.currentRecord = this.record;
		}

		this.dareLikes = this.totalLikes;

		this.dareLiked = this.liked;

		this.dareImageUrl = this.imageUrl;
	},
	computed: {
		submitUrl() {
			if (this.dareUpdateUrl) {
				return this.dareUpdateUrl + "/" + this.record._id;
			}

			if (this.record) {
				return "dare/like" + "/" + this.record._id;
			}
		},
		authUser() {
			return this.$store.getters.getAuthUser;
		},
		dareImageUrlValue() {
			return this.dareImageUrl;
		}
	},
	methods: {
		addLike() {
			this.loadingLike = true;
			this.submitFormData.type = this.userType;
			this.submitFormData.user_like_id = this.user.id;
			this.submitFormData.id = this.currentRecord._id;
			this.submitFormData.liked = this.dareLiked;
			this.submit = true;
		},
		formSubmitted(response) {
			this.submit = false;
			this.currentRecord = response.data;

			if (this.userType == "user") {
				this.dareLikes = this.currentRecord.userLikesCount;

				this.dareLiked = this.currentRecord.userLikedByMe;
			}

			if (this.userType == "challenger") {
				this.dareLikes = this.currentRecord.challengerLikesCount;
				this.dareLiked = this.currentRecord.challengerLikedByMe;
				this.dareImageUrl = this.currentRecord.challengerImagePath;
			}

			this.loadingLike = false;
			this.dareUpdateUrl = "";
			this.$emit("form-updated", this.currentRecord);
		},
		getResponse(response) {
			this.dareUpdateUrl = "dare";
			this.submitFormData.challengerImage = response.name;
			this.submit = true;
		}
	},
	watch: {
		record(value) {
			if (value) {
				this.currentRecord = value;
			}
		},
		totalLikes(likesCount) {
			this.dareLikes = likesCount;
		},
		liked(value) {
			this.dareLiked = value;
		},
		imageUrl(value) {
			this.dareImageUrl = value;
		}
	}
};
</script>
