<template>


	<div>

		<div v-for="record in records">

			<div class="dare-images-thumb-box row">
				<div class="col-xs-12 col-md-6">
					<photo-card @form-updated="formUpdated"  :liked="record.userLikedByMe" :userType="'user'" @show-dare-modal="showDareModal" :user="record.user" :totalLikes="record.userLikesCount" :imageUrl="record.userImagePath" :record="record" :photoWidth="'half-width'"></photo-card>					
				</div>
				<div class="col-xs-12 col-md-6">
					<photo-card @form-updated="formUpdated" :liked="record.challengerLikedByMe" :userType="'challenger'" @show-dare-modal="showDareModal" :user="record.challenger" :totalLikes="record.challengerLikesCount" :imageUrl="record.challengerImagePath" :record="record" :photoWidth="'half-width'"></photo-card>
				</div>
			</div>

		</div>

		<no-records-found v-if="showNoRecordFound"></no-records-found>

		<common-methods :infiniteLoad="true" :url="url" @get-response="getResponse"></common-methods>

	</div>


</template>


<script>
	export default{
		props : ['url', 'updatedIndex', 'currentRecord'],
		data(){
			return{
				newPost : '',
				records : [],
				showNoRecordFound : false,
				search : '',
				records : [],
			}
		},
		mounted(){
			let self = this;
			setTimeout(function () {
				self.subscribeChannel();
			} , 2000);
		},
		methods: {
			subscribeChannel(){
				self = this

				let channelName = 'App.Data.Models.Dare.'+this.$store.getters.getAuthUser.id;
				window.Echo.private(channelName) .notification((notification) => {

					if(notification.action == 'image_uploaded'){

						self.records.unshift(notification.notifying_object);
					}
				});
			},
			formUpdated(response){
				this.$emit('form-updated' , response);
			},

			getResponse(response){
				if(response.data){

					for (var i = 0; i < response.data.length; i++) {
						this.records.push(response.data[i]);
					}

				}
				if(response.noRecordFound){
					this.showNoRecordFound = true;
				}
			},
			showDareModal(record){
				this.$emit('get-response' , record);
			}
		},
		watch : {
			url(value){
			},
			currentRecord(value){
				let self = this;
				_.find(this.records , function(record, index){
					if(record._id == value._id){
						self.records[index] = value;
						self.$forceUpdate();
					}
				});

			}
		}
	}
</script>
