@font-face {
  font-family: 'icomoon';
  src: url(/fonts/icomoon.eot?7a7af69e5b8476ec2e7dbea73e41c3ec);
  src: url(/fonts/icomoon.eot?7a7af69e5b8476ec2e7dbea73e41c3ec) format("embedded-opentype"), url(/fonts/icomoon.ttf?b38a387e3ed1b83c5a44f762236e19d3) format("truetype"), url(/fonts/icomoon.woff?846971d07e91c6d1451ca43f3f55c267) format("woff"), url(/fonts/icomoon.svg?307054f0ca319331b76097ae67d66b7a) format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\E859";
}

.icon-apps:before {
  content: "\E5C3";
}

.icon-arrow_downward:before {
  content: "\E5DB";
}

.icon-arrow_drop_down:before {
  content: "\E5C5";
}

.icon-arrow_drop_up:before {
  content: "\E5C7";
}

.icon-arrow_forward:before {
  content: "\E5C8";
}

.icon-arrow_upward:before {
  content: "\E5D8";
}

.icon-aspect_ratio:before {
  content: "\E85B";
}

.icon-poll:before {
  content: "\E801";
}

.icon-assignment:before {
  content: "\E85D";
}

.icon-assignment_ind:before {
  content: "\E85E";
}

.icon-attach_file:before {
  content: "\E226";
}

.icon-cloud_upload:before {
  content: "\E2C3";
}

.icon-border_color:before {
  content: "\E22B";
}

.icon-build:before {
  content: "\E869";
}

.icon-cached:before {
  content: "\E86A";
}

.icon-phone:before {
  content: "\E0CD";
}

.icon-cancel:before {
  content: "\E5C9";
}

.icon-change_history:before {
  content: "\E86B";
}

.icon-check:before {
  content: "\E5CA";
}

.icon-check_box:before {
  content: "\E834";
}

.icon-check_circle:before {
  content: "\E86C";
}

.icon-navigate_before:before {
  content: "\E408";
}

.icon-navigate_next:before {
  content: "\E409";
}

.icon-close:before {
  content: "\E5CD";
}

.icon-cloud_circle:before {
  content: "\E2BE";
}

.icon-cloud_done:before {
  content: "\E2BF";
}

.icon-cloud_download:before {
  content: "\E2C0";
}

.icon-photo_library:before {
  content: "\E413";
}

.icon-collections_bookmark:before {
  content: "\E431";
}

.icon-content_paste:before {
  content: "\E14F";
}

.icon-mode_edit:before {
  content: "\E254";
}

.icon-create_new_folder:before {
  content: "\E2CC";
}

.icon-done:before {
  content: "\E876";
}

.icon-done_all:before {
  content: "\E877";
}

.icon-edit_location:before {
  content: "\E568";
}

.icon-markunread:before {
  content: "\E159";
}

.icon-insert_invitation:before {
  content: "\E24F";
}

.icon-event_available:before {
  content: "\E614";
}

.icon-event_busy:before {
  content: "\E615";
}

.icon-event_note:before {
  content: "\E616";
}

.icon-favorite:before {
  content: "\E87D";
}

.icon-favorite_border:before {
  content: "\E87E";
}

.icon-free_breakfast:before {
  content: "\EB44";
}

.icon-my_location:before {
  content: "\E55C";
}

.icon-people:before {
  content: "\E7FB";
}

.icon-group_add:before {
  content: "\E7F0";
}

.icon-headset:before {
  content: "\E310";
}

.icon-headset_mic:before {
  content: "\E311";
}

.icon-hearing:before {
  content: "\E023";
}

.icon-help:before {
  content: "\E887";
}

.icon-help_outline:before {
  content: "\E8FD";
}

.icon-highlight_off:before {
  content: "\E888";
}

.icon-keyboard_arrow_down:before {
  content: "\E313";
}

.icon-keyboard_arrow_left:before {
  content: "\E314";
}

.icon-keyboard_arrow_right:before {
  content: "\E315";
}

.icon-keyboard_arrow_up:before {
  content: "\E316";
}

.icon-keyboard_backspace:before {
  content: "\E317";
}

.icon-keyboard_voice:before {
  content: "\E31D";
}

.icon-photo_size_select_actual:before {
  content: "\E432";
}

.icon-pin_drop:before {
  content: "\E55E";
}

.icon-play_arrow:before {
  content: "\E037";
}

.icon-play_circle_filled:before {
  content: "\E038";
}

.icon-play_circle_outline:before {
  content: "\E039";
}

.icon-power_settings_new:before {
  content: "\E8AC";
}

.icon-rotate_left:before {
  content: "\E419";
}

.icon-rotate_right:before {
  content: "\E41A";
}

.icon-sentiment_dissatisfied:before {
  content: "\E811";
}

.icon-sentiment_neutral:before {
  content: "\E812";
}

.icon-sentiment_satisfied:before {
  content: "\E813";
}

.icon-sentiment_very_dissatisfied:before {
  content: "\E814";
}

.icon-sentiment_very_satisfied:before {
  content: "\E815";
}

.icon-verified_user:before {
  content: "\E8E8";
}

.icon-videocam:before {
  content: "\E04B";
}

.icon-videocam_off:before {
  content: "\E04C";
}

.icon-view_headline:before {
  content: "\E8EE";
}

.icon-view_list:before {
  content: "\E8EF";
}

.icon-view_module:before {
  content: "\E8F0";
}

.icon-volume_down:before {
  content: "\E04D";
}

.icon-volume_mute:before {
  content: "\E04E";
}

.icon-volume_off:before {
  content: "\E04F";
}

.icon-volume_up:before {
  content: "\E050";
}

.icon-zoom_out_map:before {
  content: "\E56B";
}

.icon-add:before {
  content: "\E901";
}

.icon-star_border:before {
  content: "\E900";
}

.icon-stats-bars2:before {
  content: "\E99D";
}

.icon-cancel-circle:before {
  content: "\EA0D";
}

.icon-image:before {
  content: "\E90D";
}

.icon-minus:before {
  content: "\F068";
}

.icon-minus-square:before {
  content: "\F146";
}

.icon-plus-square:before {
  content: "\F0FE";
}

.icon-plus:before {
  content: "\F067";
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #515365;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.3;
  color: #515365;
}

.h6,
h6 {
  font-size: 13px;
}

img {
  max-width: 100%;
}

/*===
	Base Styling
===*/

.primary-color-bg,
.btn.btn-primary {
  background: #6c50a5;
}

.primary-color-text {
  color: #6c50a5;
}

.secondary-color-bg,
.btn.btn-secondary,
.create-btn {
  background: #f5851f;
}

.secondary-color-text,
a {
  color: #f5851f;
}

.font-size-base,
.form-control,
textarea {
  font-size: 14px !important;
}

p {
  font-size: 14px;
  color: #515365;
}

.form-control:focus,
textarea:focus {
  border-color: #ebe7f3;
}

.news-feed-form textarea.form-control {
  padding: 22px 25px !important;
  height: 120px;
}

.global-shadow,
.create-btn {
  -webkit-box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.2);
}

.global-border,
.ui-block {
  border: solid 1px #e6ecf5;
  /*	box-shadow: 0 0 7px 2px rgba(0,0,0,0.02);*/
}

.landing-page:before,
.landing-page .content-bg {
  background-color: transparent !important;
}

@media (max-width: 767px) {
  .container-fullwidth {
    padding-top: 17px;
    display: block;
    clear: both;
    overflow: hidden;
  }
}

.site-max-wrapper {
  max-width: 1318px;
  position: relative;
  margin: 32px auto;
}

@media (max-width: 1400px) {
  .site-max-wrapper {
    max-width: 96%;
  }
}

@media (max-width: 767px) {
  .site-max-wrapper {
    margin: 10px auto;
  }
}

.Aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.Aligner-item--bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.g-padding {
  padding: 20px;
}

.card {
  border: none !important;
  -webkit-box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 20px;
}

/*
	Scrollbar
*/

.scrollbar {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
}

.scrollbar.events-scroll {
  height: calc(100vh - 227px);
}

@media (max-width: 768px) {
  .scrollbar.events-scroll {
    height: calc(100vh - 440px);
  }
}

.scrollbar.events-scroll .force-overflow {
  min-height: 0;
}

.scrollbar.events-dare-scroll {
  height: calc(100vh - 212px) !important;
}

@media (max-width: 768px) {
  .scrollbar.events-dare-scroll {
    height: calc(100vh - 425px) !important;
  }
}

.scrollbar.events-dare-scroll .force-overflow {
  min-height: 0;
}

.force-overflow {
  min-height: 450px;
}

/*
 *  STYLE 4
 */

.scrollbar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #6c50a5;
  border: 0px solid #555555;
  border-radius: 3px;
}

.header {
  z-index: 99;
}

@media (max-width: 767px) {
  .header {
    height: 82px;
  }
}

.header-height {
  position: relative;
  height: 60px;
}

@media (max-width: 767px) {
  .header-height {
    height: 82px;
  }
}

/*
 *  STYLE 5
 */

.btn {
  font-size: 14px;
  padding: 0.8rem 1.7rem;
}

.btn.btn-md {
  font-size: 17px;
}

.btn.btn-sm {
  font-size: 12px;
  padding: 10px;
}

.btn.search-btn {
  margin-top: 15px;
  margin-bottom: 7px;
}

.btn.btn-control {
  padding: 0;
  line-height: 41px;
}

.custom-upload-field {
  width: 100%;
  border: dashed 1px #b9bdd3;
  background: #f7f7f7;
  margin-top: 20px;
  position: relative;
  border-radius: 8px;
  min-height: 145px;
}

.custom-upload-field hr {
  display: none;
}

.custom-upload-field h2 {
  display: none;
}

.custom-upload-field .icon-upload {
  width: 50px;
  height: 50px;
  margin: 20px auto 0;
  display: block;
}

.custom-upload-field input {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  opacity: 0;
}

.custom-upload-field hr {
  display: none !important;
  opacity: 0;
}

.custom-upload-field p {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: block;
  top: 75px;
  font-size: 20px;
}

.create-btn {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  color: #515365;
  display: inline-block;
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  outline: none !important;
  font-size: 0px;
}

.create-btn i {
  color: #fff !important;
}

.create-btn.remove {
  background: #dc3545;
}

.create-btn.remove i {
  color: #fff !important;
}

.create-btn.success {
  background: #449d44;
}

.create-btn.invite {
  background: #6c50a5;
}

.create-btn svg {
  width: 16px;
  fill: #fff;
}

.create-btn span {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create-btn span i {
  font-size: 22px;
  height: auto;
  color: #fff;
  position: relative;
  left: 0px;
  top: -0px;
}

.login-page {
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#01acd8), color-stop(#009ed3), color-stop(#008fcc), color-stop(#0081c4), color-stop(#0072bb), color-stop(#2068b5), color-stop(#325dad), color-stop(#3f52a4), color-stop(#51489c), color-stop(#5f3c91), color-stop(#6b2f85), to(#741e77));
  background-image: linear-gradient(to right bottom, #01acd8, #009ed3, #008fcc, #0081c4, #0072bb, #2068b5, #325dad, #3f52a4, #51489c, #5f3c91, #6b2f85, #741e77);
}

.login-page .content-bg-wrap {
  background-color: transparent !important;
}

.login-page .auth-wrapper {
  height: auto;
  -webkit-box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.2);
  padding: 50px;
}

@media (max-width: 767px) {
  .login-page .auth-wrapper {
    width: 96%;
    max-width: 365px;
    padding: 25px;
  }
}

.login-page h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .login-page h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }
}

.login-page .login-content {
  max-width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .login-page .login-content {
    text-align: center;
  }
}

.login-page .fb-connect-btn {
  max-width: 235px;
  margin: 0;
  display: block;
}

@media (max-width: 767px) {
  .login-page .fb-connect-btn {
    margin: 0 auto;
  }
}

.auth-wrapper {
  display: block;
  width: 100%;
  max-width: 825px;
  position: relative;
}

@media (max-width: 768px) {
  .auth-wrapper {
    max-width: 96%;
  }
}

.login-graphics {
  position: absolute;
  right: 20px;
  width: 302px;
  height: 358px;
  top: 4%;
  background-image: url(/images/login-graphics.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right top;
  pointer-events: none;
  z-index: 5;
}

@media (max-width: 767px) {
  .login-graphics {
    position: relative;
    display: block;
    width: 200px;
    margin: 0 auto;
    height: 218px;
    top: 0;
    right: 0;
  }
}

.login-corner-design {
  position: absolute;
  right: -2px;
  width: 594px;
  height: 100%;
  top: -2px;
  background-image: url(/images/login-gredient.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right top;
  pointer-events: none;
  display: none;
}

.registration-login-form {
  border: none;
  /*	border-top: solid 1px $section-divider;*/
  border-radius: 0px !important;
  margin: 28px 0 0;
  padding-top: 10px;
}

.registration-login-form .title {
  font-weight: 500;
  font-size: 19px;
  border: none;
  padding: 12px;
}

.registration-login-form .tab-content .tab-pane {
  height: auto !important;
  border: none !important;
  padding: 0 !important;
}

.molecules__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #ccc;
}

.header {
  background-color: #6c50a5;
  display: block !important;
}

@media (max-width: 1140px) {
  .header {
    padding-right: 0;
    padding-left: 0;
  }
}

.header-content-wrapper .top-header-icons {
  font-size: 24px;
  color: #fff;
}

.header-content-wrapper .control-icon {
  margin-right: 0px;
  width: 24px;
  top: 0px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header-content-wrapper .control-icon {
    width: 18px !important;
    margin-right: 20px;
  }
}

.header-content-wrapper .control-icon svg {
  width: 100% !important;
  max-width: 100% !important;
}

@media (max-width: 767px) {
  .header-content-wrapper .control-icon.control-icon-1 {
    width: 17px !important;
    top: -2px;
  }

  .header-content-wrapper .control-icon.control-icon-2 {
    width: 20px !important;
  }

  .header-content-wrapper .control-icon.control-icon-3 {
    width: 15px !important;
    top: -1px;
  }

  .header-content-wrapper .control-icon.control-icon-4 {
    width: 14px !important;
    top: -2px;
  }
}

.header-content-wrapper .notification-icon {
  position: relative;
  top: 3px;
}

.header-content-wrapper .dare-icon {
  position: relative;
  top: 2px;
}

@media (max-width: 1140px) {
  .header-content-wrapper {
    display: block;
  }

  .header-content-wrapper .control-block {
    position: relative;
    float: right;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 6px 0;
  }
}

@media (max-width: 1140px) and (max-width: 768px) {
  .header-content-wrapper .control-block {
    padding-top: 16px;
  }
}

@media (max-width: 1140px) and (max-width: 767px) {
  .header-content-wrapper .control-block {
    padding-top: 10px;
  }
}

.icon-event_available,
.icon-assignment_ind {
  color: #fff;
  font-size: 20px;
  display: none;
}

@media (max-width: 768px) {
  .icon-event_available.top-header-icons,
  .icon-assignment_ind.top-header-icons {
    position: fixed;
    right: 211px;
    top: 21px;
    z-index: 99;
    display: block;
  }
}

@media (max-width: 768px) and (max-width: 767px) {
  .icon-event_available.top-header-icons,
  .icon-assignment_ind.top-header-icons {
    display: none;
  }
}

@media (max-width: 767px) {
  .icon-event_available.top-header-icons,
  .icon-assignment_ind.top-header-icons {
    right: 202px;
    top: 11px;
  }
}

@media (max-width: 767px) {
  .icon-assignment_ind.top-header-icons {
    right: 238px;
  }
}

.app-logo {
  display: inline-block;
  max-width: 106px;
  float: left;
  margin-right: 30px;
  position: relative;
  top: 9px;
  left: 15px;
}

@media (max-width: 767px) {
  .app-logo {
    max-width: 70px;
  }
}

.search-bar.w-search {
  background: #614894;
}

@media (max-width: 768px) {
  .search-bar.w-search {
    max-width: 290px;
  }
}

@media (max-width: 767px) {
  .search-bar.w-search {
    position: fixed;
    top: 44px;
    width: 100%;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 38px;
    min-height: 0;
  }

  .search-bar.w-search .form-group.with-button {
    height: 38px;
  }

  .search-bar.w-search .form-group.with-button input {
    height: 38px !important;
  }

  .search-bar.w-search .form-group.with-button button {
    background: #614894 !important;
  }
}

.search-bar .form-group.with-button input {
  color: #fff;
  height: 61px !important;
}

.search-bar .form-group.with-button button {
  color: #696d87;
  fill: #919191;
  background-color: #614894;
  width: 50px;
}

.control-block svg {
  color: #fff;
}

.control-block .control-icon {
  margin-top: 0;
}

.ui-block.border-none {
  border: 0;
}

.ui-block .ui-block-title h6.title {
  font-size: 16px;
  position: relative;
  top: -4px;
}

.ui-block .ui-block-title h6 .create-btn {
  position: absolute;
  right: -12px;
  top: -4px;
}

.right-home-panel {
  height: auto;
  overflow-y: scroll;
  position: relative;
  right: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 91px;
}

@media (max-width: 767px) {
  .right-home-panel {
    top: 0px;
  }
}

.right-home-panel .force-overflow {
  min-height: 0;
}

.author-page.author.vcard {
  margin-left: -2px;
}

.author-thumb img {
  height: 40px;
  width: auto;
}

@media (max-width: 768px) {
  .author-thumb img {
    height: 30px;
  }
}

@media (max-width: 767px) {
  .author-thumb img {
    height: 25px;
  }
}

.author-thumb .icon-status.online {
  top: -1px;
  left: -1px;
  border: 2px solid #32e4cd;
  width: 12px;
  height: 12px;
  background: #fff;
}

.left-sidebar.ui-block {
  padding: 0;
}

.widget.customize-listing > a.inline-items {
  position: relative;
  padding: 15px 20px;
}

.widget.customize-listing.event-listing-home > a.inline-items h6 {
  margin-top: 5px;
}

.widget.customize-listing.event-listing-home > a.inline-items:last-child {
  border: none;
  padding-bottom: 0;
}

.widget.customize-listing.event-listing-home > a .notification-icon {
  margin-top: 6px;
}

.widget.customize-listing.event-listing-home .event-image {
  height: 34px !important;
  width: auto !important;
}

.widget.customize-listing .notification-event {
  max-width: calc(100% - 40px);
  display: inline-block;
  vertical-align: top;
}

.icon-add:after {
  display: none;
}

/*
	upload panel icon style
*/

.upload-panel.upload-icon-style {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 2px 0 0 0;
  display: inline-block;
  background: none;
  border: none;
  overflow: hidden;
}

.upload-panel.upload-icon-style .custom-file {
  opacity: 1;
  position: relative;
}

.upload-panel.upload-icon-style .custom-file i {
  color: #9a9fbf;
  font-size: 23px;
}

.upload-panel.upload-icon-style .custom-file input {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/*
	notification drop down block
*/

.notifications-dropdown {
  width: 350px;
  top: 42px;
  right: -21px;
  padding: 0 0 35px 0;
  position: absolute;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 15px 0.5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 15px 0.5px rgba(0, 0, 0, 0.04);
}

@media (max-width: 768px) {
  .notifications-dropdown {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .notifications-dropdown {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.notifications-dropdown.padding-bottom-0 {
  padding-bottom: 0;
}

.notifications-dropdown:before {
  content: "";
  width: 20px;
  height: 20px;
  border-bottom: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  right: 29px;
  position: absolute;
  top: -19px;
}

@media (max-width: 767px) {
  .notifications-dropdown:before {
    right: 94px;
  }
}

.notifications-dropdown .ui-block-title {
  height: 42px;
  padding: 10px 20px;
}

.notifications-dropdown .ui-block-title .title {
  font-size: 14px;
  color: #373b56;
  text-transform: capitalize;
}

.notifications-dropdown .ui-block-title .title-action {
  font-size: 13px;
  text-transform: capitalize;
  position: relative;
  top: 4px;
}

.notifications-dropdown.top-menu-dropdown {
  padding: 0;
  max-width: 160px;
  text-align: center;
  top: 51px;
  right: -13px;
}

.notifications-dropdown.top-menu-dropdown ul {
  padding: 10px 15px;
}

.notifications-dropdown.top-menu-dropdown ul li a {
  padding: 8px 0;
}

.right-home-panel {
  overflow: hidden;
}

.photo-album-item-wrap {
  float: left;
}

.photo-album-item-wrap a {
  display: block;
  padding: 8px 0;
}

.photo-album-item-wrap .photo-item {
  border-radius: 0;
  height: 180px;
  overflow: hidden;
}

.photo-album-item-wrap .photo-item img {
  width: 100%;
  height: auto;
  max-height: none;
  min-height: unset;
}

.photo-album-item-wrap .photo-item .post-add-icon {
  display: none;
}

.photo-album-item-wrap .content {
  position: relative;
  margin: 0;
  padding: 12px 8px;
}

.photo-album-item-wrap .content .sub-title {
  font-size: 11px;
  text-align: left;
  margin-bottom: 0;
}

.photo-album-item-wrap .content .swiper-container {
  position: absolute;
  position: absolute;
  right: 5px;
  top: 5px;
}

.photo-album-item-wrap .content .swiper-container a {
  padding: 0;
}

.photo-album-item-wrap .content .swiper-container .post-add-icon .olymp-heart-icon {
  margin-right: 1px;
  width: 14px;
  height: 15px;
}

.photo-album-item-wrap .content .swiper-container .post-add-icon span {
  font-size: 11px;
}

.create-dare-block .photo-album-item-wrap.half-width {
  width: 100%;
  padding: 0;
  margin: 0 0 30px 0;
}

.add-options-message {
  position: relative;
}

@media (max-width: 767px) {
  .add-options-message {
    padding: 8px 22px;
  }

  .add-options-message button {
    float: right;
    margin-top: 0;
  }
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status-uploaded-thumnail {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 70px;
  height: 55px;
  margin: 0;
  overflow: hidden;
}

.status-uploaded-thumnail img {
  vertical-align: top;
  width: 100px;
  height: auto;
  display: block;
}

@media (max-width: 767px) {
  .status-uploaded-thumnail img {
    width: 52px;
  }
}

.status-uploaded-thumnail:hover .img-overlay {
  opacity: 1;
  pointer-events: auto;
}

.status-uploaded-thumnail:hover .img-overlay i {
  font-size: 22px;
  color: #c5c5c5;
  cursor: pointer;
}

.view-all {
  padding: 11px 20px;
}

.view-all.with-secondary-bg {
  background: #e6ecf5;
  color: #515365;
}

.notification-list .selectize-dropdown-content > *.un-read,
.notification-list li.un-read {
  border-radius: 8px;
}

.right-dare-panel .scrollbar {
  height: calc(100vh - 210px);
}

@media (max-width: 767px) {
  .right-dare-panel .scrollbar {
    height: 100vh;
  }
}

.notification-list .notification-event {
  width: 84% !important;
}

.notification-list .notification-event h6 {
  width: 74%;
}

.notification-list .notification-event a:last-child {
  margin-left: 4px;
}

.notification-list li {
  padding: 20px;
}

.notification-list li .notification-icon {
  position: absolute;
  right: 12px;
  top: 12px;
}

.notification-list li .notification-icon a {
  padding: 0.2rem;
}

.notification-list li .notification-icon .accept-request span:before,
.notification-list li .notification-icon .accept-request span:after {
  display: none;
}

#add-new-user .photo-album-item-wrap .photo-item {
  height: 345px;
}

.guideline-popup .modal-content {
  border-radius: 12px;
  background: #6c50a5;
  border-color: #6c50a5;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.guideline-popup .modal-body {
  width: 500px;
}

.guideline-popup .modal-body .icon-cancel {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.modal.fade .modal-dialog.modal-dialog-centered {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  min-height: calc(100% - 1rem);
}

@media (min-width: 576px) {
  .modal.fade .modal-dialog.modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
}

.guider-image {
  width: 115px;
  float: left;
}

.guider-content {
  float: right;
  width: calc(100% - 135px);
  padding-top: 27px;
}

.guider-content h4,
.guider-content p {
  color: #fff;
}

.guider-content h4 {
  font-weight: 400;
}

.guider-content p {
  line-height: 24px;
}

.header-spacer-small {
  height: 60px;
}

.main-header {
  padding: 0;
  max-width: 100%;
  margin: 0 auto 30px;
  position: relative;
  background-position: 100%;
  height: 300px;
}

.main-header .main-header-content {
  padding-top: 30px;
}

/*
	Form settings
*/

label {
  color: #515365 !important;
  font-weight: 600 !important;
  margin-bottom: 10px !important;
  font-size: 14px !important;
}

.form-control {
  height: 44px !important;
  padding: 12px 16px !important;
  font-size: 14px !important;
}

.multiselect__input,
.multiselect * {
  font-size: 14px !important;
}

.tabs-list-block {
  padding: 20px;
}

.tabs-list-block li {
  background: #e6ecf5;
  border-radius: 8px;
  padding: 0 0 !important;
  margin: 0 0 10px;
  list-style: none;
}

.tabs-list-block li:hover {
  background: #e6ecf5;
}

.tabs-list-block li a {
  padding: 10px 15px;
  font-size: 14px;
}

.tabs-list-block li.active {
  background: #f5851f;
}

.tabs-list-block li.active a {
  color: #fff;
}

.tabs-list-block.without-blts li:before {
  display: none;
}

.border-btm-none {
  border-bottom: 0;
}

.customize-listing .list-value {
  padding: 10px 25px !important;
  display: block;
  position: relative;
  border-bottom: solid 1px #e6ecf5;
}

.customize-listing .list-value:last-child {
  border-bottom: 0px;
}

.customize-listing .list-value .author-thumb {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 100%;
  vertical-align: top;
  background-size: cover;
  background-position: center;
}

.customize-listing .list-value .author-thumb img {
  width: auto;
  height: 40px;
}

.customize-listing .list-value .list-details {
  width: calc(100% - 62px);
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.customize-listing .list-value .list-details p {
  margin-bottom: 0;
}

.customize-listing .list-value a {
  display: block;
}

.customize-listing.lg-top-btm-pad .list-value {
  padding: 20px 25px !important;
}

.customize-listing.event-listing-home {
  margin-bottom: 0;
}

.customize-listing.event-listing-home .list-value .author-thumb {
  vertical-align: middle;
}

@media (max-width: 767px) {
  .profile-menu-links {
    display: block;
    float: none !important;
  }
}

.profile-menu-links li {
  margin-right: 15px;
}

@media (max-width: 768px) {
  .profile-menu-links li {
    margin-right: 2px;
  }
}

.profile-menu-links li a {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 6px;
  color: #515365 !important;
}

.profile-menu-links li a.active {
  color: #515365 !important;
}

.profile-menu-links li a.router-link-active {
  background: #f5851f;
  color: #fff !important;
}

@media (max-width: 767px) {
  .profile-menu-links li {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.timeline-block-padding {
  padding: 25px 10px 10px;
}

.ui-block.vue-dropzone {
  border: none !important;
}

.vue-dropzone:hover {
  background: #fff !important;
}

.vue-dropzone.dropzone .dropzone-custom-content .upload-icon.style2 {
  max-width: 100px;
  margin: 0 auto 21px;
}

.w-search button {
  background: #6c50a5 !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.friend-avatar .author-thumb img {
  height: 120px !important;
  width: auto;
}

.main-header {
  height: auto;
}

.main-header .img-bottom {
  position: relative;
  bottom: -8px;
  max-width: 1100px;
  width: 90%;
}

.bg-music {
  background: none !important;
  background: #7a5fb2 !important;
}

.your-profile-menu {
  padding: 0;
  margin: 0;
}

.your-profile-menu li a {
  font-weight: normal;
  font-size: 14px;
  padding: 10px 25px;
}

.your-profile-menu li a.active {
  background: #f5851f;
  color: #fff;
}

.friend-avatar .author-thumb {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  display: block;
  border: solid 4px #fff;
  border-radius: 100%;
  overflow: hidden;
}

.friend-avatar .author-thumb img {
  width: auto !important;
  height: 100% !important;
  border-radius: 0;
  border: 0;
}

.friend-card-btm-space {
  margin-bottom: 30px;
}

.profile-section-tabs {
  padding: 18px 0;
  position: relative;
}

@media (max-width: 767px) {
  .profile-section-tabs .profile-menu {
    display: block;
    max-width: 94%;
    margin: 0 auto;
  }
}

.profile-section-tabs li {
  vertical-align: middle;
}

.profile-section-tabs li a {
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
}

.profile-section-tabs li a.router-link-exact-active {
  background: #f5851f;
  color: #fff;
}

@media (max-width: 767px) {
  .profile-section-tabs li {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.friend-count {
  display: table !important;
  width: 100%;
  margin-bottom: 15px;
}

.friend-count a {
  display: table-cell;
}

.friend-since span {
  display: inline-block;
}

.friend-since .h6 {
  display: inline-block;
}

.friend-since > *:first-child {
  font-size: 13px;
}

.ui-block.dare-block .photo-album-item-wrap {
  padding-left: 15px;
  padding-right: 15px;
}

.event-status {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  display: block;
  position: absolute;
  font-size: 0px;
  padding: 0;
}

.event-status.posTop {
  top: 0;
  right: 0;
}

.ul-event-actions {
  top: -23px;
  margin: 0;
  padding: 0;
  height: 77px;
  right: -26px;
}

.ul-event-actions .nav-link {
  padding: 23px 26px;
  min-width: 70px;
}

.ul-event-actions .nav-link .event-status {
  top: 33px;
}

.event-image-thumnail .post-thumb {
  height: 330px;
}

.event-image-thumnail .post-thumb img {
  height: auto;
  width: 100%;
}

/*==================
	Banners background
====================*/

.content-bg-wrap.event-detail-bg {
  background: url(/images/buildings.png?a4cd8bf5590cf7593086098debd768eb);
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-position: bottom;
  background-size: 705px auto;
}

.padding-30px {
  padding: 30px;
}

.profile-settings-bg {
  background: url(/images/buildings.png?a4cd8bf5590cf7593086098debd768eb);
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-position: bottom;
  background-size: 705px auto;
}

@media (max-width: 767px) {
  .profile-settings-bg {
    background-size: 500px auto;
  }
}

.multiselect__option.multiselect__option--highlight:after {
  display: none !important;
}

.multiselect__option--highlight {
  background: #b9bdd3;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #f5851f;
}

@media (max-width: 767px) {
  .my-dares-right,
  .dare-notification-dropdown {
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
    background: #fff;
  }

  .my-dares-right.active,
  .dare-notification-dropdown.active {
    display: block;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  .my-dares-right,
  .dare-notification-dropdown {
    top: 0px;
    z-index: 99;
  }
}

@media (max-width: 767px) {
  .notifications-dropdown.dare-notification-dropdown .icon-close {
    top: 10px;
  }
}

@media (max-width: 768px) {
  .events-left-panel {
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
    background: #fff;
  }

  .events-left-panel.active {
    display: block;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .events-left-panel {
    top: 0px;
    z-index: 99;
  }
}

@media (max-width: 767px) {
  .dare-notification-dropdown {
    display: block;
  }

  .dare-notification-dropdown .view-all {
    position: absolute;
  }
}

@media (max-width: 767px) {
  .friend-request-settings {
    right: 33px;
  }
}

.events-left-panel .icon-close,
.my-dares-right .icon-close,
.dare-notification-dropdown .icon-close {
  display: none;
}

@media (max-width: 767px) {
  .events-left-panel .ui-block .ui-block-title h6 .create-btn,
  .my-dares-right .ui-block .ui-block-title h6 .create-btn,
  .dare-notification-dropdown .ui-block .ui-block-title h6 .create-btn {
    position: fixed;
    bottom: 25px;
    top: auto;
    right: 19px;
  }

  .events-left-panel .icon-close,
  .my-dares-right .icon-close,
  .dare-notification-dropdown .icon-close {
    display: none;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  .events-left-panel .icon-close,
  .my-dares-right .icon-close,
  .dare-notification-dropdown .icon-close {
    color: #373b56;
    font-size: 22px;
    position: absolute;
    right: 28px;
    top: 18px;
    display: block;
    z-index: 9;
  }
}

@media (max-width: 768px) {
  .events-left-panel {
    display: none;
  }

  .events-left-panel.active {
    display: block;
  }
}

.events-left-panel .icon-close {
  display: none;
}

@media (max-width: 768px) {
  .events-left-panel .ui-block .ui-block-title h6 .create-btn {
    position: fixed;
    bottom: 25px;
    top: auto;
    right: 19px;
  }

  .events-left-panel .icon-close {
    display: none;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .events-left-panel .icon-close {
    color: #373b56;
    font-size: 22px;
    position: absolute;
    right: 28px;
    top: 18px;
    display: block;
    z-index: 9;
  }
}

.dare-notification-dropdown .icon-close {
  display: none;
}

@media (max-width: 767px) {
  .dare-notification-dropdown .ui-block .ui-block-title h6 .create-btn {
    position: fixed;
    bottom: 25px;
    top: auto;
    right: 19px;
  }

  .dare-notification-dropdown .icon-close {
    display: none;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  .dare-notification-dropdown .icon-close {
    color: #373b56;
    font-size: 22px;
    position: absolute;
    right: 28px;
    top: 18px;
    display: block;
    z-index: 9;
  }
}

@media (max-width: 1140px) {
  .container {
    width: 98%;
  }
}

@media (max-width: 767px) {
  .modal {
    background: #fff;
  }
}

@media (max-width: 767px) {
  .modal .modal-dialog {
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
  }

  .modal .modal-dialog .header {
    border: none;
    border-bottom: solid 1px #b9bdd3;
  }

  .modal .modal-dialog .footer {
    border: none;
    border-top: solid 1px #b9bdd3;
  }
}

.btn-double-mobile {
  display: none;
}

@media (max-width: 767px) {
  .btn-double-mobile {
    display: block;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 20px;
    clear: both;
    display: block;
    overflow: hidden;
    text-align: center;
  }

  .btn-double-mobile li {
    float: left;
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .btn-double-mobile li span {
    background: #f5851f;
    display: block;
    padding: 6px 4px;
    border-radius: 4px;
    vertical-align: middle;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    border-radius: 24px;
  }

  .btn-double-mobile li span i {
    font-size: 18px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .post-additional-info > * {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .my-dares-right {
    display: none;
  }

  .my-dares-right.active {
    display: block;
  }
}

@media (max-width: 767px) {
  canvas {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-header-content > *:first-child {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .left-sidebar-settings {
    margin-top: -30px;
  }
}

.banner-slide {
  position: relative;
  z-index: 9;
  padding: 30px 0 50px;
  /*	@include tablet{
	    position: absolute;
	    left: 0;
	    bottom: 34px;
	    right: 0;
	    width: 100%;
	    overflow: hidden;		
	    img{
			width: 100% !important;
			bottom: 0 !important;	    	
	    	
	    	@include mobile{
	    		width: 122% !important;
	    	}
	    }
	}*/
}

@media (max-width: 767px) {
  .notifications-dropdown.top-menu-dropdown.top-menu-dropdown {
    right: 10px;
    left: auto;
  }

  .notifications-dropdown.top-menu-dropdown.top-menu-dropdown:before {
    right: 8px;
  }
}

.after-profile-header {
  margin-top: 110px;
}

@media (max-width: 768px) {
  .after-profile-header {
    margin-top: 35px;
  }
}

@media (max-width: 768px) {
  .profile-main-body {
    margin-bottom: 40px;
  }
}

.more-dropdown.more-with-triangle.triangle-bottom-right {
  width: 215px;
}

.control-block-button.profile-settings-icon svg {
  top: 8px;
  position: relative;
  left: 2px;
}

@media (max-width: 767px) {
  .control-block-button.profile-settings-icon {
    margin-bottom: 15px;
  }

  .control-block-button.profile-settings-icon svg {
    left: 1px;
  }
}

.profile-section.profile-section-tabs .profile-menu.first {
  margin-top: 20px;
}

.for-desktop-only {
  display: none;
}

@media screen and (min-width: 737px) {
  .for-desktop-only {
    display: block;
  }
}

.for-mobile-only {
  display: none;
}

@media screen and (max-width: 736px) {
  .for-mobile-only {
    display: block;
  }
}

.customize-dropzone {
  position: relative;
}

.customize-dropzone input[type="file"] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  height: 280px;
  opacity: 0;
}

.customize-dropzone form {
  margin-top: 10px;
}

.croping-btns {
  width: 180px;
  margin: 0 5px 15px;
}

.upload-skip-btn {
  width: 180px;
}

.profile-settings-main-div .image-upload-main-div h2 {
  display: none;
}

