.landing-page .container {
  margin-top: 5%;
}

.hide {
  display: none;
}

.upload-panel {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px #d9d9d9 solid;
  position: relative;
  padding: 32px 0;
  border-radius: 8px;
  margin-bottom: 24px;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.19rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.19rem + 2px);
  margin-bottom: 0;
}

.upload-panel .custom-file {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
}

.upload-panel .custom-file input {
  height: 100%;
  cursor: pointer;
}

.news-feed-form textarea {
  min-height: 80px !important;
}

.post-add-icon.inline-items.active {
  fill: #ff5e3a;
  color: #ff5e3a;
}

.post-control-button .btn-control.active {
  background-color: #ff5e3a;
}

.comments-list .post__author.author.vcard.inline-items {
  margin-bottom: 20px;
}

.comments-list li {
  padding-bottom: 0;
}

.form-group input[aria-invalid="true"] {
  border-color: red;
}

.no-records-found-icon {
  width: 170px;
  height: 110px;
  margin: 0 auto;
  background-image: url("../images/no-record.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  position: relative;
  left: 2%;
  margin-bottom: 20px;
}

.no-records-found {
  height: 100%;
  padding: 50px 0;
}

.no-records-found .no-records-found-icon {
  width: 144px;
  margin-bottom: 0;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.padding-20 {
  padding: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-60 {
  padding-top: 60px;
}

.right-home-panel {
  /*    height:100%;
    overflow-y: scroll;
    position: fixed;
    right:0;*/
}

.left-home-panel {
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  left: 0;
}

.modal-dialog.ui-block.window-popup.update-header-photo {
  margin-top: 10%;
}

.cropper-box-canvas {
  max-width: -webkit-fill-available !important;
  max-height: -webkit-fill-available !important;
  position: relative !important;
}

.cropper-box-canvas img {
  max-width: -webkit-fill-available !important;
  max-height: -webkit-fill-available !important;
}

.dare-images-large-box .dare-image {
  min-height: 330px;
  max-height: 330px;
}

.dare-images-thumb-box .dare-image {
  min-height: 180px;
  max-height: 180px;
}

/*.left-sidebar .inline-items{
    padding: 8px !important;
    }*/

/*.left-sidebar.ui-block{
    padding : 15px;
    }*/

.vue-instant__suggestions {
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  background-color: #fff;
  border: 1px solid #d3dce6;
  width: 100%;
  padding: 6px 0;
  z-index: 10;
  border-radius: 2px;
  max-height: 280px;
  box-sizing: border-box;
  overflow: auto;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  margin-top: 3px;
}

.vue-instant__suggestions li:hover {
  background-color: #eeeeee;
  color: black;
}

.vue-instant__suggestions li {
  list-style: none;
  line-height: 36px;
  padding: 0 10px;
  margin: 0;
  cursor: pointer;
  color: #475669;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friend-avatar .author-thumb img {
  height: 100px;
}

.notification-event-li .author-thumb img {
  width: 34px !important;
}

.mCustomScrollbar .notification-list {
  overflow-y: scroll;
  height: 312px;
}

.mCustomScrollbar ul.notification-list li.notification-event-li.unRead {
  background-color: #eeeeee;
}

.timeline-main-body .dare-images-thumb-box .photo-album-item-wrap {
  padding: 5px !important;
}

.dare-images-thumb-box .photo-album-item-wrap .posted-by-name {
  height: 35px !important;
}

.user-dare-main-body {
}

.ui-block.user-post.feed-post
  .post-additional-info.inline-items
  .loading-image-spinner,
.notification-icon .loading-image-spinner {
  height: 20px;
}
.ui-block.user-post.feed-post
  .control-block-button.post-control-button
  .loading-image-spinner {
  height: 34px;
}

.photo-album-item-wrap .photo-album-item .loading-image-spinner {
  height: 20px;
}

.notification-event-li .loading-image-spinner {
  height: 45px;
}

.friend-item .friend-header-thumb img {
  height: 100%;
}

.messages-sidebar-div .chat-message .author-thumb img,
.chat-field .chat-message .author-thumb img {
  height: 45px;
  width: 45px;
}

.bg-music {
  background-image: url(/images/top-header5.png);
}

.event-home .entry-image {
  height: 300px;
}

.event-home .loading-image-spinner {
  height: 18px;
}

.event-listing-home .event-image {
  height: 34px;
  width: 34px;
}

.event-listing-home .list-value {
  padding: 25px;
  border-bottom: 1px solid #e6ecf5;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.event-thumb-image {
  height: 35px;
}

.messages-sidebar-div .form-group.is-empty input {
  padding: 0.5rem 1.1rem !important;
}

.message-sidebar .title-main-block {
  border-bottom: 1px solid lightgray;
}

.messages-sidebar-div .form-group.is-empty {
  padding: 10px;
}

.infinite-status-prompt {
  display: none !important;
}

.author-page .more-dropdown {
  width: 230px;
  top: calc(100% + 10px);
  right: -5px;
  padding: 0;
}

.friend-count .title {
  padding: 5px;
}

.registration-login-form .tab-content .tab-pane {
  height: 400px;
  padding: 50px;
}

.registration-login-form {
  border-radius: 10px;
}

.event-list-item .event-thumb-image {
  height: 45px;
  width: 45px;
}

.event-list-item .event-title {
  margin-left: 45px;
}

.event-list-item .event-description {
  display: block;
  margin-left: 45px;
}

.form-group .multiselect.select[aria-invalid="true"] .multiselect__tags {
  border-color: red;
}

.button-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 4px auto;
  width: 35px;
  height: 35px;
  display: none;
  overflow: hidden;
  margin: 6px auto;
}

.button-loader .spinner {
  width: 12px;
  height: 12px;
  background-color: #fff;
  margin: 0;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  opacity: 0.8;
  position: absolute;
  top: 11px;
  left: 0;
  right: -1px;
  margin: 0 auto;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.button-loader .loader,
.button-loader .loader:after {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.button-loader .loader {
  display: block;
  margin: 0px auto;
  background-image: url("/images/spinner-white.svg");
  font-size: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-indent: -9999em;
  /*       border-top: 1.1em solid #fff;
      border-right: 1.1em solid #fff;
      border-bottom: 1.1em solid #fff;
      border-left: 1.1em solid #fff; */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  border-style: dashed;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-sm .button-loader {
  width: 22px;
  height: 22px;
  margin: 7px auto;
}

.loader-sm .button-loader .loader {
  width: 22px;
  height: 22px;
  font-size: 2px;
}

.loader-sm .button-loader .spinner {
  width: 8px;
  height: 8px;
  top: 7px;
}

.btn.show-spinner {
  pointer-events: none;
  position: relative;
  background: #bdbdbd;
  border-color: #bdbdbd;
}

.btn.show-spinner span {
  color: transparent !important;
}

.btn.show-spinner .button-loader {
  display: block;
}

.pointer-events-none {
  pointer-events: none;
}

.post-message-alert {
  padding-left: 0;
  margin-top: 10px;
}

.after-profile-header {
  margin-top: -25px !important;
}

.photo-album-item-wrap .content {
  height: 55px !important;
}

.profile-menu .follow-button {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.settings-label {
  top: -20px !important;
  margin-left: -18px !important;
}

ul li .more {
  display: none !important;
}
