@import "fonts.scss";
@import "styles/custom-mixin.scss";
//variables
$max-wrapper: 1200px;
$auth-wrapper: 700px;
$g-radius: 8px;
$g-padding: 20px;
$card-padding: 30px;
$g-shadow: 0 0 29px 2px rgba(0, 0, 0, 0.2);

//colors
$body-text-color: #515365;
$hd-color: #515365;
$section-divider: #f0f0f0;

//main colors
$primary-color: #6c50a5;
$primary-color-darken: darken($primary-color, 5%);
$primary-color-lighten: lighten($primary-color, 45%);
$secondary-color: #f5851f;
$danger: #dc3545;

//supportive colrs
$grey-md: #9a9fbf;
$grey-lighten: lighten($grey-md, 10%);
$grey-Xlighten: #e6ecf5;
$grey-darken: darken($grey-md, 40%);

$success-bg: #449d44;
$success-color: #fff;
$success-border: #449d44;

$danger-bg: #fff3f3;
$danger-color: #d9534f;
$danger-border: #f5d9d9;

//sizes
$xs-font-size: 12px;
$base-font-size: 14px;
$md-font-size: 20px;
$lg-font-size: 24px;
$xlg-font-size: 30px;

$input-font-size: $base-font-size;

//buttons
$btn-base-padding: 0.8rem 1.7rem;
$btn-base-font-size: $base-font-size;
$btn-md-font-size: $base-font-size + 3;
$btn-lg-font-size: $base-font-size + 6;
$btn-primary: $primary-color;

$max-wrapper: 1318px;

body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-size: $base-font-size;
	font-weight: 400;
	color: $body-text-color;
}
* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 700;
	line-height: 1.3;
	color: $hd-color;
}
.h6,
h6 {
	font-size: $base-font-size - 1;
}
img {
	max-width: 100%;
}
/*===
	Base Styling
===*/

.primary-color-bg {
	background: $primary-color;
}
.primary-color-text {
	color: $primary-color;
}
.secondary-color-bg {
	background: $secondary-color;
}
.secondary-color-text {
	color: $secondary-color;
}
.font-size-base {
	font-size: $base-font-size !important;
}
a {
	@extend .secondary-color-text;
}
p {
	font-size: $base-font-size;
	color: $body-text-color;
}
.form-control,
textarea {
	@extend .font-size-base;
	&:focus {
		border-color: $primary-color-lighten;
	}
}
.news-feed-form {
	textarea.form-control {
		padding: 22px 25px !important;
		height: 120px;
	}
}

.global-shadow {
	box-shadow: $g-shadow;
}
.global-border {
	border: solid 1px $grey-Xlighten;
	/*	box-shadow: 0 0 7px 2px rgba(0,0,0,0.02);*/
}
.landing-page:before,
.landing-page .content-bg {
	background-color: transparent !important;
}
.container-fullwidth {
	@include mobile {
		padding-top: 17px;
		display: block;
		clear: both;
		overflow: hidden;
	}
}
.site-max-wrapper {
	max-width: $max-wrapper;
	position: relative;
	margin: 32px auto;
	@include Desktop1380 {
		max-width: 96%;
	}
	@include mobile {
		margin: 10px auto;
	}
}
.Aligner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.Aligner-item {
	max-width: 50%;
}

.Aligner-item--top {
	align-self: flex-start;
}

.Aligner-item--bottom {
	align-self: flex-end;
}
.g-padding {
	padding: $g-padding;
}
.card {
	border: none !important;
	box-shadow: $g-shadow;
	padding: $card-padding;
	border-radius: $g-padding;
}
/*
	Scrollbar
*/
.scrollbar {
	height: 300px;
	width: 100%;
	overflow-y: scroll;

	&.events-scroll {
		height: calc(100vh - 227px);
		@include tablet {
			height: calc(100vh - 440px);
		}
		.force-overflow {
			min-height: 0;
		}
	}

	&.events-dare-scroll {
		height: calc(100vh - 212px) !important;
		@include tablet {
			height: calc(100vh - 425px) !important;
		}
		.force-overflow {
			min-height: 0;
		}
	}
}

.force-overflow {
	min-height: 450px;
}

/*
 *  STYLE 4
 */

.scrollbar::-webkit-scrollbar-track {
	background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
	width: 6px;
	background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: $primary-color;
	border: 0px solid #555555;
	border-radius: 3px;
}

.header {
	z-index: 99;
	@include mobile {
		height: 82px;
	}
}

.header-height {
	position: relative;
	height: 60px;
	@include mobile {
		height: 82px;
	}
}

/*
 *  STYLE 5
 */
.btn {
	font-size: $btn-base-font-size;
	padding: $btn-base-padding;
	&.btn-md {
		font-size: $btn-md-font-size;
	}
	&.btn-sm {
		font-size: $btn-base-font-size - 2;
		padding: 10px;
	}
	&.btn-primary {
		@extend .primary-color-bg;
	}
	&.btn-secondary {
		@extend .secondary-color-bg;
	}
	&.search-btn {
		margin-top: 15px;
		margin-bottom: 7px;
	}
	&.btn-control {
		padding: 0;
		line-height: 41px;
	}
}

.custom-upload-field {
	width: 100%;
	border: dashed 1px #b9bdd3;
	background: #f7f7f7;
	margin-top: 20px;
	position: relative;
	border-radius: 8px;
	min-height: 145px;
	hr {
		display: none;
	}
	h2 {
		display: none;
	}

	.icon-upload {
		width: 50px;
		height: 50px;
		margin: 20px auto 0;
		display: block;
	}
	input {
		position: absolute;
		width: 100%;
		height: 100px;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 0;
		opacity: 0;
	}
	hr {
		display: none !important;
		opacity: 0;
	}
	p {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		display: block;
		top: 75px;
		font-size: 20px;
	}
}

.create-btn {
	@extend .secondary-color-bg;
	@extend .global-shadow;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	color: $body-text-color;
	display: inline-block;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
	outline: none;
	border: none;
	outline: none !important;
	font-size: 0px;
	i {
		color: #fff !important;
	}
	&.remove {
		background: $danger;
		i {
			color: #fff !important;
		}
	}
	&.success {
		background: $success-bg;
	}
	&.invite {
		background: $primary-color;
	}
	svg {
		width: 16px;
		fill: #fff;
	}
	span {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		i {
			font-size: 22px;
			height: auto;
			color: #fff;
			position: relative;
			left: 0px;
			top: -0px;
		}
	}
}

.login-page {
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: linear-gradient(
		to right bottom,
		#01acd8,
		#009ed3,
		#008fcc,
		#0081c4,
		#0072bb,
		#2068b5,
		#325dad,
		#3f52a4,
		#51489c,
		#5f3c91,
		#6b2f85,
		#741e77
	);
	.content-bg-wrap {
		background-color: transparent !important;
	}
	.auth-wrapper {
		height: auto;
		box-shadow: $g-shadow;
		padding: 50px;
		@include mobile {
			width: 96%;
			max-width: 365px;
			padding: 25px;
		}
	}
	h1 {
		font-size: $xlg-font-size - 4;
		font-weight: 600;
		margin-bottom: 30px;

		@include mobile {
			font-size: $xlg-font-size - 8;
			margin-bottom: 8px;
		}
	}
	.login-content {
		max-width: 410px;
		display: flex;
		height: auto;
		align-items: center;
		justify-content: center;
		@include mobile {
			text-align: center;
		}
	}
	.fb-connect-btn {
		max-width: 235px;
		margin: 0;
		display: block;

		@include mobile {
			margin: 0 auto;
		}
	}
}

.auth-wrapper {
	display: block;
	width: 100%;
	max-width: 825px;
	position: relative;
	@include tablet {
		max-width: 96%;
	}
}

.login-graphics {
	position: absolute;
	right: 20px;
	width: 302px;
	height: 358px;
	top: 4%;
	background-image: url(/images/login-graphics.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: right top;
	pointer-events: none;
	z-index: 5;

	@include mobile {
		position: relative;
		display: block;
		width: 200px;
		margin: 0 auto;
		height: 218px;
		top: 0;
		right: 0;
	}
}

.login-corner-design {
	position: absolute;
	right: -2px;
	width: 594px;
	height: 100%;
	top: -2px;
	background-image: url(/images/login-gredient.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: right top;
	pointer-events: none;
	display: none;
}

.registration-login-form {
	border: none;
	/*	border-top: solid 1px $section-divider;*/
	border-radius: 0px !important;
	margin: 28px 0 0;
	padding-top: 10px;
	.title {
		font-weight: 500;
		font-size: 19px;
		border: none;
		padding: 12px;
	}
}
.registration-login-form .tab-content .tab-pane {
	height: auto !important;
	border: none !important;
	padding: 0 !important;
}

.molecules__wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #ccc;
}

.header {
	background-color: $primary-color;
	display: block !important;
	@include tabletL {
		padding-right: 0;
		padding-left: 0;
	}
}
.header-content-wrapper {
	.top-header-icons {
		font-size: 24px;
		color: #fff;
	}
	.control-icon {
		margin-right: 0px;
		width: 24px;
		top: 0px;
		margin-right: 20px;
		@include tablet {
			width: 18px !important;
			margin-right: 20px;
		}
		svg {
			width: 100% !important;
			max-width: 100% !important;
		}
		@include mobile {
			&.control-icon-1 {
				width: 17px !important;
				top: -2px;
			}
			&.control-icon-2 {
				width: 20px !important;
			}
			&.control-icon-3 {
				width: 15px !important;
				top: -1px;
			}
			&.control-icon-4 {
				width: 14px !important;
				top: -2px;
			}
		}
	}
	.notification-icon {
		position: relative;
		top: 3px;
	}
	.dare-icon {
		position: relative;
		top: 2px;
	}
	@include tabletL {
		display: block;
		.control-block {
			position: relative;
			float: right;
			right: 0px;
			display: flex;
			padding: 12px 6px 0;

			@include tablet {
				padding-top: 16px;
			}
			@include mobile {
				padding-top: 10px;
			}
		}
	}
}

.icon-event_available,
.icon-assignment_ind {
	color: #fff;
	font-size: 20px;
	display: none;
	&.top-header-icons {
		@include tablet {
			position: fixed;
			right: 211px;
			top: 21px;
			z-index: 99;
			display: block;
			@include mobile {
				display: none;
			}
		}
		@include mobile {
			right: 202px;
			top: 11px;
		}
	}
}

.icon-assignment_ind {
	@include mobile {
		&.top-header-icons {
			right: 238px;
		}
	}
}

.app-logo {
	display: inline-block;
	max-width: 106px;
	float: left;
	margin-right: 30px;
	position: relative;
	top: 9px;
	left: 15px;

	@include mobile {
		max-width: 70px;
	}
}

.card {
}

//header search
.search-bar.w-search {
	background: $primary-color-darken;
	@include tablet {
		max-width: 290px;
	}
	@include mobile {
		position: fixed;
		top: 44px;
		width: 100%;
		left: 0;
		right: 0;
		max-width: 100%;
		height: 38px;
		min-height: 0;

		.form-group.with-button {
			height: 38px;

			input {
				height: 38px !important;
			}

			button {
				background: #614894 !important;
			}
		}
	}
}

.search-bar .form-group.with-button input {
	color: #fff;
	height: 61px !important;
}

.search-bar .form-group.with-button button {
	color: #696d87;
	fill: #919191;
	background-color: #614894;
	width: 50px;
}
.control-block {
	svg {
		color: #fff;
	}
	.control-icon {
		margin-top: 0;
	}
}

.ui-block {
	@extend .global-border;

	&.border-none {
		border: 0;
	}
	.ui-block-title {
		h6 {
			&.title {
				font-size: $base-font-size + 2;
				position: relative;
				top: -4px;
			}
			.create-btn {
				position: absolute;
				right: -12px;
				top: -4px;
			}
		}
	}
}

.right-home-panel {
	height: auto;
	overflow-y: scroll;
	position: relative;
	right: 0;
	position: sticky;
	top: 91px;
	@include mobile {
		top: 0px;
	}
	.force-overflow {
		min-height: 0;
	}
}

.author-page.author.vcard {
	margin-left: -2px;
}
.author-thumb {
	img {
		height: 40px;
		width: auto;

		@include tablet {
			height: 30px;
		}
		@include mobile {
			height: 25px;
		}
	}
	.icon-status.online {
		top: -1px;
		left: -1px;
		border: 2px solid #32e4cd;
		width: 12px;
		height: 12px;
		background: #fff;
	}
}

.left-sidebar.ui-block {
	padding: 0;
}

.widget {
	&.notification-list {
		> a {
			&.inline-items {
			}
		}
	}
	&.customize-listing {
		> a {
			&.inline-items {
				position: relative;
				padding: 15px 20px;
			}
		}

		&.event-listing-home {
			> a {
				&.inline-items {
					h6 {
						margin-top: 5px;
					}
					&:last-child {
						border: none;
						padding-bottom: 0;
					}
				}
				.notification-icon {
					margin-top: 6px;
				}
			}
			.event-image {
				height: 34px !important;
				width: auto !important;
			}
		}
		.notification-event {
			max-width: calc(100% - 40px);
			display: inline-block;
			vertical-align: top;
		}
	}
}
.icon-add {
	&:after {
		display: none;
	}
}

/*
	upload panel icon style
*/
.upload-panel {
	&.upload-icon-style {
		width: 30px;
		height: 30px;
		padding: 0;
		margin: 2px 0 0 0;
		display: inline-block;
		background: none;
		border: none;
		overflow: hidden;
		.custom-file {
			opacity: 1;
			position: relative;
			i {
				color: $grey-md;
				font-size: 23px;
			}
			input {
				position: absolute;
				z-index: 9;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
	}
}

/*
	notification drop down block
*/
.notifications-dropdown {
	width: 350px;
	top: 42px;
	right: -21px;
	padding: 0 0 35px 0;
	position: absolute;
	background: #fff;
	border-radius: $g-radius - 2;
	box-shadow: 0 0 15px 0.5px rgba(0, 0, 0, 0.04);
	@include tablet {
		padding-bottom: 0;
	}
	@include mobile {
		position: fixed;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	&.padding-bottom-0 {
		padding-bottom: 0;
	}
	&:before {
		content: "";
		width: 20px;
		height: 20px;
		border-bottom: solid 10px #fff;
		border-left: solid 10px transparent;
		border-right: solid 10px transparent;
		right: 29px;
		position: absolute;
		top: -19px;
		@include mobile {
			right: 94px;
		}
	}
	.ui-block-title {
		height: 42px;
		padding: 10px 20px;
		.title {
			font-size: $base-font-size;
			color: $grey-darken;
			text-transform: capitalize;
		}
		.title-action {
			font-size: $base-font-size - 1;
			text-transform: capitalize;
			position: relative;
			top: 4px;
		}
	}
	&.top-menu-dropdown {
		padding: 0;
		max-width: 160px;
		text-align: center;
		top: 51px;
		right: -13px;
		ul {
			padding: 10px 15px;
			li {
				a {
					padding: 8px 0;
				}
			}
		}
	}
}

.right-home-panel {
	overflow: hidden;
}

.photo-album-item-wrap {
	float: left;
	a {
		display: block;
		padding: 8px 0;
		strong {
		}
	}
	.photo-item {
		border-radius: 0;
		height: 180px;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
			max-height: none;
			min-height: unset;
		}
		.post-add-icon {
			display: none;
		}
	}
	.content {
		position: relative;
		margin: 0;
		padding: 12px 8px;
		.sub-title {
			font-size: $base-font-size - 3px;
			text-align: left;
			margin-bottom: 0;
		}
		.swiper-container {
			position: absolute;
			position: absolute;
			right: 5px;
			top: 5px;
			a {
				padding: 0;
			}
			.post-add-icon {
				.olymp-heart-icon {
					margin-right: 1px;
					width: 14px;
					height: 15px;
				}
				span {
					font-size: $base-font-size - 3px;
				}
			}
		}
	}
}

.create-dare-block {
	.photo-album-item-wrap {
		&.half-width {
			width: 100%;
			padding: 0;
			margin: 0 0 30px 0;
		}
	}
}

.add-options-message {
	position: relative;
	@include mobile {
		padding: 8px 22px;
		button {
			float: right;
			margin-top: 0;
		}
	}
}

.img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	pointer-events: none;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.status-uploaded-thumnail {
	position: absolute;
	left: 20px;
	top: 10px;
	width: 70px;
	height: 55px;
	margin: 0;
	overflow: hidden;
	img {
		vertical-align: top;
		width: 100px;
		height: auto;
		display: block;
		@include mobile {
			width: 52px;
		}
	}
	&:hover {
		.img-overlay {
			opacity: 1;
			pointer-events: auto;

			i {
				font-size: 22px;
				color: #c5c5c5;
				cursor: pointer;
			}
		}
	}
}

.view-all {
	padding: 11px 20px;
	&.with-secondary-bg {
		background: $grey-Xlighten;
		color: $body-text-color;
	}
}

.notification-list .selectize-dropdown-content > *.un-read,
.notification-list li.un-read {
	border-radius: $g-radius;
}

.right-dare-panel {
	.scrollbar {
		height: calc(100vh - 210px);
		@include mobile {
			height: 100vh;
		}
	}
}

.notification-list {
	.notification-event {
		width: 84% !important;
		h6 {
			width: 74%;
		}
		a {
			&:last-child {
				margin-left: 4px;
			}
		}
	}
	li {
		padding: 20px;
		.notification-icon {
			position: absolute;
			right: 12px;
			top: 12px;
			a {
				padding: 0.2rem;
			}
			.accept-request {
				span {
					&:before,
					&:after {
						display: none;
					}
				}
			}
		}
	}
}

#add-new-user {
	.photo-album-item-wrap .photo-item {
		height: 345px;
	}
}

.guideline-popup {
	.modal-content {
		border-radius: 12px;
		background: $primary-color;
		border-color: $primary-color;
		box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
	}
	.modal-body {
		width: 500px;

		.icon-cancel {
			position: absolute;
			right: 10px;
			top: 10px;
			color: #fff;
			font-size: 24px;
			cursor: pointer;
		}
	}
}

.modal.fade .modal-dialog.modal-dialog-centered {
	display: flex !important;
	align-items: center !important;
	min-height: calc(100% - 1rem);
}
@media (min-width: 576px) {
	.modal.fade .modal-dialog.modal-dialog-centered {
		min-height: calc(100% - 3.5rem);
	}
}

.guider-image {
	width: 115px;
	float: left;
}
.guider-content {
	float: right;
	width: calc(100% - 135px;);
	padding-top: 27px;
	h4,
	p {
		color: #fff;
	}
	h4 {
		font-weight: 400;
	}
	p {
		line-height: 24px;
	}
}
.header-spacer-small {
	height: 60px;
}
.main-header {
	padding: 0;
	max-width: 100%;
	margin: 0 auto 30px;
	position: relative;
	background-position: 100%;
	height: 300px;

	.main-header-content {
		padding-top: 30px;
	}
}

/*
	Form settings
*/

label {
	color: $body-text-color !important;
	font-weight: 600 !important;
	margin-bottom: 10px !important;
	font-size: $input-font-size !important;
}
.form-control {
	height: 44px !important;
	padding: 12px 16px !important;
	font-size: $input-font-size !important;
}
.multiselect__input,
.multiselect * {
	font-size: $input-font-size !important;
}
.tabs-list-block {
	padding: $g-padding;
	li {
		background: $grey-Xlighten;
		border-radius: $g-radius;
		padding: 0 0 !important;
		margin: 0 0 10px;
		list-style: none;
		&:hover {
			background: $grey-Xlighten;
		}
		a {
			padding: 10px 15px;
			font-size: $base-font-size;
		}
		&.active {
			background: $secondary-color;
			a {
				color: #fff;
			}
		}
	}
	&.without-blts {
		li {
			&:before {
				display: none;
			}
		}
	}
}

.border-btm-none {
	border-bottom: 0;
}

.customize-listing {
	.list-value {
		padding: 10px 25px !important;
		display: block;
		position: relative;
		border-bottom: solid 1px $grey-Xlighten;
		&:last-child {
			border-bottom: 0px;
		}
		.author-thumb {
			height: 40px;
			width: 40px;
			overflow: hidden;
			border-radius: 100%;
			vertical-align: top;
			background-size: cover;
			background-position: center;
			img {
				width: auto;
				height: 40px;
			}
		}
		.list-details {
			width: calc(100% - 62px);
			display: inline-block;
			vertical-align: middle;
			margin-left: 15px;
			p {
				margin-bottom: 0;
			}
		}
		a {
			display: block;
		}
	}
	&.lg-top-btm-pad {
		.list-value {
			padding: 20px 25px !important;
		}
	}
	&.event-listing-home {
		margin-bottom: 0;
		.list-value {
			.author-thumb {
				vertical-align: middle;
			}
		}
	}
}
.profile-menu-links {
	@include mobile {
		display: block;
		float: none !important;
	}
	li {
		margin-right: 15px;
		@include tablet {
			margin-right: 2px;
		}
		a {
			font-size: $base-font-size + 2;
			font-weight: 400;
			padding: 10px 15px;
			border-radius: $g-radius - 2;
			color: $body-text-color !important;
			&.active {
				color: $body-text-color !important;
			}
			&.router-link-active {
				background: $secondary-color;
				color: #fff !important;
			}
		}
		@include mobile {
			display: block;
			width: 100%;
			text-align: center;
		}
	}
}

.timeline-block-padding {
	padding: 25px 10px 10px;
}

.ui-block.vue-dropzone {
	border: none !important;
}

.vue-dropzone:hover {
	background: #fff !important;
}

.vue-dropzone.dropzone {
	.dropzone-custom-content {
		.upload-icon.style2 {
			max-width: 100px;
			margin: 0 auto 21px;
		}
	}
}

.w-search {
	button {
		background: $primary-color !important;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}

.friend-avatar .author-thumb img {
	height: 120px !important;
	width: auto;
}
.main-header {
	height: auto;
	.img-bottom {
		position: relative;
		bottom: -8px;
		max-width: 1100px;
		width: 90%;
	}
}
.bg-music {
	background: none !important;
	background: #7a5fb2 !important;
}
.your-profile-menu {
	padding: 0;
	margin: 0;
	li {
		a {
			font-weight: normal;
			font-size: 14px;
			padding: 10px 25px;
			&.active {
				background: $secondary-color;
				color: #fff;
			}
		}
	}
}

.friend-avatar {
	.author-thumb {
		margin: 0 auto;
		height: 100px;
		width: 100px;
		margin-bottom: 10px;
		display: block;
		border: solid 4px #fff;
		border-radius: 100%;
		overflow: hidden;
		img {
			width: auto !important;
			height: 100% !important;
			border-radius: 0;
			border: 0;
		}
	}
}

.friend-card-btm-space {
	margin-bottom: 30px;
}

.profile-section-tabs {
	padding: 18px 0;
	position: relative;
	@include mobile {
		.profile-menu {
			display: block;
			max-width: 94%;
			margin: 0 auto;
		}
	}
	li {
		vertical-align: middle;
		a {
			border-radius: 6px;
			font-size: 16px;
			font-weight: 400;
			padding: 10px 15px;
			&.router-link-exact-active {
				background: $secondary-color;
				color: #fff;
			}
		}
		@include mobile {
			display: block;
			width: 100%;
			text-align: center;
		}
	}
}
.friend-count {
	display: table !important;
	width: 100%;
	margin-bottom: 15px;
	a {
		display: table-cell;
	}
}
.friend-since {
	span {
		display: inline-block;
	}
	.h6 {
		display: inline-block;
	}
}

.friend-since > *:first-child {
	font-size: 13px;
}
.ui-block {
	&.dare-block {
		.photo-album-item-wrap {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
.event-status {
	width: 13px;
	height: 13px;
	border-radius: 100%;
	display: block;
	position: absolute;
	font-size: 0px;
	padding: 0;
	&.posTop {
		top: 0;
		right: 0;
	}
}

.ul-event-actions {
	top: -23px;
	margin: 0;
	padding: 0;
	height: 77px;
	right: -26px;
	.nav-link {
		padding: 23px 26px;
		min-width: 70px;
		.event-status {
			top: 33px;
		}
	}
}

.event-image-thumnail {
	.post-thumb {
		height: 330px;
		img {
			height: auto;
			width: 100%;
		}
	}
}

/*==================
	Banners background
====================*/

.content-bg-wrap {
	&.event-detail-bg {
		background: url("../images/front/buildings.png");
		background-repeat-x: repeat;
		background-repeat-y: no-repeat;
		background-position: bottom;
		background-size: 705px auto;
	}
}

.padding-30px {
	padding: 30px;
}

.profile-settings-bg {
	background: url("../images/front/buildings.png");
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-position: bottom;
	background-size: 705px auto;

	@include mobile {
		background-size: 500px auto;
	}
}
.multiselect__option.multiselect__option--highlight {
	&:after {
		display: none !important;
	}
}
.multiselect__option--highlight {
	background: $grey-lighten;
}
.multiselect__option--selected.multiselect__option--highlight {
	background: $secondary-color;
}

.my-dares-right,
.dare-notification-dropdown {
	@include mobile {
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		border-radius: 0;
		padding-left: 0;
		padding-right: 0;
		height: 100%;
		width: 100%;
		background: #fff;
		&.active {
			display: block;
		}
		@include mobile {
			top: 0px;
			z-index: 99;
		}
	}
}

.notifications-dropdown.dare-notification-dropdown {
	@include mobile {
		.icon-close {
			top: 10px;
		}
	}
}

.events-left-panel {
	@include tablet {
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		border-radius: 0;
		padding-left: 0;
		padding-right: 0;
		height: 100%;
		width: 100%;
		background: #fff;
		&.active {
			display: block;
		}
		@include tablet {
			top: 0px;
			z-index: 99;
		}
	}
}

.dare-notification-dropdown {
	@include mobile {
		display: block;
		.view-all {
			position: absolute;
		}
	}
}

.friend-request-settings {
	@include mobile {
		right: 33px;
	}
}

.events-left-panel,
.my-dares-right,
.dare-notification-dropdown {
	.icon-close {
		display: none;
	}
	@include mobile {
		.ui-block .ui-block-title h6 {
			.create-btn {
				position: fixed;
				bottom: 25px;
				top: auto;
				right: 19px;
			}
		}

		.icon-close {
			display: none;
			@include mobile {
				color: $grey-darken;
				font-size: 22px;
				position: absolute;
				right: 28px;
				top: 18px;
				display: block;
				z-index: 9;
			}
		}
	}
}

.events-left-panel {
	@include tablet {
		display: none;
		&.active {
			display: block;
		}
	}
	.icon-close {
		display: none;
	}
	@include tablet {
		.ui-block .ui-block-title h6 {
			.create-btn {
				position: fixed;
				bottom: 25px;
				top: auto;
				right: 19px;
			}
		}

		.icon-close {
			display: none;
			@include tablet {
				color: $grey-darken;
				font-size: 22px;
				position: absolute;
				right: 28px;
				top: 18px;
				display: block;
				z-index: 9;
			}
		}
	}
}

.dare-notification-dropdown {
	.icon-close {
		display: none;
	}
	@include mobile {
		.ui-block .ui-block-title h6 {
			.create-btn {
				position: fixed;
				bottom: 25px;
				top: auto;
				right: 19px;
			}
		}

		.icon-close {
			display: none;
			@include mobile {
				color: $grey-darken;
				font-size: 22px;
				position: absolute;
				right: 28px;
				top: 18px;
				display: block;
				z-index: 9;
			}
		}
	}
}

.container {
	@include tabletL {
		width: 98%;
	}
}

.modal {
	@include mobile {
		background: #fff;
	}
	.modal-dialog {
		@include mobile {
			margin: 0 auto;
			max-width: 100%;
			height: 100%;

			.header {
				border: none;
				border-bottom: solid 1px $grey-lighten;
			}
			.footer {
				border: none;
				border-top: solid 1px $grey-lighten;
			}
		}
	}
}

.btn-double-mobile {
	display: none;
	@include mobile {
		display: block;
		margin-left: -8px;
		margin-right: -8px;
		margin-bottom: 20px;
		clear: both;
		display: block;
		overflow: hidden;
		text-align: center;
		li {
			float: left;
			width: 50%;
			padding-left: 8px;
			padding-right: 8px;
			span {
				background: $secondary-color;
				display: block;
				padding: 6px 4px;
				border-radius: 4px;
				vertical-align: middle;
				color: #fff;
				font-weight: 600;
				font-size: 15px;
				border-radius: 24px;
				i {
					font-size: 18px;
					vertical-align: middle;
					position: relative;
					top: -1px;
					margin-right: 4px;
				}
			}
		}
	}
}

.post-additional-info > * {
	@include mobile {
		display: inline-block !important;
	}
}
.my-dares-right {
	@include mobile {
		display: none;
		&.active {
			display: block;
		}
	}
}

canvas {
	@include mobile {
		display: none;
	}
}

.main-header-content > *:first-child {
	@include mobile {
		font-size: 24px;
	}
}

.left-sidebar-settings {
	@include mobile {
		margin-top: -30px;
	}
}

.banner-slide {
	position: relative;
	z-index: 9;
	padding: 30px 0 50px;
	/*	@include tablet{
	    position: absolute;
	    left: 0;
	    bottom: 34px;
	    right: 0;
	    width: 100%;
	    overflow: hidden;		
	    img{
			width: 100% !important;
			bottom: 0 !important;	    	
	    	
	    	@include mobile{
	    		width: 122% !important;
	    	}
	    }
	}*/
}

.notifications-dropdown.top-menu-dropdown.top-menu-dropdown {
	@include mobile {
		right: 10px;
		left: auto;

		&:before {
			right: 8px;
		}
	}
}

.after-profile-header {
	margin-top: 110px;
	@include tablet {
		margin-top: 35px;
	}
}

.profile-main-body {
	@include tablet {
		margin-bottom: 40px;
	}
}

.more-dropdown.more-with-triangle.triangle-bottom-right {
	width: 215px;
}

.control-block-button.profile-settings-icon {
	svg {
		top: 8px;
		position: relative;
		left: 2px;
	}

	@include mobile {
		margin-bottom: 15px;
		svg {
			left: 1px;
		}
	}
}

.profile-section.profile-section-tabs {
	.profile-menu.first {
		margin-top: 20px;
	}
}

.for-desktop-only {
	display: none;
}

@media screen and (min-width: 737px) {
	.for-desktop-only {
		display: block;
	}
}

.for-mobile-only {
	display: none;
}

@media screen and (max-width: 736px) {
	.for-mobile-only {
		display: block;
	}
}

.customize-dropzone {
	position: relative;
	input[type="file"] {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin: 0 auto;
		height: 280px;
		opacity: 0;
	}
	form {
		margin-top: 10px;
	}
}

.croping-btns {
	width: 180px;
	margin: 0 5px 15px;
}

.upload-skip-btn {
	width: 180px;
}

.profile-settings-main-div {
	.image-upload-main-div {
		h2 {
			display: none;
		}
	}
}
