<template>
	
	<div>
		
	</div>
	

</template>

<script>
	export default{
		props : [
		
		],
		data(){
			return{

			}
		},
		mounted (){

		},
		methods : {

		},
		computed : {

		},
		watch : {
			
		}
	}
</script>