<template>
	

	<common-methods 

	@form-submitted="formSubmitted"
	@get-response="getResponse" 
	@form-error="formError" 

	:url="url"
	:force="force"
	:submit="submit"
	:formData="formData" 
	:submitUrl="submitUrl" 
	:hideLoader="hideLoader"
	:submitType="submitType" 
	:infiniteLoad="infiniteLoad"

	>

</common-methods>



</template>

<script>
export default{
	data(){
		return{
			url : 'event',
			submitUrl : 'submitUrl',
			submitType : 'post',
			infiniteLoad : false,
			submit : false,
			force : false,
			hideLoader : false,
			successMessage : '',
			errorMessages : '',
			loading : false,
			formData : {
			},
		}
	},
	mounted(){
	},
	methods: {
		formSubmitted(response){
			this.submit = false;
			this.force = false;
		},
		formError(response){
			this.submit = false;
			this.force = false;
		},
		getResponse(response){
			this.submit = false;
			this.force = false;
		},
		update(){
			let self = this;
			self.loading = true;

			let data = self.formData;

			self.$http.post(self.url , data).then(response=>{

				response = response.body.response;
				self.successMessage = response.message;
				self.loading = false;

			});

		}
	},
}
</script>
