<template>


    <div>
        <div v-show="errorMessages.length" class="alert alert-danger">
            <ul v-for="error in errorMessages">
                <li>* {{error}}</li>
            </ul>

        </div>
        <div v-show="successMessage" class="alert alert-success">
            <strong>{{successMessage}}.</strong>
        </div>
    </div>


</template>


<script type="text/babel">
        export default{
            props : ['errorMessages' , 'successMessage']
        }
</script>


<style scoped>
        .alert{
            padding: 5px !important;
        }

</style>