<template>

    <div>
        <vue-pagination :direction="direction" :infiniteLoad="infiniteLoad" :loadingStart="loading" class="col-xs-12 col-md-12" @page-changed="getList" :pagination="pagination"></vue-pagination>
    </div>

</template>


<script>
    export default {
        props : [
        'url',
        'infiniteLoad',
        'force',
        'formData',
        'submit',
        'submitUrl',
        'hideLoader',
        'direction',
        'submitType'
        ],
        data () {
            return {
                records : [],
                pagination : '',
                loading : false,
                noRecordFound : false
            }  
        },
        mounted(){
            if(!this.infiniteLoad){
                this.getList(false);
            }
        },
        methods: {
            getList(page, successCallback){
                let self = this;    
                let url = self.url;

                if(!url){
                    return false;
                }

                let result = {
                    data : [],
                    noRecordFound : false
                };

                self.$emit('get-response', result);

                if(!this.hideLoader){
                    self.loading = true;
                }

                url = self.url;

                self.$emit('start-loading');

                if(typeof(page) !== 'undefined' && page){
                    url += '&page='+page;   
                }

                self.$http.get(url).then(response=>{
                    console.log(response.data.data)
                    response = response.data;
                    let result = {
                        data : response.data,
                        noRecordFound : false,
                        pagination : response.pagination,
                        additionalData : response.additionalData

                    };


                    if(!response.data || !response.data.length){
                        result.noRecordFound = true;
                    }

                    if(response.pagination){
                        result.noRecordFound = !response.pagination.total;
                    }


                    self.$emit('get-response', result);

                    self.pagination = response.pagination;

                    self.loading = false;

                    if(typeof successCallback !== 'undefined'){
                        successCallback(true);
                    }


                }).catch(error=>{


                    let result = {
                        data : [],
                        noRecordFound : false,
                        pagination : [],
                        status : error.status

                    };


                    self.$emit('get-response', result);
                    
                    self.loading = false;
                    console.log(result , 'exceptional handling error in generalize CommonMethods.vue@getList');
                });
            },
            submitForm(successCallback) {
                let self = this;

                let url = self.submitUrl;
                let data = this.formData;

                var urlRequest = '';

                if(this.submitType){
                    urlRequest = '';
                    if(this.submitType == 'delete'){
                        
                        urlRequest = self.$http.delete(url);
                    }else if(this.submitType == 'update'){
                        
                        urlRequest = self.$http.put(url, data);
                    }else{
                        
                        urlRequest = self.$http.post(url, data);
                    }
                }else{
                    urlRequest = self.$http.post(url, data);
                    
                }


                urlRequest.then(response => {
                    self.$emit('form-submitted', response.data.response);

                }).catch(error => {


                    if(typeof(successCallback) !== 'undefined'){
                        return successCallback(true);
                    }

                    console.log(error , 'exceptional handling error in generalize CommonMethods.vue@submitForm');
                    self.$emit('form-error', error);


                });

            },
        },
        watch:{
            url(val){
                this.url = val;
                this.getList();
            },
            force(value){
                if(value){
                    this.getList();
                }
            },
            submit(value){
                if(value && this.submitUrl){
                    this.submitForm();
                }
            }
        }
    }
</script>
