<template>

	<b-modal id="add-new-user" centered @hidden="onHidden" title-tag="h4" ok-variant="primary" ref="myModalRef" title="Confirmation">

    <h6>{{ title ? title : popupTitle }}</h6>

    <div slot="modal-footer" class="">



      <b-col class="float-left" cols="10">

        <alert-messages :errorMessages="errorMessages" :successMessage="successMessage"></alert-messages> 

      </b-col>


      <b-col class="float-right" cols="10">

        <button @click.prevent="submit = true; loading = true;" :class="[loading  ? 'show-spinner' : '' , 'btn' , 'btn-primary' ]">
          <span>Confirm</span> 
          <loader></loader>
        </button>

      </b-col>

    </div>


    <common-methods :submitType="submitType" @form-error="formError" @form-submitted="formSubmitted" :submitUrl="submitUrl" :formData="submitFormData" :submit="submit"></common-methods>

  </b-modal>

</template>


<script>
  export default{
    props : [
    'showModalValue',
    'submitFormData',
    'submitType',
    'submitUrl',
    'title'
    ],
    data(){
      return{
        loading : false,
        submit : false,
        errorMessages : '',
        successMessage : '',
        titleValue : 'Are you sure you want to perform this action ?'
      }   
    },
    computed : {
      popupTitle(){
        return this.titleValue;
      }
    },
    methods: {
      mounted (){
        if(this.title){
          console.log(this.title);
          this.titleValue = this.title;
        }
      },
      showModal() {
        this.$refs.myModalRef.show()
      },
      hideModal() {
        this.$refs.myModalRef.hide()
      },
      onHidden(){

       this.successMessage = '';

       this.errorMessages = '';
       this.$emit('hide-modal');
     },
     formSubmitted(response){
      let self = this;
      self.submit = false;
      self.loading = false;
      self.successMessage = response.message;

      var emitMethod = 'form-'+self.submitType+'ed';
      if(self.submitType == 'delete' || self.submitType == 'update'){
        emitMethod = 'form-'+self.submitType+'d';
      }

      self.$emit(emitMethod);

      setTimeout(function () {
        self.hideModal();
      }, 2000);
    },
    formError(response){
      let self = this;
      this.submit = false;
      this.loading = false;
      setTimeout(function () {
        self.hideModal();
      }, 2000);
    }

  },
  watch : {
    title (value){
      if(value){
        this.titleValue = value

      }
    },
    showModalValue(value){

      if(value){
        this.showModal();
      }
      if(!value){
        this.hideModal();
      }

    },

  }
}
</script>