<template>
	<div>		
		<vue2-dropzone class="ui-block" v-on:vdropzone-success="fileUploaded" v-on:vdropzone-sending="uploadFile" :id="'event-main-dropzone'" :options="dropzoneOptions"  v-bind:use-custom-dropzone-options="true" :useCustomSlot=true>
			<div class="dropzone-custom-content">
				<div class="upload-icon style2">
					<img src="../../../images/front/icons/upload-2.svg">
				</div>
				<h3 class="dropzone-custom-title">Drag and drop to upload content!</h3>
				<div class="subtitle">...or click to select a file from your computer</div>
			</div>
		</vue2-dropzone>
	</div>
</template>

<script>
	import vue2Dropzone from 'vue2-dropzone'
	export default{
		props : [
		'maxFilesLimit'
		],
		components: {
			vue2Dropzone
		},
		data(){
			return{

			}
		},
		mounted (){

		},
		methods : {
			uploadFile(file, xhr, formData) {
				formData.append('key', 'event');
				formData.append('id' , this.$route.params.id);

			},
			fileUploaded(file, response){
				this.$emit('file-uploaded' , response);

			}

		},
		computed : {
			dropzoneOptions(){
				
				console.log(this.maxFilesLimit , 12312321);

				var options = {
					url: '/api/file/upload',
					thumbnailWidth: 200,
					addRemoveLinks: false,
					headers: {
						'Authorization': 'Bearer '+Vue.auth.getToken() 
					},
					maxFiles : this.maxFilesLimit ? this.maxFilesLimit : null
				}
				return options;

			},
			
		},
		watch : {

		}
	}
</script>