<template>

	<b-modal id="add-new-user" @hidden="onHidden" title-tag="h4" ok-variant="primary" ref="myModalRef" title="Invite Users">



    <div class="container element-index">
      <div class="content-inner md">
        <div class="search-filter">
          <div class="custom-multi" :class="{ 'invalid': isInvalid }">
            <multiselect 
            v-model="formData.users"
            placeholder="Enter user name ?"
            track-by="id"
            label="first_name"
            id="ajax"
            open-direction="bottom"
            name="search"
            
            @search-change="asyncFind"
            
            :showNoResults="false"
            :allow-empty="false"
            :options="options"
            :loading="isLoading"
            :searchable="true"
            :options-limit="300"
            :limit="3"
            :limit-text="limitText"
            :max-height="600"
            :showNoOptions="true"
            :close-on-select="false"
            :clear-on-select="false"
            :multiple="true"
            >


            <template  slot="singleLabel" slot-scope="props">

              <img class="author-thumb" :src="props.option.file_path" alt="profile image">
              <span class="option__title student-name">
                {{  props.option | fullName }}
              </span>
            </template>


          </multiselect>
        </div>
      </div>
    </div>
  </div>




  <div slot="modal-footer" class="">



    <b-col class="float-left" cols="10">

      <alert-messages :errorMessages="errorMessages" :successMessage="successMessage"></alert-messages> 

    </b-col>


    <b-col class="float-right" cols="10">

      <button @click.prevent="submit = true; loading = true;" :class="[loading  ? 'show-spinner' : '' , 'btn' , 'btn-primary' ]">
        <span>Send Invite</span> 
        <loader></loader>
      </button>

    </b-col>

  </div>


    <common-methods 
    :submit="submit"
    :formData="formData"
    :submitUrl="'event/send-invite'"
    @form-submitted="formSubmitted"
    >
    </common-methods>



</b-modal>

</template>


<script>
  export default{
    props : [
    'showModalValue',
    'url'
    ],
    data(){
      return{
        isLoading : false,
        formData : {
        },
        options : [],
        loading : false,
        submit : false,
        errorMessages : '',
        successMessage : ''
      }   
    },
    mounted(){
    },
    methods: {

      limitText (count) {
        return `and ${count} other services`
      },
      asyncFind: _.debounce(function(query) {
        let self = this;

        if(!query || query.length < 3) return;

        let url  = this.url+'?keyword='+query;

        this.isLoading = true;

        this.$http.get(url).then(response => {
          response = response.data.response;
          self.isLoading = false;
          self.options = response.data;

        }).catch(error=>{
        });
      }, 1000),


      
      showModal() {
        this.formData.event_id = this.$route.params.id;
        this.$refs.myModalRef.show()
      },
      hideModal() {
        this.$refs.myModalRef.hide()
      },
      onHidden(){

       this.successMessage = '';

       this.errorMessages = '';
       this.$emit('hide-modal');
     },
     formSubmitted(response){},
     formError(response){
      let self = this;
      this.submit = false;
      this.loading = false;
      setTimeout(function () {
        self.hideModal();
      }, 2000);
    }

  },
  computed : {

    isInvalid () {
      return !this.searchValue
    }
    
  },
  watch : {

    searchValue(value){
      if(value){
        this.$emit('get-response', value.id);
      }
    },
    
    showModalValue(value){

      if(value){
        this.showModal();
      }
      if(!value){
        this.hideModal();
      }

    },

  }
}
</script>