<template>




	<div class="image-upload-main-div">
		<div>
			<h2>Select an image</h2>
		</div>
		

		<upload-image-component @get-response="formSubmitted" :url="'user/profile/image'"></upload-image-component>		

		<alert-messages :errorMessages="errorMessages" :successMessage="successMessage"></alert-messages> 


	</div>



</template>	



<script>
	export default{
		props : ['buttonText' , 'url'],
		data(){
			return{
				file : '',
				successMessage : '',
				errorMessages : '',
				loading : false,
				image : '',
			}
		},
		mounted(){
		},
		methods: {
			formSubmitted(response){
				let self = this;
				
				const data = {};
				data.name = response.name;
				
				self.loading = true;
				
				self.$http.post(self.url , data).then(response=>{
					
					self.loading = false;
					
					response = response.body.response;
					
					self.successMessage = 'Updated successfull.';
					
					console.log(response.data , 121213123);

					self.$emit('updated-successfully' , response.data);
				});

			},
		}
	}
</script>





<style>

.image-upload-main-div img {
	width: 30%;
	margin: auto;
	display: block;
	margin-bottom: 10px;
}

.image-upload-main-div .buttons-main-div{
	text-align : center;
}

</style>