<template>
	<div>
    	<!-- Modal Component -->
    	<b-modal id="modal1" centered  hide-footer hide-header class="guideline-popup">
    		<span @click="hideModal" class="icon-cancel"></span>
    		<div class="guider-image">
    			<img :src="characterImage">
    		</div>
    		<div class="guider-content">
    			<h4>Welcome To The Pictait</h4>
    			<p>Vivamus iaculis nibh massa, eu tincidunt neque vehicula in. Aliquam quis lorem dui. Mauris in tellus iaculis, gravida nisl in, placerat nisi. Nam et ante neque. Vivamus eu tellus quam.</p>
    		</div>
    	</b-modal>
	</div>
</template>
<script>
  export default {
  	data(){
  		return{
  			characterImage : '../../images/front/guider.svg',
  		}
  	},
    methods: {
      showModal() {
        this.$refs.myModalRef.show()
      },
      hideModal() {
        this.$refs.myModalRef.hide()
      }
    }
  }
</script>