<template>
    <div>


        <div v-if="showPagination" class="total-record float-left">
            <p><strong>Total records: <span>{{totalRecords}}</span></strong></p>
        </div>
        
        <div v-if="showPagination" class="pagination-wrapper float-right">
            <b-pagination @input="changePage" size="md" :total-rows="totalRecords" v-model="currentPage" :per-page="25"></b-pagination>
        </div>

        <infinite-loading :direction="direction" v-if="infiniteLoad" @infinite="infiniteHandler">
            <span slot="no-more">
            </span>
            <span slot="spinner"></span>
        </infinite-loading>    

        <center>
            <spinner-loader v-if="showLoading"></spinner-loader>
        </center>

    </div>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';

    export default{
        components : {
            InfiniteLoading
        },
        props : [
        'pagination',
        'loadingStart',
        'infiniteLoad',
        'direction'
        ],
        data(){
            return{
                loading : false,
                records : [],
                showNoRecordFound : false,
            }
        },
        mounted(){
        },
        computed : {
            showLoading(){
                return this.loadingStart;
            },
            showPagination(){
                return false;
                return this.pagination && !this.infiniteLoad;
            },
            totalRecords(){
                return this.pagination ? this.pagination.total : 0;
            },
            currentPage(){
                return this.pagination ? this.pagination.current : 1;    
            }
        },
        watch :{
            loadingStart(value){
            },
            pagination(value){
                if(value){
                    if(value.current == value.next){

                    }
                }
            },
            direction(){
                if(!value){
                    return 'bottom';
                }
                return 'top';
            }
        },
        methods: {
            changePage(pageNumber){
                this.$emit('page-changed', pageNumber);
            },
            infiniteHandler($state) {
                let self = this;

                if(!self.pagination){

                    self.$parent.getList(false , function (response) {
                        setTimeout(function () {
                            $state.loaded();
                        } , 3000);
                    });

                }else{
                    if(self.pagination && self.pagination.current != self.pagination.next){

                        self.$parent.getList(self.pagination.next , function (response) {

                            setTimeout(function () {
                                $state.loaded();
                            } , 3000);

                        });

                    }else{
                        $state.complete();
                    }

                }

            },
        }
    }
</script>