<template>

	<div>
		
		<div class="container element-index">
			<div class="content-inner md">
				<div class="search-filter">
					<div class="custom-multi" :class="{ 'invalid': isInvalid }">
						<multiselect 
						v-model="searchValue"
						placeholder="Enter user name ?"
						track-by="id"
						label="first_name"
						id="ajax"
						open-direction="bottom"
						name="search"
						
						@search-change="asyncFind"
						
						:showNoResults="false"
						:allow-empty="false"
						:options="options"
						:loading="isLoading"
						:searchable="true"
						:options-limit="300"
						:limit="3"
						:limit-text="limitText"
						:max-height="600"
						:showNoOptions="true"
						>

		
						<template  slot="singleLabel" slot-scope="props">

							<img class="author-thumb" :src="props.option.file_path" alt="profile image">
							<span class="option__title student-name">
								{{  props.option | fullName }}
							</span>
						</template>


					</multiselect>
				</div>
			</div>
		</div>
	</div>

</div>

</template>

<script>

	export default{
		props : ['url'],
		data(){
			return {
				isLoading : false,
				searchValue : false,
				options : [],
				errorMessage : '',
				successMessage : '',
			}
		},
		methods : {
			limitText (count) {
				return `and ${count} other services`
			},
			asyncFind: _.debounce(function(query) {
				let self = this;

				if(!query || query.length < 3) return;

				let url  = this.url+'?keyword='+query;

				this.isLoading = true;

				this.$http.get(url).then(response => {
					response = response.data.response;
					self.isLoading = false;
					self.options = response.data;

				}).catch(error=>{
				});
			}, 1000),


		},
		computed : {
			isInvalid () {
				return !this.searchValue
			}
		},
		watch : {
			searchValue(value){
				if(value){
					this.$emit('get-response', value.id);
				}
			}
		}
	}

</script>

<style scoped>

.author-thumb{
	height:25px !important;
}


</style>