<template>
	<div>





		<div class="ui-block vue-dropzone dropzone customize-dropzone">
			<div class="ui-block-content">
				<div class="dz-message">
					<a href="#" class="dropzone-custom-content">
						<div class="upload-icon style2">
							<img
							src="/images/upload-2.svg?b97bde23a012b6628b3c1dc6256d63cc"
							/>
						</div>
						<h3 class="dropzone-custom-title">
							Drag and drop to upload dare image!
						</h3>
						<div class="subtitle">
							...or click to select a file from your computer
						</div>






						<center>
							<a href="#">
								<input
								type="file"
								name="image"
								accept="image/*"
								style="font-size: 1.2em; padding: 10px 0;"
								@change="setImage"
								/>
							</a>

							<br />
							<div>
								<vue-cropper
								v-if="imgSrc"
								ref="cropper"
								:guides="true"
								:view-mode="2"
								drag-mode="crop"
								:auto-crop-area="0.5"
								:min-container-width="250"
								:min-container-height="180"
								:background="true"
								:rotatable="true"
								:src="imgSrc"
								alt="Source Image"
								:img-style="{ width: '400px', height: '300px' }"
								>
							</vue-cropper>
						</div>
						<br />
						<br />

						<button
						:class="[
						'btn',
						'btn-primary croping-btns',
						loading ? 'show-spinner' : ''
						]"
						@click.prevent="cropImage"
						v-if="imgSrc != ''"
						>
						<span>Crop and Upload</span>
						<loader></loader>
					</button>

					<button
					class="btn btn-info croping-btns"
					@click="rotate"
					v-if="imgSrc != ''"
					>
					Rotate
				</button>
			</center>

		</form>
	</a>
</div>
</div>
</div>



</div>
</template>

<script>
	import VueCropper from "vue-cropperjs";
	export default {
		components: {
			VueCropper
		},
		props: ["uploadUrl", "folderKey", "formData", "hideHeader", "resetValues"],
		data() {
			return {
				imgSrc: "",
				cropImg: "",
				url: "file/upload",
				uploadKey: "user",
				loading: false
			};
		},
		methods: {
			setImage(e) {
				const file = e.target.files[0];
				if (!file.type.includes("image/")) {
					alert("Please select an image file");
					return;
				}
				if (typeof FileReader === "function") {
					const reader = new FileReader();
					reader.onload = event => {
						this.imgSrc = event.target.result;
						this.$refs.cropper.replace(event.target.result);
					};
					reader.readAsDataURL(file);
				} else {
					alert("Sorry, FileReader API not supported");
				}
			},
			cropImage() {
				this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
				this.onUpload(this.cropImg);
			},
			rotate() {
				this.$refs.cropper.rotate(90);
			},
			onUpload(file) {
				var self = this;
				self.loading = true;
				this.url = this.uploadUrl ? this.uploadUrl : this.url;
				this.uploadKey = this.folderKey ? this.folderKey : this.uploadKey;

				var data = new FormData();

				for (var key in this.formData) {
					if (this.formData.hasOwnProperty(key)) {
						data.append(key, this.formData[key]);
					}
				}

				data.append("key", this.uploadKey);
				data.append("file", file);

				this.$http
				.post(this.url, data)
				.then(response => {
					response = response.data;
					self.loading = false;
					self.$emit("get-response", response);
				})
				.catch(error => {
					error = error.response.data;
					self.loading = false;
					let errors = error.errors;
					self.$emit("get-error", errors);
				});
			}
		},
		watch: {
			resetValues() {
				console.log(this.$refs, "1231312");
				this.$refs.cropper.destroy();
				this.imgSrc = "";
				this.cropImg = "";
				this.loading = false;
				$("input[name=image]").val("");
			}
		}
	};
</script>
