<template>
    <!-- Header -->
    <div>
        <header class="header" id="site-header">
            <div class="page-title" style="display: none;">
                <router-link :to="{ path: '/' }">Home</router-link>
            </div>
            <div class="header-content-wrapper">
                <div class="app-logo">
                    <router-link :to="{ path: '/' }"><img src="../../../images/front/logo.png"></router-link>
                </div>
                <search-navbar></search-navbar>
                <div class="control-block">
                    <dare-request-block @get-response="getResponse"></dare-request-block>
                    <notifications-block @get-response="getResponse" :newNotification="newNotification"></notifications-block>
                    <!--<messages-block></messages-block>-->
                    <friends-request-block></friends-request-block>
                    <profile-dropdown-block></profile-dropdown-block>

                </div>
            </div>
        </header>
        <dare-images @hide-modal="showModal = false;" :showModalValue="showModal" :record="currentRecord"></dare-images>
    </div>
</template>

<script>
export default{
    data(){
        return {
            currentRecord : '',
            showModal : false,
            newNotification : ''
        }
    },
    mounted () {
    },
    computed : {
        authUser(){
            return this.$store.getters.getAuthUser;
        }
    },
    methods : {
        getResponse(response){
            if(response.data){
                this.showModal = true;
                this.currentRecord = response.data;
            }
        }
    }
}


</script>
