<template>



	<div>
		<form @submit.prevent="" v-on-clickaway="clickedAway" class="search-bar w-search notification-list friend-requests">
			<div class="form-group with-button">
				<input v-model="searchValue" @keyup="asyncFind" class="form-control js-user-search" placeholder="Search users" type="text">
				<button @click.prevent="">
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="icons/icons.svg#olymp-magnifying-glass-icon"></use></svg>
				</button>
			</div>
			<div class="el-input-group__append">


				<no-records-found v-if="noRecord"></no-records-found>

				<ul v-if="records.length" class="vue-instant__suggestions">
					<router-link tag="li" :key="record.id" :to="{name : 'user.profile.timeline' , params : {id : record.id}}" v-for="record in records" class="highlighted__google">
						{{record | fullName}}
					</router-link>
				</ul>
			</div>

		</form>



	</div>

</template>

<script>
import { directive as onClickaway } from 'vue-clickaway';

export default{
	data () {
		return {
			url : 'user?pagination=true',
			isLoading : false,
			searchValue : '',
			records : [],
			noRecord : false
		}
	},
	directives: {
		onClickaway: onClickaway,
	},

	methods : {
		clickedAway(){
			this.records = [];
			this.noRecord = false;
			this.searchValue = '';
		},
		asyncFind: _.debounce(function(query) {
			let self = this;
			
			self.noRecord = false;

			if(!this.searchValue || this.searchValue.length < 3) {

				if(!this.searchValue){
					this.records = [];
				}

				return;
			}
			
			let url  = this.url+'&keyword='+this.searchValue;
			
			this.isLoading = true;

			this.$http.get(url).then(response => {
				response = response.data.response;
				self.records = response.data;

				if(!self.records.length){
					self.noRecord = true;
				}

				self.isLoading = false;

			}).catch(error=>{
			});
		}, 1000),
	},
	watch: {
		'$route' (to, from) {
			this.records = [];
			this.noRecord = false;
			this.searchValue = '';

		}
	}
}


</script>