<template>
  <b-modal size="lg" id="add-new-user" @hidden="onHidden" title-tag="h4" ok-variant="primary" ref="myModalRef" title="Dare Images">

    <div class="dare-images-large-box col-md-12 col-sm-12 col-xs-12">

      <photo-card @form-updated="formUpdated" :dareModal="true" :liked="record.userLikedByMe" :userType="'user'" :user="record.user" :totalLikes="record.userLikesCount" :imageUrl="record.userImagePath" :record="record" :photoWidth="'half-width'">

      </photo-card>

      <photo-card @form-updated="formUpdated" :dareModal="true" :liked="record.challengerLikedByMe" :userType="'challenger'" :user="record.challenger" :totalLikes="record.challengerLikesCount" :imageUrl="record.challengerImagePath" :record="record" :photoWidth="'half-width'"></photo-card>


    </div>


    <div slot="modal-footer" class="">
      <b-col class="float-left" cols="6">

      </b-col>
    </div>
  </b-modal>



</div>

</template>

<script>
export default{
  props : ['record', 'showModalValue'],
  data(){
    return{}
  },
  mounted(){
  },
  methods: {
    formUpdated(response){
      this.$emit('form-updated' , response);
    },
    showModal() {
      this.$refs.myModalRef.show()
    },
    hideModal() {
      this.$refs.myModalRef.hide()
    },
    onHidden(){
      this.$emit('hide-modal');
    },

  },
  watch : {
    record(value){
    },
    showModalValue(value){

      if(value){
        this.showModal();
      }
      if(!value){
        this.hideModal();
      }

    },

  }
}
</script>