
<!-- Window-popup Update Header Photo -->
<template>
<div class="modal fade" id="update-header-photo">
	<div class="modal-dialog ui-block window-popup update-header-photo">
		<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
			<svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
		</a>

		<div class="ui-block-title">
			<h6 class="title">Update Header Photo</h6>
		</div>

		<image-upload @updated-successfully="updated" :buttonText="'Upload Profile Image'" :url="'user/profile/image'"></image-upload>	


	</div>
</div>
</template>

<script>
    export default{
        data(){
        	return{}
        },
        mounted(){
        },
        methods: {
            updated(user){
            	this.$store.commit('setAuthUser' , user);
            },
        }
    }
</script>


<!-- ... end Window-popup Update Header Photo -->
<style>	

.upload-photo-item{
	width:100%;
}

</style>