<template>
    <b-modal
    size="lg"
    id="add-new-user"
    @hidden="onHidden"
    title-tag="h4"
    ok-variant="primary"
    ref="myModalRef"
    title="Dare Images"
    >

                        <upload-image-component
                        :resetValues="resetValues"
                        v-if="step1"
                        @get-response="getResponse"
                        :folderKey="'dare'"
                        ></upload-image-component> 


    <div v-if="!step1">

        <h5 class="heading-large">
            Please select a user to challenge for a dare
        </h5>
        <div class="row  col-md-12">
            <div class="col-md-6">
                <search-multi-select
                :url="'user/search/follower'"
                @get-response="getSearchValue"
                ></search-multi-select>
            </div>

            <div class="col-md-6">
                <img
                :src="dareImage.upload_url"
                v-if="dareImage.upload_url"
                style="width: 250px; height: 250px; border: 1px solid gray;"
                alt="Cropped Image"
                />
            </div>
        </div>

        <button
        style="margin-left: 35%; width: 250px; margin-top: 10px;text-align: center;"
        :class="['btn', 'btn-primary', loading ? 'show-spinner' : '']"
        @click="validateBeforeSubmit"
        >
        <span>Save and create challenge</span>
        <loader></loader>
    </button>
</div>
<common-methods
:submitType="'post'"
@form-submitted="formSubmitted"
:submitUrl="'dare'"
:formData="submitFormData"
:submit="submit"
></common-methods>
<div slot="modal-footer" class="">
    <b-col class="float-left" cols="6"> </b-col>
</div>
</b-modal>
</template>

<script>
    export default {
        props: ["showModalValue"],
        data() {
            return {
                imageUploaded: false,
                step1: true,
                dareImage: {
                    upload_url: ""
                },
                submitFormData: {},
                submit: false,
                loading: false,
                resetValues: false
            };
        },
        methods: {
            showModal() {
                this.$refs.myModalRef.show();
            },
            hideModal() {
                this.$refs.myModalRef.hide();
            },
            onHidden() {
                this.submitFormData = {};
                this.step1 = true;
                this.$emit("hide-modal");
            },
            getSearchValue(searchValue) {
                this.submitFormData.challenger_id = searchValue;
                this.submitFormData.userImage = this.dareImage.name;
                this.submitFormData.status = "pending";
            },
            getResponse(response) {
                this.imageUploaded = true;
                this.dareImage = response;
                this.step1 = false;
            },
            validateBeforeSubmit() {
                this.errorMessage = "";
                this.$validator.validateAll().then(result => {
                    if (result) {
                        if (!this.submitFormData.challenger_id) {
                            this.errorMessage = "Please select a user to challenge";
                            return false;
                        }

                        this.loading = true;
                        this.errorMessage = "";
                        this.submit = true;
                        return;
                    }
                    this.errorMessage = this.errorBag.all()[0];
                });
            },
            formSubmitted(response) {
                let self = this;
                if (response.data) {
                    this.loading = false;

                    setTimeout(function() {
                        self.hideModal();
                    }, 2000);
                }
            }
        },
        watch: {
            showModalValue(value) {
                this.resetValues = !this.resetValues;
                this.step1 = true;
                if (value) {
                    this.dareImage = {
                        upload_url: ""
                    };
                    this.showModal();
                }
                if (!value) {
                    this.hideModal();
                }
            }
        }
    };
</script>

<style scoped></style>
