    <template>

        <div>	

            <ul class="comments-list">
                <comment :key="comment._id" v-for="comment in comments" :record="comment"></comment>
            </ul>



        </div>



    </template>	

    <script>
    export default{
        props : [
        'records',
        'moreComments'
        ],
        data(){
            return{
                comments : [],
            }
        },
        mounted(){
            for (var i = this.records.data.length -1 ; i >=0;  i--) {
                this.comments.push(this.records.data[i])
            }

        },
        methods: {
        },
        watch : {
            records(value){
                for (var i = value.data.length -1 ; i >=0;  i--) {
                    this.comments.push(value.data[i])
                }
            },
            moreComments(value){
              for (var i = value.length -1 ; i >=0;  i--) {
                this.comments.unshift(value[i])
            }  
        }
    }
}
</script>
