<template>

	<div>

	<li v-if="comment">
		<div class="post__author author vcard inline-items">
			<img :src="comment.user | userProfileImage" alt="author">

			<div class="author-date">
				<a class="h6 post__author-name fn" href="02-ProfilePage.html">{{comment.user ? comment.user.first_name : ''}}</a>
				<span>{{comment.formatted_created_at ? comment.formatted_created_at : ''}}</span>
				<div class="post__date">
					<time class="published">
					{{comment.comment ? comment.comment : ''}}						
					</time>
				</div>
			</div>

			<a @click.prevent="" v-can="comment.user.id" href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>

		</div>


	</li>
	
	</div>

</template>


<script>
    export default{
    	props : ['record'],
        data(){
        	return{
			comment : '',
          }
        },
        mounted(){
        	this.comment = this.record;
        },
        methods: {
    	}
    }
</script>
