    

<template>


    <form class="comment-form inline-items">

        <div class="post__author author vcard inline-items">
            <img :src="$store.getters.getAuthUser | userProfileImage" alt="author">
        </div>

        <div class="form-group with-icon-right ">
            <textarea @keydown.enter="update" class="form-control" v-model="comment" placeholder=""></textarea>
        </div>
    </form>


</template>



<script>
export default{
    props : ['postId'],
    data(){
        return{
            records : [],
            url : 'comment',
            comment : '',
            showNoRecordFound : false,
        }
    },
    mounted(){
    },
    methods: {
        update(){
            let self = this;
            let data = {
                post_id : self.postId,
                comment : self.comment
            };
            if(!self.comment){
                return false;
            }
            self.comment = '';
            self.$http.post(self.url , data).then(response=>{
                this.$emit('comment-created' , response.body.response.data);
                self.comment = '';
            });

        },
    }
}
</script>
