/*Font family mixin*/

/* $font_regular:'Lato-Regular';
$font_bold:'Lato-Bold';
$font_light:'Lato-Light';
$font_thin:'Lato-Thin';
$font_medium:'Lato-Medium';
$font_ebold:'Lato-Black';
$font_black:'Lato-Black';
 */
$font_regular:'OpenSans-Regular';
$font_bold:'OpenSans-Bold';
$font_light:'OpenSans-Light';
$font_thin:'OpenSans-Light';
$font_medium:'OpenSans-SemiBold';
$font_ebold:'OpenSans-ExtraBold';
$font_black:'OpenSans-ExtraBold';

@mixin declare-font-face($font-family, $font-filename, $font-weight: normal, $font-style :normal, $font-stretch: normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url(('fonts/#{$font-filename}.eot'));
        src: url(('fonts/#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
        url(('fonts/#{$font-filename}.woff')) format('woff'),
        url(('fonts/#{$font-filename}.ttf')) format('truetype'),
        url(('fonts/#{$font-filename}.svg##{$font-family}')) format('svg');
        font-style:normal;
        font-weight:400;
        font-stretch:none;
    }
}

/*include files*/

/* @include declare-font-face($font_regular,'Lato-Regular');
@include declare-font-face($font_bold,'Lato-Bold');
@include declare-font-face($font_light,'Lato-Light');
@include declare-font-face($font_thin,'Lato-Thin');
@include declare-font-face($font_medium,'Lato-Medium');
@include declare-font-face($font_ebold,'Lato-Black'); */

@include declare-font-face($font_regular,'OpenSans-Regular');
@include declare-font-face($font_bold,'OpenSans-Bold');
@include declare-font-face($font_light,'OpenSans-Light');
@include declare-font-face($font_thin,'OpenSans-Light');
@include declare-font-face($font_medium,'OpenSans-SemiBold');
@include declare-font-face($font_ebold,'OpenSans-ExtraBold');

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?3toe5f');
    src: url('fonts/icomoon.eot?3toe5f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3toe5f') format('truetype'),
    url('fonts/icomoon.woff?3toe5f') format('woff'),
    url('fonts/icomoon.svg?3toe5f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-out:before {
  content: "\e903";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-image:before {
  content: "\e90d";
}
.icon-upload1:before {
  content: "\e904";
}
.icon-upload:before {
  content: "\e902";
}
.icon-android:before {
  content: "\e859";
}
.icon-apps:before {
  content: "\e5c3";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-aspect_ratio:before {
  content: "\e85b";
}
.icon-poll:before {
  content: "\e801";
}
.icon-assignment:before {
  content: "\e85d";
}
.icon-assignment_ind:before {
  content: "\e85e";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-cloud_upload:before {
  content: "\e2c3";
}
.icon-border_color:before {
  content: "\e22b";
}
.icon-build:before {
  content: "\e869";
}
.icon-cached:before {
  content: "\e86a";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-cancel:before {
  content: "\e5c9";
}
.icon-change_history:before {
  content: "\e86b";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_circle:before {
  content: "\e86c";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-cloud_circle:before {
  content: "\e2be";
}
.icon-cloud_done:before {
  content: "\e2bf";
}
.icon-cloud_download:before {
  content: "\e2c0";
}
.icon-photo_library:before {
  content: "\e413";
}
.icon-collections_bookmark:before {
  content: "\e431";
}
.icon-content_paste:before {
  content: "\e14f";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-create_new_folder:before {
  content: "\e2cc";
}
.icon-done:before {
  content: "\e876";
}
.icon-done_all:before {
  content: "\e877";
}
.icon-edit_location:before {
  content: "\e568";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-insert_invitation:before {
  content: "\e24f";
}
.icon-event_available:before {
  content: "\e614";
}
.icon-event_busy:before {
  content: "\e615";
}
.icon-event_note:before {
  content: "\e616";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-free_breakfast:before {
  content: "\eb44";
}
.icon-my_location:before {
  content: "\e55c";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-headset:before {
  content: "\e310";
}
.icon-headset_mic:before {
  content: "\e311";
}
.icon-hearing:before {
  content: "\e023";
}
.icon-help:before {
  content: "\e887";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-highlight_off:before {
  content: "\e888";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-keyboard_backspace:before {
  content: "\e317";
}
.icon-keyboard_voice:before {
  content: "\e31d";
}
.icon-photo_size_select_actual:before {
  content: "\e432";
}
.icon-pin_drop:before {
  content: "\e55e";
}
.icon-play_arrow:before {
  content: "\e037";
}
.icon-play_circle_filled:before {
  content: "\e038";
}
.icon-play_circle_outline:before {
  content: "\e039";
}
.icon-power_settings_new:before {
  content: "\e8ac";
}
.icon-rotate_left:before {
  content: "\e419";
}
.icon-rotate_right:before {
  content: "\e41a";
}
.icon-sentiment_dissatisfied:before {
  content: "\e811";
}
.icon-sentiment_neutral:before {
  content: "\e812";
}
.icon-sentiment_satisfied:before {
  content: "\e813";
}
.icon-sentiment_very_dissatisfied:before {
  content: "\e814";
}
.icon-sentiment_very_satisfied:before {
  content: "\e815";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-videocam:before {
  content: "\e04b";
}
.icon-videocam_off:before {
  content: "\e04c";
}
.icon-view_headline:before {
  content: "\e8ee";
}
.icon-view_list:before {
  content: "\e8ef";
}
.icon-view_module:before {
  content: "\e8f0";
}
.icon-volume_down:before {
  content: "\e04d";
}
.icon-volume_mute:before {
  content: "\e04e";
}
.icon-volume_off:before {
  content: "\e04f";
}
.icon-volume_up:before {
  content: "\e050";
}
.icon-zoom_out_map:before {
  content: "\e56b";
}
.icon-add:before {
  content: "\e901";
}
.icon-star_border:before {
  content: "\e900";
}
.icon-minus:before {
  content: "\f068";
}
.icon-minus-square:before {
  content: "\f146";
}
.icon-plus-square:before {
  content: "\f0fe";
}
.icon-plus:before {
  content: "\f067";
}
