.login-content-bg{
	background-image: linear-gradient(to right bottom, #01acd8, #009ed3, #008fcc, #0081c4, #0072bb, #2068b5, #325dad, #3f52a4, #51489c, #5f3c91, #6b2f85, #741e77);	
}
.content-bg-wrap{
	background-color: #000;
}