	<template>

		<!-- ... end Main Header Your Account -->



		<div class="profile-settings-main-div" id="profile-settings-account-main-div">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Account Settings</h6>
				</div>
				<div class="ui-block-content">
					<form>
						<div class="row">

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group label-floating is-select">
									<label class="control-label settings-label">Who Can Friend You?</label>
									<select v-model="formData.friend_requests.can_send" class="selectpicker form-control" size="auto">
										<option value="EO">Everyone</option>
										<option value="NO">No One</option>
									</select>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group label-floating is-select">
									<label class="control-label settings-label">Who Can View Your Posts</label>
									<select v-model="formData.posts.can_view" class="selectpicker form-control" size="auto">
										<option value="US">Friends Only</option>
										<option value="EO">Everyone</option>
									</select>
								</div>
							</div>


							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<button @click.prevent="update();" :class="['btn' ,  'btn-primary' ,  'btn-lg'  ,  loading ? 'show-spinner' : '']">
									<loader></loader>
									<span>Save all Changes</span>
								</button>
							</div>
						</div>
						<alert-messages :errorMessages="errorMessages" :successMessage="successMessage"></alert-messages>	
					</form>
				</div>


			</div>
		</div>





		<!-- Your Account Personal Information -->

	</template>

	<script>
	export default{
		data(){
			return{
				successMessage : '',
				errorMessages : '',
				loading : false,
				formData : {
					posts : {
						can_view : false,
					},
					friend_requests : {
						can_send : false,
					}
				},
				url : 'setting',
			}
		},
		mounted(){
			this.getSingle();
		},
		methods: {
			getSingle(){
				let self = this;
				self.loading = true;

				self.showNoRecordFound = false;
				let url = self.url;
				self.$http.get(url).then(response=>{
					response = response.body.response;
					
					self.loading = false;

					self.formData = response.data ?  response.data : self.formData;
					if (!self.formData.length) {
						self.showNoRecordFound = true;
					}
				}).catch(error=>{

				});
			},
			update(){
				let self = this;
				self.loading = true;

				let data = self.formData;

				self.$http.post(self.url , data).then(response=>{
					
					response = response.body.response;
					self.successMessage = response.message;
					self.loading = false;

				});

			}
		},
	}
	</script>
