<template>

	<div class="col-xl-9 push-xl-3 col-lg-9 push-lg-3 col-md-12 col-sm-12 col-xs-12 profile-settings-main-div" id="profile-settings-change-password-main-div">
		<div class="ui-block">
			<div class="ui-block-title">
				<h6 class="title">Change Password</h6>
			</div>
			<div class="ui-block-content">
				<form>
					<div class="row">

						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<label class="control-label">Confirm Current Password</label>
								<input v-validate="'required'" v-model="formData.old_password" name="old password" class="form-control" placeholder="" type="password" value="Olympus-2017">
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group is-empty">
								<label class="control-label">Your New Password</label>
								<input v-validate="'required'" v-model="formData.new_password" name="new_password" data-vv-as="new password" class="form-control" placeholder="" type="password">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group is-empty">
								<label class="control-label">Confirm New Password</label>
								<input v-validate="'required|confirmed:new_password'" v-model="formData.confirm_password" name="confirm password" class="form-control" placeholder="" type="password">
							</div>
						</div>

						<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
							<div class="remember">

								<div class="checkbox">
									<label>
										<input name="optionsCheckboxes" type="checkbox">
										Remember Me
									</label>
								</div>

								<a href="#" class="forgot">Forgot my Password</a>
							</div>
						</div>

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<button @click.prevent="validateBeforeSubmit();" :class="['btn' ,  'btn-primary' ,  'btn-lg' ,  'full-width' ,  loading ? 'show-spinner' : '']"><span>Save all Changes</span>
								<loader></loader>
							</button>
						</div>

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

							<alert-messages :errorMessages="errorMessages" :successMessage="successMessage"></alert-messages> 

						</div>
					</div>
				</form>
			</div>

		</div>
	</div>


</template>

<script>
import Multiselect from 'vue-multiselect'
export default{
	props : ['countryOptions'],
	data(){
		return{
			successMessage : '',
			errorMessages : [],
			loading : false,
			formData : {
				old_password : '',
				new_password : '',
				confirm_password : '',
			},
			url : 'user/change-password'
		}
	},
	mounted(){
	},
	methods: {
		validateBeforeSubmit() {
			this.$validator.validateAll().then((result) => {
				if (result) {
					this.update();
					this.errorMessages =  [];
					return;
				}
				this.errorMessages =  this.errorBag.all()[0];
			});
		},
		update(){
			let self = this;
			let data = self.formData;
			self.loading = true;
			self.$http.post(self.url , data).then(response=>{
				self.loading = false;
				response = response.body.response;
				self.successMessage = 'Updated successfull.';

				setTimeout(function () {
					self.successMessage = '';				
					self.formData.old_password = '';
					self.formData.new_password = '';
					self.formData.confirm_password = '';
					
				} , 1000);

			}).catch(error=>{

				self.loading = false;
				let errors = error.body.errors;
				_.forEach(errors, function(value, key) {
					self.errorMessages.push(errors[key][0]);
				});


			});

		}
	}
}
</script>
