<template>

<div class="main-header">
	<div class="content-bg-wrap profile-settings-bg">
		<div class="content-bg  bg-music"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
				<div class="main-header-content">
					<h1>Your Account Dashboard</h1>
					<p>Welcome to your account dashboard! Here you’ll find everything you need to change your
						profile information, settings, read notifications and requests, view your latest messages,
						change your pasword and much more! Also you can create or manage your own favourite page, have fun!
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="banner-slide">
			<img src="/img/front/illustration/account-bottom.png" alt="friends" class="img-bottom for-desktop-only">
			<img src="/img/front/illustration/account-bottom-mobile.png" alt="friends" class="img-bottom for-mobile-only">
	</div>	
</div>

</template>