<template>
    <div>
    <!-- Top Header -->
    <settings-main-header></settings-main-header>   
        <div class="container-fullwidth">
            <div class="site-max-wrapper">
                <div class="row">
                <div class="col-xs-12 col-md-3">
                    <settings-right-sidebar @show-tab="showEmittedTab"></settings-right-sidebar>                             
                </div>
                    <!-- ... end Top Header -->
                <div class="col-xs-12 col-md-9">
                    <div class="profile-settings-main-body">
                    <!-- ... end Top Header -->
                        <div class="">
                                <settings-account v-if="showTabValue == 'account'"></settings-account>
                                <settings-personal v-if="showTabValue == 'personal'" :countryOptions="records"></settings-personal>
                                <!-- <settings-change-password v-if="showTabValue == 'password'"></settings-change-password> -->
                                <settings-profile-image v-if="showTabValue == 'profileImage'"></settings-profile-image>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
        	return{
			records : [],
			country_url : 'country',
            showNoRecordFound : false,
            search : '',
            showTab :  'profileImage'
          }
        },
        computed:{
            showTabValue(){
                return this.showTab;
            }
        },
        mounted(){
            this.getList();
            this.showEmittedTab(this.showTab);
        },
        methods: {
            showEmittedTab(tab){
                this.showTab = tab;
            },
            getList(){
                    let self = this;
                    self.showNoRecordFound = false;
                    let url = self.country_url;

                    self.$http.get(url).then(response=>{
                    response = response.body.response;
                    self.records = response.data;
                    if (!self.records.length) {
                        self.showNoRecordFound = true;
                    }
                    }).catch(error=>{

                    });
                }
        }
    }
</script>
