<template>

  <div class="profile-settings-main-div" id="profile-settings-personal-main-div">
   <div class="ui-block">
    <div class="ui-block-title">
     <h6 class="title">Personal Information</h6>
   </div>
   <div class="ui-block-content">
     <form>
      <div class="row">

       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
         <label class="">First Name</label>
         <input v-validate="'required'" name="first name" v-model="formData.first_name" class="form-control" placeholder="Enter First Name" type="text" >
       </div>

       <div class="form-group">
         <label class="">Your Email</label>
         <input disabled="true" v-validate="'required'" name="email" v-model="formData.email" class="form-control" placeholder="Enter Email Address" type="email" >
       </div>

       <div class="form-group date-time-picker">
         <label class="">Your Birthday</label>
         <datetime :placeholder="'Select Date of Birth'" v-model="formData.date_of_birth"></datetime>
       </div>
     </div>

     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
       <label class="">Last Name</label>
       <input  name="last name" v-model="formData.last_name" class="form-control" placeholder="Enter Last Name" type="text">
     </div>

     <div class="form-group is-select">
       <label class="">Your Country</label>

       <multiselect v-model="formData.country"
       :class="{'select' : true }"
       name="country"
       :placeholder="'Select Country'"

       tag-placeholder="Add this as new tag" :multiple="false"
       track-by="id" label="name" :max="10"
       :options="countryOptions">
     </multiselect>

   </div>

   <div class="form-group label-floating is-select">
     <label class="">Status</label>
     <multiselect v-model="formData.status"
     :class="{'select' : true }"
     name="country"
     :placeholder="'Select Status'"

     tag-placeholder="Add this as new tag" :multiple="false"
     track-by="id" label="name" :max="10"
     :options="statusOptions">
   </multiselect>

 </div>

</div>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


  <div class="form-group">
   <label class="">Write a little description about you</label>
   <textarea v-model="formData.bio" class="form-control" placeholder=""></textarea>
 </div>

</div>
<!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

  <div class="form-group label-floating is-select">
   <label class="">Gender</label>

   <multiselect v-model="formData.gender"
   :class="{'select' : true }"
   name="country"
   :placeholder="'Select Gender'"
   tag-placeholder="Add this as new tag" :multiple="false"
   track-by="id" label="name" :max="10"
   :options="genderOptions">
 </multiselect>

</div>


</div>
 -->
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <button @click.prevent="validateBeforeSubmit();" :class="['btn' ,  'btn-primary' ,  'btn-lg' ,  'full-width' ,  loading ? 'show-spinner' : '']"><span>Save all Changes</span>
    <loader></loader>
  </button>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <alert-messages :errorMessages="errorMessages" :successMessage="successMessage"></alert-messages> 

</div>

</div>
</form>
</div>
</div>
</div>
</template>

<script>
  import Multiselect from 'vue-multiselect'
  export default{
   props : ['countryOptions'],
   data(){
     return{
      successMessage : '',
      errorMessages : '',
      loading : false,
      records : [],
      url : 'user-detail',
      showNoRecordFound : false,
      search : '',
      formData : {
       first_name : '',
       last_name : '',
       gender : '',
       date_of_birth : '',
       country : '',
       bio : '',
       status : ''
     },
     statusOptions : [
     {
       id : 'married',
       name : "Married"
     },
     {
       id : 'single',
       name : "Single"
     },
     ],
     genderOptions : [
     {
       id : 'male',
       name : "Male"
     },
     {
       id : 'female',
       name : "Female"
     },
     ]
   }
 },
 components : {
   Multiselect
 },
 mounted(){
  this.getSingle();
},
methods: {
  validateBeforeSubmit() {
    this.$validator.validateAll().then((result) => {
      if (result) {
        this.update();
        this.errorMessages =  '';
        return;
      }
      this.errorMessages =  this.errorBag.all();
    });
  },
  update(){
    let self = this;
    let data = self.formData;
    self.loading = true;
    self.$http.post(self.url , data).then(response=>{
      self.loading = false;
      response = response.body.response;
      self.successMessage = 'Updated successfull.';
    });

  },
  getSingle(){
    let self = this;
    self.showNoRecordFound = false;
    let url = self.url;
    self.loading = true;

    self.$http.get(url).then(response=>{

      self.loading = false;


      response = response.body.response;
      self.formData = response.data;
      if (!self.formData.length) {
        self.showNoRecordFound = true;
      }
    }).catch(error=>{

    });
  }
}
}
</script>
