<template>
    
    <div
    class="profile-settings-main-div"
    id="profile-settings-personal-main-div"
    >
    <image-upload
    @updated-successfully="formUpdated"
    :buttonText="'Upload Profile Image'"
    :url="'user/profile/image'"
    ></image-upload>
    </div>

</template>

<script>
    export default {
        props: ["countryOptions"],
        data() {
            return {
                successMessage: "",
                errorMessages: "",
                loading: false,
                records: [],
                url: "user-detail",
                showNoRecordFound: false,
                search: ""
            };
        },
        methods: {
            formUpdated(response) {
                this.$store.commit("setAuthUser", response);

                location.reload("/");
            }
        }
    };
</script>
