<template>
	<div class="ui-block left-sidebar left-sidebar-settings">
		<div class="ui-block border-none mb-0">
			<div class="ui-block-title">
				<h6 class="title">Profile Settings</h6>
	        </div>
			<div class="">

				<ul class="your-profile-menu">

					<li>
						<a id="profile-settings-personal-main" href="#" :class="['profile-settings-sidebar-nav', tabValue == 'profileImage' ? 'active' : '']" @click.prevent="emitShowTab('profileImage')">Profile Image</a>
					</li>
					<li>
						<a id="profile-settings-personal-main" href="#" :class="['profile-settings-sidebar-nav',  tabValue == 'personal' ? 'active' : '']" @click.prevent="emitShowTab('personal')">Personal Information</a>
					</li>
					<li>
						<a id="profile-settings-account-main" href="#" :class="['profile-settings-sidebar-nav', tabValue == 'account' ? 'active' : '']" @click.prevent="emitShowTab('account')">Account Settings</a>
					</li>

				</ul>
	        </div>	        
		</div> 
	</div>
</template>

<script>
	export default{
		data(){
			return{
				tabValue : 'profileImage'
			}
		},
		methods:{
			emitShowTab(tab){
				this.tabValue = tab;
				this.$emit('show-tab' , tab);
			}
		}
	}
</script>