<template>

<div class="container profile-main-body-container" id="main-header-about-div">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<profile-personal-info :userDetails="userDetails"></profile-personal-info>
		</div>
	</div>
</div>


</template>

<script>
    export default{
    	props : ['userDetails'],
        data(){
        	return{
			records : [],
			url : '',
            showNoRecordFound : false,
            search : '',
          }
        },
        mounted(){
        },
        watch: {
        	userDetails(value){
        	}
           
        }
    }
</script>
