<template>

	<div class="user-dare-main-body profile-main-body-container" id="main-header-gallery-div">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="ui-block responsive-flex">
						<div class="ui-block-title">
							<div class="h6 title">{{userDetails | fullName}} 's Dares : </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<no-records-found v-if="showNoRecordFound"></no-records-found>

			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<!-- Tab panes -->
					<div class="tab-content">

						<div class="tab-pane active" id="album-page" role="tabpanel">

							<div class="photo-album-wrapper row">

								
								<div v-for="record in recordsData" class="dare-images-thumb-box col-md-6 col-sm-6">

									<button :key="record._id" @click.prevent="pinToProfile(record)" :class="['btn' ,  'btn-primary' ,  record.loading ? 'show-spinner' : '']">
										<span>Pin to timeline</span>
										<loader></loader>
									</button>

									<div class="ui-block dare-block padding-30px clearfix">

										<photo-card :liked="record.userLikedByMe" :userType="'user'" @show-dare-modal="showDareModal" :user="record.user" :totalLikes="record.userLikesCount" :imageUrl="record.userImagePath" :record="record" :photoWidth="'col-md-6'"></photo-card>
										<photo-card :liked="record.challengerLikedByMe" :userType="'challenger'" @show-dare-modal="showDareModal" :user="record.challenger" :totalLikes="record.challengerLikesCount" :imageUrl="record.challengerImagePath" :record="record" :photoWidth="'col-md-6'"></photo-card>

									</div>
								</div>

							</div>

						</div>
					</div>

				</div>
			</div>

			<common-methods :submit="submit" :submitType="'update'" :submitUrl="submitUrl" :formData="formData" :infiniteLoad="true" :url="requestUrl" @get-response="getResponse" @form-submitted="formSubmitted"></common-methods>

		</div>

		<dare-images @hide-modal="showModal = false;" :showModalValue="showModal" :record="currentRecord"></dare-images>

	</div>

</template>

<script>
	export default{
		props : ['userDetails'],
		data(){
			return{
				url : 'dare?pagination=true',
				currentRecord : '',
				records : [],
				showNoRecordFound : false,
				showModal : false,
				submit : false,
				submitUrl : '',
				formData : {

				},
				loading : false
			}
		},
		computed : {
			recordsData(){
				return this.records;
			},
			requestUrl(){
				let url = this.url;
				if(this.$route.params.id){
					url += '&user_id='+this.$route.params.id;
				}
				return url;
			}
		},

		mounted(){
		},
		methods: {
			getResponse(response){

				if(response.data){
					this.records = response.data;
				}
				if(response.noRecordFound){
					this.showNoRecordFound = response.noRecordFound; 
				}
				if(response.status){
					window.location.replace('/profile-user/'+this.$route.params.id)
				}

			},
			showDareModal(record){
				this.currentRecord = record;
				record.loading = false;
				this.showModal = true;
				this.$emit('get-response' , record);
			},
			formSubmitted(response){
				let self = this;
				self.submit = false;
				var indexValue = _.find(this.records, function(record,index){
					if(record._id == response.data._id){
						
						console.log(index , record);
						self.records[index].loading = false;
						self.$forceUpdate();
					}
				});
			},
			pinToProfile(record){
				this.formData.dare_id = record._id;
				this.submitUrl = 'dare/pin-to-profile/'+record._id;
				this.submit = true;
				record.loading = true;
			}


		},
		watch: {
			userDetails(value){
			}

		}
	}
</script>
