
<template>


    <!-- ... end Top Header -->
    <div class="profile-main-body-container" id="main-header-friends-div">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ui-block responsive-flex">
                        <div class="ui-block-title">
                            <div class="h6 title">{{userDetails | fullName}} ({{pagination ? pagination.total : ''}})</div>
                            <div class="w-search">
                                <div class="form-group with-button">
                                    <input @keyup.enter.prevent="search" v-model="searchValue" class="form-control" type="text" placeholder="Search Friends...">
                                    <button>
                                        <svg @click.prevent="search" class="olymp-magnifying-glass-icon"><use xlink:href="/icons/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Friends -->

        <div class="container">
            <no-records-found v-if="showNoRecordFound"></no-records-found>
            <div class="row">
                <div v-for="record in records" class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <friend-card :record="record" :user="record.user" v-if="record"></friend-card>
                </div>
            </div>
        </div>


        <common-methods :infiniteLoad="true"  :url="requestUrl" @get-response="getResponse"></common-methods>


    </div>

</template>

<script>
    export default{
        props : ['userDetails'],
        data(){
            return {
                records : [],
                searchValue : '',
                url : 'follower?pagination=true',
                pagination : false,
                showNoRecordFound : false,
            }
        },
        computed : {
            requestUrl(){
                let url = this.url;
                if(this.$route.params.id){
                    url += '&user_id='+this.$route.params.id;
                }
                return url;
            }
        },
        methods: {
            search (){

                let newDate  = new Date().getMilliseconds();

                this.url = 'follower?pagination=true&time='+newDate+'&keyword='+this.searchValue;

            },
            getResponse(response){
                if(response.data){
                    this.records = response.data;
                    this.pagination = response.pagination;
                }
                if(response.noRecordFound){
                    this.showNoRecordFound = response.noRecordFound; 
                }
                if(response.status){
                    window.location.replace('/profile-user/'+this.$route.params.id)
                }

            }
        },

    }

</script>

