<template>
	<div>
		<div class="main-header">
			<div class="content-bg-wrap event-detail-bg">
				<div class="content-bg bg-music"></div>
			</div> 
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 col-xs-12">
						<div class="main-header-content">
							<h1>Profile Settings</h1>
						</div>
					</div>
				</div>
			</div> 
			<div class="banner-slide">
				<img src="/img/front/illustration/profile-settings.png" alt="friends" class="img-bottom for-desktop-only">
				<img src="/img/front/illustration/profile-settings-mobile.png" alt="friends" class="img-bottom for-mobile-only">
			</div>
		</div>

		<div class="container">

			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="ui-block after-profile-header">
						<div class="top-header ">
							<div class="profile-section profile-section-tabs">
								<div class="row" v-if="profileUser.canSeePosts">
									<div class="col-lg-5 col-md-5 col-sm-6">
										<ul class="profile-menu first">
											<li>
												<router-link  :to="{ name : 'user.profile.timeline', params : { id : $route.params.id }}" href="#" class="main-header-nav-btns" id="main-header-timeline">Timeline</router-link>
											</li>
											<li>
												<router-link  :to="{ name : 'user.profile.about', params : { id : $route.params.id }}" href="#" class="main-header-nav-btns" id="main-header-about">About</router-link>
											</li>
											<li>
												<router-link  :to="{ name : 'user.profile.following', params : { id : $route.params.id }}" href="#" class="main-header-nav-btns" id="main-header-friends">Followings</router-link>
											</li>
										</ul>
									</div>
									<div class="col-sm-6 col-lg-5 offset-lg-2 col-md-5 offset-md-2">
										<ul class="profile-menu first">
											<li>
												<router-link  :to="{ name : 'user.profile.follower', params : { id : $route.params.id }}" href="#" class="main-header-nav-btns" id="main-header-friends">Followers</router-link>
											</li>

											<li>
												<router-link  :to="{ name : 'user.profile.dare', params : { id : $route.params.id }}" href="#" class="main-header-nav-btns" id="main-header-gallery">Dare</router-link>
											</li>


											<li>
												<router-link  :to="{ name : 'user.profile.event', params : { id : $route.params.id }}" href="#" class="main-header-nav-btns" id="main-header-gallery">Event</router-link>
											</li>
										</ul>
									</div>
								</div>

								<div v-on-clickaway="clickedAway" class="control-block-button profile-settings-icon" v-if="profileUser.user_id == $store.getters.getAuthUser.id">
									<div @click="showDropdown = true" class="btn btn-control bg-primary more">
										<svg class="olymp-settings-icon"><use xlink:href="/icons/icons.svg#olymp-settings-icon"></use></svg>

										<ul v-if="showDropdown" class="more-dropdown more-with-triangle triangle-bottom-right">
										
										<!--
										<li>
											<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
										</li>
 											<li>
												<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
											</li>
										-->

										<li>
										
											<router-link v-if="true" tag="a" :to="{ name: 'settings' }">

												Account Settings

											</router-link>
										</li>
										
									</ul>
								</div>
							</div>
						</div>
						<div class="top-header-author">
							<a class="author-thumb">
								<img :src="profileUser | userProfileImage" style="height:120px" alt="author">
							</a>
							<div class="author-content">
								<a href="#" class="h4 author-name">{{profileUser ? profileUser.first_name : ''}}</a>
							</div>

							<div v-if="profileUser.canFollow && profileUser.user_id != $store.getters.getAuthUser.id">
								<ul class="profile-menu">
									<li class="pull-right">

										<button v-if="profileUser" @click.prevent="followUser();" :class="['follow-button', 'btn' ,  'btn-primary' ,  loading ? 'show-spinner' : '']"><span>{{profileUser | followStatus }}</span>
											<loader></loader>
										</button>

									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<upload-image></upload-image>	

	</div>
</div>
</template>

<script>
	import { directive as onClickaway } from 'vue-clickaway';

	export default{
		directives: {
			onClickaway: onClickaway,
		},
		props : ['userDetails'],
		data(){
			return{
				loading : false,
				url : 'follower',
				profileUser : '',
				showDropdown : false,		
			}
		},
		methods:{
			emitShowTab(tab){
				this.$emit('show-tab' , tab);
			},
			followUser(){
				let self = this;

				let data = {
					type : 'user',
					follow_id : this.profileUser.user_id,
					follow : !this.profileUser.isFollowing
				};

				if(this.profileUser.isRequested){
					data.follow = false;
				}

				self.loading = true;
				self.$http.post(self.url , data).then(response=>{
					response = response.body.response;
					self.profileUser.isRequested = response.data.isRequested;
					
					if(!self.profileUser.isRequested){
						window.location.reload('/');
					}else{
						self.loading = false;
					}

				}).catch(error=>{

					self.loading = false;

				});

			},
			clickedAway(){
				this.showDropdown = false;
			},

		},
		watch : { 
			userDetails(value){
				this.profileUser = value;
			}
		},
		computed : {
			authUser(){
				return this.$store.getters.getAuthUser;
			},
		}
	}
</script>