<template>

	<div>

		
		<profile-main-header :userDetails="userDetails" @show-tab="showEmittedTab"></profile-main-header>


		<div class="profile-main-body">


			<router-view :userDetails="userDetails"></router-view>	

		</div>


	</div>


</template>

<script>
	export default{
		watch : {
			$route(to, from){
				let self = this;
				this.getSingle();
			}
		},
		mounted(){
			this.getSingle();
		},
		data(){
			return{
				userDetails : {
					first_name : '',
					last_name : '',
					gender : '',
					date_of_birth : '',
					country : '',
					bio : '',
					status : ''
				},
				url : 'user-detail',
				showTab : 'timeline',
				loading : false,
			}
		},
		watch : {
			$route(){
				this.getSingle();
			}
		},
		computed:{
			showTabValue(){
				return ;
			}
		},
		methods :{
			showEmittedTab(tab){
				this.showTab = tab;
			},
			getSingle(){
				let self = this;
				self.loading = true;

				self.showNoRecordFound = false;

				let url = self.url;

				if(this.$route.params.id){
					url += '?user_id='+this.$route.params.id;
				}

				self.$http.get(url).then(response=>{
					response = response.body.response;

					self.loading = false;

					self.successMessage = response.message;

					self.userDetails = response.data;
					if (!self.userDetails.length) {
						self.showNoRecordFound = true;
					}
				}).catch(error=>{

				});
			},
		}
	}
</script>