<template>

<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Personal Info</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
				<div class="ui-block-content">
					<ul class="widget w-personal-info">
						<li>
							<span class="title">First Name:</span>
							<span class="text">{{details.first_name  ? details.first_name : '-'}}</span>
						</li>
						<li>
							<span class="title">Last Name:</span>
							<span class="text">{{details.last_name  ? details.last_name : '-'}}</span>
						</li>
						<li>
							<span class="title">About Me:</span>
							<span class="text">{{details.bio ? details.bio : '-'}}</span>
						</li>
						<li>
							<span class="title">Birthday:</span>
							<span class="text">{{userDetails.formatted_date_of_birth ? userDetails.formatted_date_of_birth : '-'}}</span>
						</li>
						<li>
							<span class="title">Lives in:</span>
							<span class="text">{{details.country ? details.country.name : '-'}}</span>
						</li>
					</ul>
				</div>
			</div>


			</template>

			<script>
    export default{
    	props : ['userDetails'],
        data(){
        	return{
			records : [],
			url : 'dashboard_reports',
            showNoRecordFound : false,
            search : '',
            details : ''
          }
        },
        mounted(){
        	this.details = this.userDetails;
        },
        watch: {
        	userDetails(value){
        	this.details = value;
        	}
        }
    }
</script>
