<template>

<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Profile Intro</h6>
				</div>
				<div class="ui-block-content">
					<ul class="widget w-personal-info item-block">
						<li>
							<span class="title">Hi, I’m {{userDetails.first_name}}</span>
						</li>
						<li>
							<span class="title">Birthday: </span>
							<span class="text">{{userDetails.formatted_date_of_birth ? userDetails.formatted_date_of_birth : '-'}}</span>
						</li>
						<li v-if="userDetails.bio">
							<span class="title">About me:</span>
							<span class="text">{{userDetails.bio ? userDetails.bio : '-'}}</span>
						</li>
					</ul>
				</div>
			</div>

</template>
<script>
    export default{
    	props : ['userDetails'],
        data(){
        	return{
			records : [],
			url : '',
            showNoRecordFound : false,
            search : '',
          }
        },
        mounted(){
        },
        watch: {
        	userDetails(value){
        	}
           
        }
    }
</script>


