<template>


	<div class="timeline-main-body container profile-main-body-container" id="main-header-timeline-div">
		<div class="row">


			<!-- Left Sidebar -->

			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">

				<profile-intro-block :userDetails="userDetails"></profile-intro-block>

			</div>

			<!-- ... end Left Sidebar -->



			<!-- Main Content -->

			<div v-if="canView" class="col-xl-5 push-xl-0 col-lg-12 push-lg-0 col-md-12 col-sm-12 col-xs-12">
				<div id="newsfeed-items-grid">

					<posts></posts>

				</div>

			</div>

			<!-- ... end Main Content -->

			<!-- Right Sidebar -->

			<div v-if="canView" class="dare-images-thumb-box col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">

				<div class="ui-block">
				
				<photo-card v-if="!showNoRecordFound" :liked="record.userLikedByMe" :userType="'user'" @show-dare-modal="showDareModal" :user="record.user" :totalLikes="record.userLikesCount" :imageUrl="record.userImagePath" :record="record" :photoWidth="'col-md-6'"></photo-card>
				<photo-card v-if="!showNoRecordFound" :liked="record.challengerLikedByMe" :userType="'challenger'" @show-dare-modal="showDareModal" :user="record.challenger" :totalLikes="record.challengerLikesCount" :imageUrl="record.challengerImagePath" :record="record" :photoWidth="'col-md-6'"></photo-card>
				
				<no-records-found v-if="showNoRecordFound"></no-records-found>

				</div>

				<center>
				<router-link :to="{ name : 'user.profile.dare' , params : { id : $route.params.id }}" v-if="!showNoRecordFound" class="btn btn-primary"> View All </router-link>
				</center>




			</div>

			<!-- ... end Right Sidebar -->



			<div v-if="!canView" class="col-xl-9 push-xl-0 col-lg-12 push-lg-2 col-md-12 col-sm-12 col-xs-12">
				
				<account-protected></account-protected>	

			</div>


			<common-methods :url="requestUrl" @get-response="getResponse"></common-methods>

		</div>

		
		<dare-images @hide-modal="showModal = false;" :showModalValue="showModal" :record="currentRecord"></dare-images>

	</div>


</template>
<script>
export default{
	props : ['userDetails'],
	data(){
		return{
			currentRecord : '',
			record : [],
			url : 'dare?per_page=1&pagination=true&pin=true',
			showNoRecordFound : false,
			search : '',
			canViewPosts : true,
			showModal : false
		}
	},
	methods: {
		showDareModal(response){
			this.showModal = true;
			this.currentRecord = response;
		},

		getResponse(response){
			if(response.data){
				this.record = typeof(response.data[0]) !== 'undefined' ? response.data[0] : [];
			}
			if(response.noRecordFound){
				this.showNoRecordFound = response.noRecordFound; 
			}

			if(response.status && response.status == 422){
				this.canViewPosts = false; 
			}

		}
	},
	computed : {
		canView(){
			return this.canViewPosts;
		},
		requestUrl(){
			let url = this.url;
			if(this.$route.params.id){
				url += '&user_id='+this.$route.params.id;
			}
			return url;
		}
	},
	watch :{
		$route(route){
			var newDate = new Date().toLocaleDateString(); 
			this.url = 'dare?per_page=1&pagination=true&pin=true&time'+newDate;
			let self = this;
			self.pagination = null;
			self.record = [];
		},
	}
}
</script>
