<template>



    <form @submit.prevent="sendMessage">

        <div class="form-group label-floating is-empty">
            <textarea @keyup.enter="sendMessage" v-model="messageText" class="form-control" placeholder="Write your reply here..."  ></textarea>
        </div>

        <div class="add-options-message">
            <button :disabled="!messageText" @click.prevent="sendMessage" :class="['btn' ,  'btn-primary' ,  'btn-sm' ,  loading ? 'show-spinner' : '']"><span>Post Reply</span>
                <loader></loader>
            </button>
        </div>

    </form>

</template>

<script type="text/babel">
export default{
    data(){
        return {
            loading : false,
            messageText : '',
            receiver : ''
        }
    },
    props : ['recipient'],
    methods : {
        sendMessage(){
            let self = this;
            if(self.messageText == ''){
                return false;
            }
            self.loading = true;

            this.$emit('message-sent' , {
                reply : this.messageText,
                image: this.$store.getters.getAuthUser.image,
                formatted_created_at : new Date().toLocaleTimeString(),
                recipient_id : this.receiver.id,
                user : this.receiver
            });
            this.messageText = '';

            setTimeout(function() {
                self.loading = false;
            } , 500)

        }
    },
    mounted (){
        this.receiver = null;
    },
    watch : {
        recipient (value){
            this.receiver = value;
        }
    }

}
</script>

<style>

</style>