<template>
	

	<div>


		<div class="chat-field">

			<div>

				<div class="ui-block-title">
					
					<router-link tag="a" v-if="!loading" :to="{ name : 'user.profile.main' , params : { id : recipient.id}}">
						<strong>{{recipient.first_name}}</strong>
					</router-link>

				</div>
				<div v-show="messages.length" class="mCustomScrollbar" data-mcs-theme="dark">
					<ul class="notification-list chat-message chat-message-field" id="chat-message-main-body">
						<message-li  :message="message" :key="message._id" v-for="message in messages"></message-li>	
						<common-methods :direction="'top'" :infiniteLoad="true"  :url="requestUrl" @get-response="getResponse"></common-methods>
					</ul>
				</div>
				<no-messages-found style="height: 700px;" v-show="showNoRecordFound && !loading"></no-messages-found>


				<center>
					<spinner-loader style="height: 700px;" v-if="loading"></spinner-loader>
				</center>	


				<messages-compose v-show="recipient" :recipient="recipient" @message-sent="addMessage"></messages-compose>




			</div>

		</div>

		
	</div>



</template>

<script>
	export default{
		mounted (){
		},
		data(){
			return {
				pagination : false,
				loading: '',
				recipient: false,
				messages: [],
				showNoRecordFound : true,
			}
		},
		props : [
		'recipient_id',
		'newMessage'
		],
		mounted (){
			if(this.newMessage){
				this.messages.push(this.newMessage);
				this.showNoRecordFound = false;
			}
		},
		computed : {
			requestUrl(){
				if(this.recipient_id){
					this.messages = [];
					this.loading = true;
					return 'message/' + this.recipient_id+'?pagination=true';
				}
			}
		},
		methods: {
			addMessage(message){
				let self = this;
				let newMessage = {
					'reply': message.reply,
					'user_id': this.$store.getters.getAuthUser.id,
					'user' : this.$store.getters.getAuthUser
				};
				self.messages.push(newMessage);
				self.showNoRecordFound = false;
				this.$http.post('message-response', message).then(function (data) {


						let container = self.$el.querySelector("#chat-message-main-body");
						container.scrollTop  = container.scrollHeight;

				});






			},
			getResponse(response){
				let self = this;
				if(Object.keys(response.data).length){
					self.loading = false;
					self.recipient = response.additionalData.recipient;
					self.pagination = response.pagination;

					for (var i = 0 ;  i < response.data.length; i++) {	
						self.messages.push(response.data[i]);
					}

					this.showNoRecordFound = false;

					setTimeout(function(){
						let container = self.$el.querySelector("#chat-message-main-body");
						container.scrollTop = container.scrollHeight;

					} , 500);

				}

				if(response.noRecordFound){
					this.recipient = response.additionalData.recipient;
					this.showNoRecordFound = response.noRecordFound; 
					this.pagination = response.pagination;
					self.loading = false;
				}

			}
		},
		watch: {
			newMessage(value){
				let self = this;
				this.messages.push(value);
				this.showNoRecordFound = false;

				setTimeout(function(){
					let container = self.$el.querySelector("#chat-message-main-body");
					container.scrollTop = container.scrollHeight;
				})

			}
		},

	}
</script>


<style scoped>

.chat-message-field p{
	float: inherit;
	margin-top: 25px;
	font-size: 13px;
}

.chat-message-field .notification-date {
	margin-left:10px;
	margin-top:2px;	
}

.notification-list.chat-message.chat-message-field{
	height: 700px;
	overflow-y: scroll;	
}


.chat-field{
	height: 700px;
}

</style>