<template>


    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Chat / Messages</h6>
                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
                    </div>

                    <div class="row">
                        <div class="messages-sidebar-div col-xl-4 col-lg-5 col-md-12 col-sm-12 col-xs-12 padding-r-0">

                            <messages-sidebar :new_recent_message="new_recent_message" :recent_messages="recent_messages" @change-recipient-log="changeRecipient"></messages-sidebar>

                            <common-methods
                            :hideLoader="true"
                            :url="url"
                            :infiniteLoad="true"
                            @get-response="getMessagesList"
                            ></common-methods>  
                        </div>

                        <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-xs-12 padding-l-0">

                            <messages-main-panel :newMessage="newMessage" :recipient_id="recipient_id"></messages-main-panel>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</template>

<script>
    export default{
        mounted (){
            let self = this;
            this.getMessagesList();

            setTimeout(function () {
                self.subscribeChannel();
            } , 2000);


        },
        data(){
            return {
                message: 'Select user to show messages',
                showNoRecordFound: true,
                recipient_id: "",
                recent_messages : [],
                url : 'message?pagination=true&per_page=10',
                newMessage : '',
                new_recent_message : ''
            }
        },
        props: ['new_message'],
        methods: {
            subscribeChannel(){
                let self = this
                let channelName = 'App.Data.Models.Message.'+this.$store.getters.getAuthUser.id;

                window.Echo.private(channelName) .notification((notification) => {

                    if(notification.notifier_id == self.recipient_id){       
                        self.newMessage = notification.notifying_object;
                    }
                    self.new_recent_message = notification.notifying_object;
                });
            },
            emptyNewMessage(){
                this.$emit('empty-new-message');
            },
            hideMessageModal(e){
                this.$emit('hide-message-modal', {
                    e
                });
            },
            changeRecipient(value){
                this.setNewRecipient(value);
            },
            setNewRecipient(value){
                this.recipient_id = value;
            },
            getMessagesList(response){
                if(response && Object.keys(response.data).length){     
                    for (var i = response.data.length - 1; i >= 0; i--) {
                     this.recent_messages.push(response.data[i]);   
                 }
             }

         }
     }
 }
</script>

<style scoped>

.messages-sidebar-div{
    height: 976px;
    overflow-y: scroll;
}

</style>