<template>
	

	<div>

		<div class="container message-sidebar">
			<div class="row">
				<div class="title-main-block col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ui-block-title">

						<center>	
							<strong>Messages</strong>
						</center>

					</div>
				</div>
			</div>
		</div>


		<div class="form-group is-empty">
			<input  v-model="search" class="form-control" type="text" placeholder="Search">
			<span class="material-input"></span>
		</div>

		<spinner-loader v-if="loading"></spinner-loader>	

		<no-records-found v-if="!loading && !users.length && !AllRecentMessages.length"></no-records-found>	

		<ul v-show="users" class="notification-list chat-message">
			<a @click.prevent="getMessages(user.id)" v-show="users.length" v-for="user in users" href="#">
				<li>
					<div class="author-thumb">
						<img :src="user | userProfileImage" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">{{user.first_name}}</a>
					</div>
					<span class="notification-icon">
						<svg class="olymp-chat---messages-icon"><use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use></svg>
					</span>
				</li>
			</a>
		</ul>

		<ul class="notification-list chat-message">
			<a :key="message.id" @click.prevent="getMessages(message.recipient_user.id);" v-for="message in AllRecentMessages" href="#">
				<li>
					<div class="author-thumb">
						<img :src="message.recipient_user | userProfileImage" alt="author">
					</div>
					<div class="notification-event">
						<a href="#" class="h6 notification-friend">{{ message.recipient_user.first_name }}</a>
						<span class="chat-message-item">{{ message.last_message ?  message.last_message.reply : '' }}</span>
						<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">{{ message.last_message ? message.last_message.formatted_created_at : '' }}</time></span>
					</div>
					<span class="notification-icon">
						<svg class="olymp-chat---messages-icon"><use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use></svg>
					</span>
				</li>
			</a>
		</ul>


	</div>



</template>

<script>
	export default{
		mounted(){
			if(this.new_recent_message){
			}
		},
		data(){
			return {
				loggedInUser : this.$store.getters.getAuthUser,
				loading : true,
				search: '',
				users: [],
				url : 'user',
				messages : []
			}
		},
		props: [
		'recent_messages',
		'new_message',
		'new_recent_message'
		],
		watch: {
			recent_messages(value){
				this.loading = false;
				this.messages = value;
			},
			search: function () {
				this.getSearchResults()
			},
			new_message(value){
				this.$emit('empty-new-message');
			},
			new_recent_message(value){
				let self = this;
				let messageValue = this.composeRecentMessage(value);
				let indexValue = _.find(this.messages, function (message, index) {
					if(message._id == value.message_id){
						self.messages[index] = messageValue;
						self.$forceUpdate();
					}
				});

			}
		},
		methods: {
			composeRecentMessage(recentMessage){
				let message = recentMessage;
				message.recipient_user = recentMessage.user;
				message.last_message = recentMessage;
				message._id = recentMessage.message_id;
				return message;
			},
			getSearchResults: _.debounce(
				function () {
					let self = this;

					if (this.search == '' || this.search.length < 3) {
						this.users = [];
						return;

					}

					let url = this.url+'?keyword='+this.search;

					self.loading = true;
					self.users = [];

					this.$http.get(url).then(function (response) {
						self.users = response.body.response.data;
						console.log(self.users ,11111);
						self.loading = false;
					})
					.catch(function (error) {
						self.loading = false;
					})
				}, 500),
			getMessages(user_id){
				this.search = '';
				this.$emit('change-recipient-log', user_id);
			}
		},
		computed:{
			AllRecentMessages(){
				return this.messages;
			}
		}
	}
</script>

<style type="text/css">

.messages-sidebar-div .notification-list.chat-message li{
	height: 96px;
	overflow: hidden;
}


.messages-sidebar-div .notification-list.chat-message .chat-message-item{
	height: 20px !important;
	display: block;
	overflow: hidden;
}

</style>