<template>
	

	<router-link :to="{ name : 'user.profile.main' , params : { id : message.user.id}}" tag="li">
		<div class="author-thumb">
			<img :src="message.user | userProfileImage" alt="author">
		</div>
		<div class="notification-event">
			<a href="#" class="h6 notification-friend">{{message.user ? message.user.first_name : ''}}</a>
			<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">{{message.formatted_created_at ? message.formatted_created_at : 'just now'}}</time></span>
			<p class="chat-message-item">{{message.reply}}</p>
		</div>
	</router-link>


</template>

<script>
	export default{
		props : ['message']
	}
</script>

<style scoped>



.chat-message-field p{
	float: inherit;
	margin-top: 25px;
	font-size: 13px;
}



.chat-field{
	height: 700px;
}


</style>	