    <template>

        <div v-on-clickaway="clickedAway" class="control-icon more control-icon-1 has-items">

            <font-awesome-icon @click.prevent="showDropdown = true; ; submit = true;" icon="images"  class="top-header-icons dare-icon"/>

            <div v-if="countValue" class="label-avatar bg-blue">{{countValue ? countValue : ''}}</div>

            <div v-if="showDropdown" class="notifications-dropdown dare-notification-dropdown">
                <div class="ui-block-title ui-block-title-small">
                    <h2 class="title">Dare Notifications <i class="icon-close" @click="isDareActive = false"></i></h2>
                    <!--
                     <router-link tag="a" :to="{ name: 'settings' }">
                        Settings
                     </router-link>
                 -->
             </div>
            <div class="scrollbar">
                <div class="create-dare-block">
                    <ul class="notification-list friend-requests">
                        <no-records-found v-if="showNoRecordFound"></no-records-found>
                        <dare-request-li :notification="record" @get-response="emitDareRequest" :key="record.id" :record="record.notifying_object" :user="record.notifying_object.user" :challenger="record.notifying_object.challenger"  v-for="record in records">
                        </dare-request-li>                            
                    </ul>                                           
                </div>
            </div>  

            <router-link tag="a" :to="{ name : 'user.profile.dare' , params : { id : authUser.id }}" class="view-all with-secondary-bg"> Check all your Dares </router-link>


        </div>

        <common-methods :submitType="'post'" @form-submitted="countValue=0" :submit="submit" :submitUrl="submitUrl" :hideLoader="true" :infiniteLoad="infiniteLoad"  :url="requestUrl" @get-response="getResponse"></common-methods>

        <common-methods :hideLoader="true" :url="countUrl" @get-response="getCountResponse"></common-methods>

    </div>

</template>

<script>                    
    import { directive as onClickaway } from 'vue-clickaway';
    export default{
        directives: {
            onClickaway: onClickaway,
        },
        computed : {
            requestUrl(){
                let user = this.$store.getters.getAuthUser;
                let url  = this.url;
                url += '&challenger_id='+user.id;
                if(user){          
                    return url;
                }

            },
            authUser(){
                return this.$store.getters.getAuthUser;
            },
        },
        data(){
            return {
                infiniteLoad : false,
                forceValue : true,
                showDropdown : false,
                records : [],
                showNoRecordFound : false,
                url : 'notification?type=dare&pagination=true',
                countUrl : 'notification/count?type=dare',
                countValue : 0,
                submit : false,
                submitUrl : 'notification/read?type=dare',

            }
        },
        mounted () {
            let self = this;
            setTimeout(function () {
                self.subscribeChannel();
            } , 2000);
        },
        methods : {
           subscribeChannel(){
            let self = this
            let channelName = 'App.Data.Models.Dare.'+this.$store.getters.getAuthUser.id;
            window.Echo.private(channelName) .notification((notification) => {
                self.records.unshift(notification);
                self.countValue += 1;
                self.noRecordFound = false;    

            });
        },
        getCountResponse(response){
            if(response.noRecordFound){
                this.countValue = response.data;
            }
        },

        emitDareRequest(response){
            this.$emit('get-response' , response);
        },
        getResponse(response){
            if(response.data){
                this.records = response.data;
            }
            if(response.noRecordFound){
                this.showNoRecordFound = response.noRecordFound; 
            }
        },
        clickedAway(){
            this.showDropdown = false;
        },
    },
    watch: {
        '$route' (to, from) {
            this.clickedAway();
        }
    }

}
</script>