<template>

    <li :class="['notification-event-li', !notification.read_at ? 'unRead' : '']">

        <div class="author-thumb">
            <img :src="user | userProfileImage" alt="author">
        </div>
        
        <div class="notification-event">

            <span>
                <a href="#" class="h6 notification-friend">{{user | fullName }}</a>{{notification.text}}<a href="#" @click.prevent="showDareModal">View</a>
            </span>
            
        </div>
        
        <span v-if="record.status != 'accepted' && authUser.id == record.challenger_id" class="notification-icon">

            <a v-if="!acceptLoading" @click.prevent="accept" class="accept-request">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon"><use xlink:href="/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                </span>
            </a>

            <img v-if="acceptLoading" class="loading-image-spinner" src="/images/image-loading-spinner.svg" alt="">

            <a  v-if="!rejectLoading" @click.prevent="reject" class="accept-request request-del">
                <span class="icon-minus">
                    <svg class="olymp-happy-face-icon"><use xlink:href="/icons/icons.svg#olymp-happy-face-icon"></use></svg>
                </span>
            </a>

            <img v-if="rejectLoading" class="loading-image-spinner" src="/images/image-loading-spinner.svg" alt="">

        </span>

        <div class="more">
            <svg class="olymp-three-dots-icon"><use xlink:href="/icons/icons.svg#olymp-three-dots-icon"></use></svg>
        </div>

        <common-methods :formData="formData" :submitType="'update'" :submit="submit" :submitUrl="url" :hideLoader="true" @form-submitted="formUpdated"></common-methods>


    </li>
</template>

<script>
export default{
    props : [
    'notification',
    'challenger',
    'record',
    'user'
    ],
    data(){
        return{
            formData : {
                user_id : this.user._id,
                challenger : this.challenger._id,
                type : 'user'
            },
            submit : false,
            url : '',
            rejectLoading : false,
            acceptLoading : false  
        }
    },
    computed : {
        authUser (){
            return this.$store.getters.getAuthUser;
        }
    },
    methods : {
        showDareModal(){
            let response = {
                data : this.record
            };

            this.formUpdated(response);
        },
        accept(){
            this.acceptLoading = true;
            this.url = 'dare/'+this.record._id;
            this.formData.status  = 'accepted';
            this.submit = true; 

        },
        reject(){
            this.rejectLoading = true;
            this.url =  'dare/'+this.record._id;
            this.formData.status  = 'rejected';
            this.submit = true; 

        },
        formUpdated(response){

            this.record.status = response.data.status;
            this.rejectLoading = false;
            this.acceptLoading = false;
            this.submit =false;
            this.$emit('get-response' , response);
        }
    }
}
</script>