    <template>

        <div v-on-clickaway="clickedAway" class="control-icon more has-items control-icon-2">

            <font-awesome-icon @click.prevent="showDropdown = true; submit = true;" icon="user-friends" size="lg"/>
            
            <div v-if="countValue" class="label-avatar bg-blue">{{countValue ? countValue : ''}}</div>


            <div v-if="showDropdown" class="notifications-dropdown dare-notification-dropdown padding-bottom-0">
                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">Friend Requests <i class="icon-close " @click="isDareActive = false"></i></h6>
                    <router-link tag="a" :to="{ name: 'settings' }" class="title-action friend-request-settings">
                        Settings
                    </router-link>
                </div>
                <div class="scrollbar">
                    <div class="g-padding create-dare-block">
                    <ul class="notification-list friend-requests">

                        <no-records-found v-if="showNoRecordFound"></no-records-found>

                        <friend-request-li @form-updated="formUpdated" :notification="record" :key="record.id" :record="record.notifying_object" :user="record.notifying_object.user" :follower="record.notifying_object.follower" v-for="record in records"></friend-request-li>

                    </ul>
                </div>
                </div>

            </div>

            <common-methods :submitType="'post'" :submit="submit" :submitUrl="submitUrl" @form-submitted="countValue=0" :hideLoader="true" :infiniteLoad="infiniteLoad"  :url="requestUrl" @get-response="getResponse"></common-methods>

            <common-methods :submitType="'delete'" :submit="notificationSubmit" :submitUrl="notificationSubmitUrl" :hideLoader="true" :url="countUrl" @get-response="getCountResponse"></common-methods>

        </div>

    </template>

    <script>                    
    import { directive as onClickaway } from 'vue-clickaway';
    export default{
        directives: {
            onClickaway: onClickaway,
        },
        computed : {
            requestUrl(){
                return this.url;
            },
        },
        mounted (){
            let self = this;
            setTimeout(function () {
                self.subscribeChannel();
            } , 2000);


        },
        data(){
            return {
                infiniteLoad : false,
                forceValue : true,
                showDropdown : false,
                records : [],
                showNoRecordFound : false,
                url : 'notification?type=follower&pagination=true&requested=1',
                countUrl : 'notification/count?type=follower&requested=1',
                countValue : 0,
                submit : false,
                submitUrl : 'notification/read?type=follower',
                notificationSubmitUrl : '',
                notificationSubmit : false

            }
        },
        methods : {
            formUpdated(response, notification){
                if(!response){
                    
                    this.notificationSubmitUrl = 'notification/'+notification.id;
                    this.notificationSubmit = true;


                    this.records.splice(_.find(this.records , function (record,index) {
                        if(notification.id == record.id){
                            return index;
                        }
                    }));
                
                    if(!this.records){
                        this.showNoRecordFound = true;
                    }

                }
            },
            subscribeChannel(){
                let self = this
                let channelName = 'App.Data.Models.Follower.'+this.$store.getters.getAuthUser.id;
                window.Echo.private(channelName) .notification((notification) => {
                    self.records.unshift(notification);
                    self.countValue += 1;
                    self.showNoRecordFound = false;    
                });
            },

            getCountResponse(response){
                if(response.noRecordFound){
                    this.countValue = response.data;
                }
            },


            getResponse(response){
                if(response.data){
                    this.records = response.data;
                }
                if(response.noRecordFound){
                    this.showNoRecordFound = response.noRecordFound; 
                }
                this.notificationSubmit = false;
            },
            clickedAway(){
                this.showDropdown = false;
            },
        },
        watch: {
            '$route' (to, from) {
                this.clickedAway();
            }
        }

    }
    </script>