<template>

    <li>
        <div class="author-thumb">
            <img :src="follower | userProfileImage" alt="author">
        </div>
        <div class="notification-event">
            <a href="#" class="h6 notification-friend">{{follower | fullName }}</a>
            <span v-if="currentItem.requested">{{notification.text}}</span>
            <span v-if="!currentItem.requested">started following you.</span>
        </div>
        <span v-if="currentItem.requested" class="notification-icon">
            <a v-if="!acceptLoading" @click.prevent="accept" class="accept-request">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon"><use xlink:href="icons/icons.svg#olymp-happy-face-icon"></use></svg>
                </span>
            </a>

            <img v-if="acceptLoading" class="loading-image-spinner" src="/images/image-loading-spinner.svg" alt="">


            <a v-if="!rejectLoading" @click.prevent="reject" class="accept-request request-del">
                <span class="icon-minus">
                    <svg class="olymp-happy-face-icon"><use xlink:href="icons/icons.svg#olymp-happy-face-icon"></use></svg>
                </span>
            </a>

            <img v-if="rejectLoading" class="loading-image-spinner" src="/images/image-loading-spinner.svg" alt="">

        </span>

        <div class="more">
            <svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg>
        </div>

        <common-methods :formData="formData" :submitType="'update'" :submit="submit" :submitUrl="url" :hideLoader="true" @form-submitted="formUpdated"></common-methods>

    </li>
</template>

<script>
export default{
    props : [
    'notification',
    'follower',
    'record',
    'user',
    ],
    
    data(){
        return{
            formData : {
                follow_id : this.user.id,
                user_id : this.follower.id,
            },
            submit : false,
            url : '',
            acceptLoading : false,
            rejectLoading : false,
            currentItem : ''   
        }
    },
    watch :{
        record(value){
            this.currentItem = value;
        }
    },
    mounted (){
        this.currentItem = this.record;
    },
    methods : {
        accept(){
            this.acceptLoading = true;
            this.url = 'follower/'+this.record.id;
            this.formData.follow  = true;
            this.submit = true; 
            

        },
        reject(){
            this.rejectLoading = true;
            this.url =  'follower/'+this.record.id;
            this.formData.follow  = false;
            this.submit = true; 
            

        },
        formUpdated(response){
            this.submit =false;
            this.acceptLoading = false;
            this.rejectLoading = false;

            if(response.data){
                this.currentItem = response.data;
            }

            this.$emit('form-updated', response.data, this.notification);
        }
    }
}
</script>