<template>
	<router-link @click.prevent="countValue = 0" tag="a" :to="{ name: 'messages' }">
		<div class="control-icon control-icon-3 more has-items">	
			<font-awesome-icon icon="envelope-open" class="top-header-icons message-icon" />
			<div v-if="countValue" class="label-avatar bg-purple">{{countValue}}</div>
		</div>
	</router-link>
</template>

<script type="text/babel">
export default{
    mounted (){
        let self = this;
        setTimeout(function () {
            self.subscribeChannel();
        } , 2000);


    },
    data(){
        return {
        	countValue : 0
        }
    },
    methods: {
        subscribeChannel(){
            let self = this
            let channelName = 'App.Data.Models.Message.Count.'+this.$store.getters.getAuthUser.id;
            window.Echo.private(channelName) .notification((notification) => {
                
                self.countValue +=1;

            });
        },
    }
}
</script>
