 <template>

    <div v-on-clickaway="clickedAway" class="control-icon more control-icon-4 has-items">

        <font-awesome-icon @click.prevent="showDropdown = true; submit = true;" icon="bell" class="top-header-icons notification-icon"/>

        <div v-if="countValue" class="label-avatar bg-primary">{{countValue ? countValue : ''}}</div>

        <div v-if="showDropdown" class="notifications-dropdown dare-notification-dropdown padding-bottom-0">
                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">Notifications <i class="icon-close" @click="isDareActive = false"></i></h6>
             </div>
            <div class="scrollbar">
                <div class="g-padding create-dare-block">
                <ul class="notification-list">

                    <li v-for="record in records" :class="['notification-event-li', !record.read_at ? 'unRead' : '']">
                        <div class="author-thumb">
                            <img :src="record.notifier | userProfileImage" alt="author">
                        </div>
                        <div :class="['notification-event', !record.read_at ? 'unRead' : '']">
                            <span>
                                <a href="#" class="h6 notification-friend">{{record.notifier_name}}</a>{{record.text}}<a href="#" @click.prevent="routeToNotificationObject(record)">View</a>
                            </span>

                        </div>

                    </li>

                    <no-records-found v-if="showNoRecordFound"></no-records-found>

                </ul>                                         
                </div>
            </div>  
        </div>

        <common-methods @form-submitted="countValue=0" :submit="submit" :submitUrl="submitUrl" :hideLoader="true" :submitType="'post'" :infiniteLoad="infiniteLoad"  :url="requestUrl" @get-response="getResponse"></common-methods>

        <common-methods :hideLoader="true"  :url="countUrl" @get-response="getCountResponse"></common-methods>

    </div>

</template>

<script>                    
import { directive as onClickaway } from 'vue-clickaway';
export default{
    data(){
        return {
            infiniteLoad : false,
            forceValue : true,
            showDropdown : false,
            records : [],
            url : 'notification?pagination=true&type=general',
            countUrl : 'notification/count?type=general',
            showNoRecordFound : false,
            countValue : 0,
            submit : false,
            submitUrl : 'notification/read?type=general',
        }
    },
    directives: {
        onClickaway: onClickaway,
    },
    computed : {
        requestUrl(){
            return this.url;

        },
    },
    mounted () {
        let self = this;
        setTimeout(function () {
            self.subscribeChannel();
        } , 2000);

    },
    methods : {
        routeToNotificationObject(notification){
            
            if(notification.type == 'dare'){
                let response = {
                    data : notification.notifying_object
                }
                this.$emit('get-response' , response);
            }
            if(notification.type == 'post'){
                if(notification.notifying_object){               
                    this.$router.push({ name: 'post.show' , params : { id  : notification.notifying_object._id }});
                }

            }
            console.log(notification ,21321);
            if(notification.type == 'event'){
                if(notification.notifying_object){               
                    console.log(notification.notifying_object);
                    this.$router.push({ name: 'event.home' , params : { id  : notification.notifying_object.id }});
                }

            }



        },
        subscribeChannel(){
            let self = this
            let channelName = 'App.Data.Models.User.'+this.$store.getters.getAuthUser.id;
            window.Echo.private(channelName) .notification((notification) => {

                self.countValue += 1;

                self.records.unshift(notification);

            });
        },

        getCountResponse(response){
            if(response.noRecordFound){
                this.countValue = response.data;
            }
        },

        getResponse(response){
            if(response.data){
                for (var i = 0; i < response.data.length; i++) {
                    this.records.push(response.data[i]);
                }
                this.infiniteLoad = true;
            }

            if(response.noRecordFound){
                this.showNoRecordFound = response.noRecordFound; 
            }
        },
        clickedAway(){
            this.showDropdown = false;
        },

    },
    watch: {
        '$route' (to, from) {
            this.clickedAway();
        },
        
    }

}
</script>