<template>

    <div v-on-clickaway="clickedAway" class="author-page more author vcard inline-items">
        <div class="author-thumb">
            <img @click.prevent="showDropdown = true"  alt="author" :src="imageValue | userProfileImage"class="avatar">
            <span class="icon-status online"></span>
            <div v-if="showDropdown" class="notifications-dropdown top-menu-dropdown profile-dropdown">
                    <ul class="account-settings">
                        <li>
                            <router-link tag="a" :to="{ name: 'user.profile.timeline' , params : { id : authUserId } }">
                                <span>{{$store.getters.getAuthUser ? $store.getters.getAuthUser.first_name : 'Profile'}}</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link tag="a" :to="{ name: 'settings' }">
                                <span>Profile Settings</span>
                            </router-link>
                        </li>
                        <li>
                            <a @click.prevent="logout()" href="#" class="log-out">
                                <span>Log Out</span>
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>


</template>


<script>
import { directive as onClickaway } from 'vue-clickaway';
export default{
    directives: {
        onClickaway: onClickaway,
    },
    data(){
        return {
            showDropdown : false,                    
            url: 'user/me',
        }
    },
    methods:{
        clickedAway(){
            this.showDropdown = false;
        },
        getUser(){
            let self = this;
            let url = self.url;

            self.$http.get(url).then(response=>{

                this.$store.commit('setAuthUser' , response.body.response.data);

            }).catch(error=>{

            });
        },
        logout: function () {

            let self = this;
            this.$http.get('user/logout').then(response=>{
                var data = response.body.response.data;
                this.$auth.destroyToken();
                window.location.href = '/login';
            });

        },
    },
    mounted(){
        this.getUser();
    },

    computed : {
        authUserId (){
                return this.$store.getters.getAuthUser ? this.$store.getters.getAuthUser.id : ''
        },
        imageValue(){
            if(this.$store.getters.getAuthUser){
                this.editUser = this.$store.getters.getAuthUser;          
                return  this.$store.getters.getAuthUser;
            }
        }
    },
    watch: {
        '$route' (to, from) {
            this.clickedAway();
        }
    }

}
</script>