<template>

    <div>
        <div class="form-group with-icon label-floating is-empty">
            <label class="control-label"></label>
            
            <textarea v-model="formData.caption" class="form-control" placeholder="share what you are thinking here..."></textarea>

        </div>
        <div class="add-options-message">
            <div v-if="!imagevalue" class="upload-panel upload-icon-style text-center">
                <div id="__bvid__148__bv_file_outer_" class="custom-file b-form-file">
                <i class="icon-image"></i>    
                <input @change="onfilechange" type="file" id="__bvid__148" accept=".jpeg, .png, .jpg, .jpeg" aria-describedby="__bvid__148__bv_file_control_" class="custom-file-input"></div></div>

                <button data-intro="Upload your first image and get started" @click.prevent="update();" :class="['btn', 'btn-primary', 'btn-sm' , loading ? 'show-spinner' : '']">
                    <loader></loader>
                    <span>Post Status</span>
                </button>
                <div id="upload-image" class="avatar-uploader status-uploaded-thumnail">
                    <div v-show="imagevalue">
                        <img  id="image_placeholder" :src="imagevalue"/>
                        <span class="img-overlay">
                            <i :class="['icon-highlight_off']" @click="removeimage"></i>                            
                        </span>
                    </div>
                </div>
                <alert-messages  class="post-message-alert col-lg-8 col-md-8 col-sm-8 col-xs-8" :errorMessages="errorMessages" :successMessage="successMessage"></alert-messages> 
            </div>
        </div>


    </template>

    <script>
    export default{
        data(){
            return{
                successMessage : '',
                errorMessages : '',
                loading : false,
                formData : {
                    caption : '',
                    image : '',
                    file  : ''
                },
                url : 'post',

            }
        },
        mounted(){
        },
        methods: {
            update(){
                let self = this;
                this.errorMessages = '';
                if (!this.formData.image){
                    this.errorMessages = ['Please select an image to upload'];
                    return false;
                }
                self.loading = true;


                const data = new FormData()
                data.append('image', self.formData.file, self.formData.file.name)
                data.append('caption', self.formData.caption)

                self.$http.post(self.url , data).then(response=>{
                    self.clearfields();
                    self.loading = false;
                    self.$emit('post-created' , response.data.response.data);

                }).catch(error=>{
                    console.log(error , 'error values');
                });

            },
            onfilechange(e)
            {
                this.errorMessages = '';
                var files = e.target.files || e.datatransfer.files;
                if (!files.length)
                    return;

                this.formData.file = files[0]; 

                this.createimage(files[0]);
            },
            createimage(file)
            {   
                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = function (e) {
                    vm.formData.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            removeimage: function (e) {
                this.formData.image = '';
            },
            clearfields(){
                this.formData.caption = '';
                this.formData.file  = '';
                this.removeimage()
            },
        },
        computed : {
            userImage(){
                if(this.$store.getters.getauthuser){
                    this.edituser = this.$store.getters.getauthuser;          
                    return  this.$store.getters.getauthuser.file_path  ? this.$store.getters.getauthuser.file_path : this.image;
                }
            }, 
            imagevalue(){
                return this.formData.image;
            },
        }

    }
    </script>


    <style>

    .label-floating.with-icon .form-control, .label-floating.with-icon input, .label-floating.with-icon textarea {
        padding-left:15px;
    }
    
    #upload-image{
        margin-bottom : 20px !important;
    }

    </style>
