<template>

    <div v-if="post" class="ui-block user-post feed-post">
        <article class="hentry post has-post-thumbnail">

            <div class="post__author author vcard inline-items">
                <router-link tag="a" class="h6 post__author-name fn" :to="{ name: 'user.profile.timeline' , params : {id : post.user.id} }">

                    <img :src="post.user | userProfileImage" alt="author">

                </router-link>

                <div class="author-date">


                    <router-link tag="a" class="h6 post__author-name fn" :to="{ name: 'user.profile.timeline' , params : {id : post.user.id} }">
                        {{ post ? post.user.first_name : ''}}
                    </router-link>

                    <div class="post__date">
                        <time class="published" datetime="2004-07-24T18:18">
                            {{ post ? post.formatted_created_at : ''}}
                        </time>
                    </div>
                </div>

                <div v-can="post.user_id"  v-on-clickaway="clickedAway" @click="showDropdown = true;" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                    <ul v-if="showDropdown" class="more-dropdown">
                        <li>
                            <a @click.prevent="$emit('confirm-delete')" href="#">Delete Post</a>
                        </li>
                    </ul>
                </div>

            </div>

            <p>
                
                <dynamic-link v-if="post.caption" :text="post.caption"></dynamic-link>
                

            </p>

            <div class="post-thumb">
                <img v-lazy="post.file_path" alt="photo">
            </div>

            <div class="post-additional-info inline-items">

                <img v-if="loadingLike" class="loading-image-spinner" src="/images/image-loading-spinner.svg" alt="">
                <a v-if="!loadingLike" @click.prevent="likePost" href="#" :class="['post-add-icon', 'inline-items' , post.liked ? 'active' : '']">
                    <svg class="olymp-heart-icon"><use xlink:href="/icons/icons.svg#olymp-heart-icon"></use></svg>
                    <span>{{post.likeCount ? post.likeCount : 0}}</span>
                </a>

                <ul class="friends-harmonic">
                    <li v-for="user in post.userLikes">
                        <router-link  :to="{ name : 'user.profile.timeline' , params : { id : post.userLikes[0].id}}">
                            <img :src="user | userProfileImage" alt="friend">
                        </router-link>
                    </li>
                </ul>

                <div v-if="post.userLikes" class="names-people-likes">
                    <router-link  :to="{ name : 'user.profile.timeline' , params : { id : post.userLikes[0].id}}"> {{post.userLikes[0].first_name}}</router-link><span v-if="post.userLikes[1]"> and
                        <br>{{post.likes.length-1}} more</span> liked this
                    </div>


                    <div class="comments-shared">
                        <a @click.prevent="showComments = !showComments;" href="#" class="post-add-icon inline-items">
                            <svg class="olymp-speech-balloon-icon"><use xlink:href="/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
                            <span>{{post.commentsCount}}</span>
                        </a>
                    </div>


                </div>

                <div class="control-block-button post-control-button">

                    <img v-if="loadingLike" class="loading-image-spinner" src="images/image-loading-spinner.svg" alt="">
                    <a v-if="!loadingLike" @click.prevent="likePost" href="#" :class="['btn' , 'btn-control' , post.liked ? 'active' : '']">
                        <svg class="olymp-like-post-icon"><use xlink:href="/icons/icons.svg#olymp-like-post-icon"></use></svg>
                    </a>

                    <a @click.prevent="showComments = !showComments;" href="#" class="btn btn-control">
                        <svg class="olymp-comments-post-icon"><use xlink:href="/icons/icons.svg#olymp-comments-post-icon"></use></svg>
                    </a>


                </div>

            </article>


            <button @click.prevent="loadMore()" v-if="showComments && pagination && pagination.current != pagination.next"  :class="['btn' , 'full-width' , 'more-comments' ,  loading ? 'show-spinner' : '']"><span>View more comments <span>+</span></span>
                <loader></loader>
            </button>

            <comments
            :moreComments="moreComments"
            v-show="showComments"
            v-if="post.comments"
            :records="post.comments">
            </comments>


            <create-comment @comment-created="commentCreated" v-if="showComments" :postId="post._id"></create-comment>  

        </div>


    </template>	

    <script>
    import { directive as onClickaway } from 'vue-clickaway';

    export default{
        directives: {
            onClickaway: onClickaway,
        },

        props : ['record'],
        watch : {
            record(value){
                if(value){
                    this.post = value;
                    this.pagination = value.comments.pagination;
                }

            }
        },
        data(){
            return{
                loadingLike : false,
                loading : false,
                showComments : false,
                url : 'like',
                showNoRecordFound : false,
                pagination : '',
                showDropdown : false,
                post : '',
                moreComments : []
            }
        },
        mounted(){
            this.post = this.record;
            if(this.record){
                this.pagination = this.record.comments.pagination;
            }
        },
        methods : {
            clickedAway(){
                this.showDropdown = false;
            },
            likePost(){
                let self = this;

                let data = {
                    post_id : self.post._id,
                };
                this.loadingLike = true;

                if(self.post.liked){
                    var query = '?liked='+self.post.liked;
                    self.$http.delete(self.url+'/'+self.post._id+query).then(response=>{
                        self.post = response.body.response.data;
                        self.loadingLike = false;
                    });
                    return false;
                }

                self.$http.post(self.url , data).then(response=>{
                    self.post = response.body.response.data;
                    self.loadingLike = false;
                });

            },
            commentCreated(data){
                this.post = data;
                this.pagination = data.comments.pagination;
            },
            loadMore(){
                let self = this;
                if(self.pagination && self.pagination.current != self.pagination.next)
                {
                    self.loading = true;
                    let page = self.pagination.next;
                    let url = 'comment?+post_id='+self.post._id+'&pagination=true&page='+page;
                    self.$http.get(url).then(response=>{
                        response = response.body.response;

                        self.loading = false;
                        self.moreComments = response.data;
                        self.pagination = response.pagination;
                    });
                }
            }
        }
    }
    </script>
