<template>

    <div>


        <post @confirm-delete="currentRecord = record; showModalValue = true;" :key="record._id" v-for="record in records" :record="record"></post>


        <no-records-found v-if="showNoRecordFound"></no-records-found>

        <confirm-popup :submitType="'delete'" :submitUrl="submitUrl" @hide-modal="showModalValue = false;" :showModalValue="showModalValue"></confirm-popup>

        <common-methods :infiniteLoad="true"  :url="requestUrl" @get-response="getResponse"></common-methods>

    </div>

</template>	


<script>

export default{
    props : ['newPost'],
    data(){
        return{
            records : [],
            url : 'post?pagination=true',
            showNoRecordFound : false,
            search : '',
            showModalValue : false,
            currentRecord : ''
        }
    },
    mounted(){
    },
    methods: {
        getResponse(response){
            if(response.data){
                this.records = response.data;
            }
            if(response.noRecordFound){
                this.showNoRecordFound = response.noRecordFound; 
            }
        }
    },
    computed : {
        requestUrl(){
            let url = this.url;
            if(this.$route.params.id){
                url += '&user_id='+this.$route.params.id;
            }
            return url;
        },
        submitUrl(){
            if(this.currentRecord){ 
                return 'post/'+this.currentRecord.post._id;
            }
        }

    },
    watch :{
        $route(route){
            let self = this;
            self.pagination = null;
            self.records = [];
        },

        newPost(value){
            this.records.unshift(value);
        }
    }
}
</script>
