<template>
	
	
	<div>
		
		<post v-if="record && Object.keys(record).length" @confirm-delete="currentRecord = record; showModalValue = true;" :key="record._id" :record="record"></post>

		<confirm-popup :submitType="'delete'" :submitUrl="submitUrl" @hide-modal="showModalValue = false;" :showModalValue="showModalValue"></confirm-popup>

		<common-methods :url="requestUrl" @get-response="getResponse"></common-methods>


	</div>


</template>
<script>

export default{
	data(){
		return{
			record : '',
			url : 'post',
			showNoRecordFound : false,
			showModalValue : false,
			currentRecord : ''
		}
	},
	mounted(){
	},
	methods: {
		getResponse(response){
			if(response.data){
				this.record = response.data;
			}
			if(response.noRecordFound){
				this.showNoRecordFound = response.noRecordFound; 
			}
		}
	},
	computed : {
		requestUrl(){
			let url = this.url;
			url += '/'+this.$route.params.id;
			return url;
		},
		submitUrl(){
			if(this.currentRecord){ 
				return 'post/'+this.currentRecord.post._id;
			}
		}

	},
	watch :{
		$route(route){
			let self = this;
			self.record = [];
		},
	}
}
</script>
